@page
@model AssemblyModel
@{
	ViewData["Title"] = "Производственная сборка изделий авиационной техники";
}



<div class="container content-page">
	<section class="content">
		<a id="plane" class="plane" href="#sidebar"></a>
		<h2 class="section-title">
			Производственная сборка изделий авиационной техники
		</h2>

		<ul class="page-navigation">
			<li>
				<a href="#tasks">
					Цели и задачи
				</a>
			</li>
			<li>
				<a href="#plan">
					План помещения
				</a>
			</li>
			<li>
				<a href="#events">
					События
				</a>
			</li>
			<!--
			<li>
				<a href="#career-guidance-events">
					Профориентационные мероприятия
				</a>
			</li>
			-->
			<li>
				<a href="#instruction">
					Должностная инструкция заведующего
				</a>
			</li>
			<li>
				<a href="#programs">
					Перечень программ
				</a>
			</li>
			<li>
				<a href="#experts">
					Свидетельства экспертов
				</a>
			</li>
			<li>
				<a href="#photo-report">
					Фотоотчет
				</a>
			</li>
			<li>
				<a href="#before">
					Вид до начала создания
				</a>
			</li>
		</ul>


		<h3 id="tasks" class="section-subtitle">
			Цели и задачи
		</h3>
		<ul class="documents-list little">
			<li class="document-item">
				<div class="document-item-head">
					<a target="_blank" href="~/documents/projectsAndEvents/education/newWorkshops2022/assembly/zadachi.pdf">
					</a>
				</div>
				<div class="document-item-body">
					Цели и задачи мастерской
				</div>
			</li>
		</ul>

		<h3 id="plan" class="section-subtitle">
			План помещения
		</h3>
		<ul class="documents-list little">
			<li class="document-item">
				<div class="document-item-head">
					<a target="_blank" href="~/documents/projectsAndEvents/education/newWorkshops2022/assembly/planPomeshenia.pdf">
					</a>
				</div>
				<div class="document-item-body">
					План помещения мастерской
				</div>
			</li>
		</ul>


		<h3 id="events" class="section-subtitle">
			События
		</h3>
		<h4 class="section-subtitle-small">
			Торжественное открытие мастерских
		</h4>
		<p>
			31 августа 2022 года в БПОУ ОО «Омский авиационный колледж имени Н.Е. Жуковского» состоится торжественное открытие мастерских, оборудованных в рамках национального проекта «Образование» по направлению «Обслуживание транспорта и логистика» по компетенциям: «Производственная сборка изделий авиационной техники», «Обслуживание авиационной техники».
		</p>
		<p>
			Исторически Омский авиационный колледж имени Н.Е. Жуковского ведет подготовку специалистов по производству авиационной техники с 1941 года, обслуживанию авиационной техники (с 2017 г.), и по сей день является единственной в регионе образовательной организацией по подготовке специалистов данного сектора экономики.
		</p>
		<p>
			Студенты специальностей технической авиационной направленности Омского авиационного колледжа имени Н.Е. Жуковского - 24.0202 «Производство авиационных двигателей», 24.02.01 «Производство летательных аппаратов», 25.02.07 «Техническое обслуживание авиационных двигателей» - ежегодно являются активными участниками и призерами научно-практических конференций, фестивалей и конкурсов технического творчества регионального и общероссийского уровней. Колледж ежегодно обеспечивает предприятия и организации промышленности, в том числе ВПК, дипломированными специалистами.
		</p>
		<p>
			В 2022 году при поддержке Правительства Омской области БПОУ ОО «Омавиат» стал победителем конкурсного отбора на предоставление из федерального бюджета гранта в форме субсидий юридическим лицам в рамках реализации мероприятия «Государственная поддержка профессиональных образовательных организаций в целях обеспечения соответствия их материально-технической базы современным требованиям» федерального проекта «Профессионалы» (Повышение конкурентоспособности профессионального образования) национального проекта «Образование» государственной программы РФ «Развитие образования» по направлению «Обслуживание транспорта и логистика». Сумма гранта составила 26 334 тыс. руб.
		</p>
		<p>
			Основной объем средств был направлен на обновление материально-технической базы колледжа, приобретение современнейшего учебно-лабораторного и учебно-производственного оборудования: тренажеров, стендов, высокотехнологичных симуляторов для подготовки, переподготовки, обучения и повышения квалификации. Создание мастерских позволит не только повысить качество обучения студентов Омского авиационного колледжа, но и через механизм сетевого взаимодействия охватить современной подготовкой студентов профессиональных образовательных организаций Омской области, активно вовлекать в профессию омских школьников, людей всех возрастов, минимизировать дистанцию между работодателями и трудоспособным населением региона.
		</p>
		<p>
			Мастерские, оснащенные оборудованием подобного уровня, являются одним из факторов успешной занятости квалифицированными специалистами высокотехнологических рабочих мест в Омском регионе.
		</p>
		<h4 class="section-subtitle-small">
			Новые мастерские Омавиат
		</h4>
		<p>
			31 августа 2022 года в 10.00 в бюджетном профессиональном образовательном учреждении «Омский авиационный колледж имени Н.Е. Жуковского» состоялось торжественное открытие мастерских, оборудованных в рамках национального проекта «Образование» по направлению «Обслуживание транспорта и логистика» по компетенциям: «Производственная сборка изделий авиационной техники», «Обслуживание авиационной техники».
		</p>
		<p>
			Исторически Омский авиационный колледж имени Н.Е. Жуковского осуществляет подготовку специалистов по производству авиационной техники с 1941 года, обслуживанию авиационной техники (с 2017 г.), и на сегодняшний день является единственной в регионе образовательной организацией по подготовке специалистов данного сектора экономики.
		</p>
		<p>
			Студенты специальностей технической авиационной направленности Омского авиационного колледжа имени Н.Е. Жуковского - 24.0202 «Производство авиационных двигателей», 24.02.01 «Производство летательных аппаратов», 25.02.07 «Техническое обслуживание авиационных двигателей» - ежегодно являются активными участниками и призерами научно-практических конференций, фестивалей и конкурсов технического творчества регионального и общероссийского уровней. Колледж стабильно обеспечивает предприятия и организации промышленности, в том числе ВПК, дипломированными специалистами.
		</p>
		<p>
			В 2022 году из бюджета Омской области Министерством образования Омской области Омскому авиационного колледжу была предоставлена субсидия на создание (обновление) материально-технической базы образовательных организаций, реализующих программы среднего профессионального образования в рамках реализации мероприятия государственной программы Омской области «Развитие системы образования Омской области». Размер субсидии - 26 334 693 руб. 87 коп.
		</p>
		<p>
			Основной объем средств был направлен на обновление материально-технической базы колледжа, приобретение современного учебно-лабораторного и учебно-производственного оборудования. Для мастерских приобретено:
		</p>
		<ul class="customized">
			<li>
				Верстак слесарный однотумбовый в количестве 10 шт
			</li>
			<li>
				Тиски слесарные с ручным приводом в количестве 10 шт
			</li>
			<li>
				Тиски слесарные с ручным приводом в количестве 10 шт
			</li>
			<li>
				Пресс пневматический для клёпки заклепок в количестве 10 шт
			</li>
			<li>
				Машина пневматическая отрезная в количестве 10 шт
			</li>
			<li>
				Сверлильная машина пневматическая в количестве 10 шт
			</li>
			<li>
				Гибочный станок (для ручной гибки листового материала) в количестве 2 ед. и многое другое - всего 84 наименования специального оборудования и инструментов.
			</li>
		</ul>
		<p>
			Колледж проделал огромную работу по ремонту помещений, модернизации коммуникаций и инфраструктуры, закупке оборудования, брендированию мастерских. Было затрачено в общем объеме около 3 млн. руб. собственных средств учреждения.
		</p>
		<p>
			Оборудование такого уровня в профессиональной образовательной организации обеспечит высокий уровень профессиональной подготовки специалистов для данного сектора экономики Омского региона.
		</p>
		<h4 class="section-subtitle-small">
			Другие события
		</h4>
		<ul class="documents-list little">
			<li class="document-item">
				<div class="document-item-head">
					<a target="_blank" href="~/documents/projectsAndEvents/education/newWorkshops2022/assembly/DE_PSIAT_D 310.docx">
					</a>
				</div>
				<div class="document-item-body">
					Демонстрационный экзамен по компетенции «Производственная сборка изделий авиационной техники» Д310
				</div>
			</li>
			<li class="document-item">
				<div class="document-item-head">
					<a target="_blank" href="~/documents/projectsAndEvents/education/newWorkshops2022/assembly/DE_PSIAT_D 310 _ITOGI.docx">
					</a>
				</div>
				<div class="document-item-body">
					Демонстрационный экзамен по компетенции «Производственная сборка изделий авиационной техники» Д310 ИТОГИ
				</div>
			</li>
		</ul>

		<!--
		<h3 id="career-guidance-events" class="section-subtitle">
			Профориентационные мероприятия
		</h3>
		-->


		<h3 id="instruction" class="section-subtitle">
			Должностная инструкция заведующего
		</h3>
		<ul class="documents-list little">
			<li class="document-item">
				<div class="document-item-head">
					<a target="_blank" href="~/documents/projectsAndEvents/education/newWorkshops2022/assembly/instrukcia.pdf">
					</a>
				</div>
				<div class="document-item-body">
					Должностная инструкция заведующего мастерской
				</div>
			</li>
		</ul>


		<h3 id="programs" class="section-subtitle">
			Перечень программ
		</h3>
		<h4 class="section-subtitle-small">
			Образовательные программы СПО
		</h4>
		<p>
			<b>
				Специальность: 24.02.01 Производство летательных аппаратов
			</b>
		</p>
		<ul class="customized">
			<li>
				<a href="https://disk.yandex.ru/i/ICllWOcF7tmZOQ" target="_blank">
					Программа профессионального модуля ПМ.01 Техническое сопровождение производства летательных аппаратов и разработка технологической документации (в рамках структурного подразделения организации отрасли)
				</a>
			</li>
			<li>
				<a href="https://disk.yandex.ru/i/KanF3GfPYX_5RA" target="_blank">
					Программа профессионального модуля ПМ.04 Выполнение работ по профессии 18466 Слесарь механосборочных работ
				</a>
			</li>
		</ul>
		<p>
			<b>
				Специальность 24.02.02 Производство авиационных двигателей
			</b>
		</p>
		<ul class="customized">
			<li>
				<a href="https://disk.yandex.ru/i/NDpeI3o3SB9J6g" target="_blank">
					Программа профессионального модуля ПМ.01 Конструкторско-технологический модуль
				</a>
			</li>
			<li>
				<a href="https://disk.yandex.ru/i/sQU1EyxTo53I7Q" target="_blank">
					Программа профессионального модуля ПМ.04 Выполнение работ по профессии 18466 Слесарь механосборочных работ
				</a>
			</li>
		</ul>
		<h4 class="section-subtitle-small">
			Программы ПО, ДПО по компетенциям
		</h4>
		<ul class="customized">
			<li>
				<a href="https://disk.yandex.ru/i/QmtxuMiWsVep0g" target="_blank">
					Программа профессионального обучения (переподготовка) по профессии «18567 Слесарь-сборщик летательных аппаратов» 2 разряда
				</a>
			</li>
			<li>
				<a href="https://disk.yandex.ru/i/BWUn-bPxmZuvxQ" target="_blank">
					Программа дополнительного профессионального образования (профессиональная переподготовка) по профессии «18466 Слесарь механосборочных работ» 2 разряда
				</a>
			</li>
			<li>
				<a href="https://disk.yandex.ru/i/iM7nt8pBMMCVxA" target="_blank">
					Программа дополнительного профессионального образования (профессиональная переподготовка) по профессии «18466 Слесарь механосборочных работ» 2 разряда
				</a>
			</li>
		</ul>
		<h4 class="section-subtitle-small">
			Программы повышения квалификации и переподготовки рабочих и служащих и дополнительного образования
		</h4>
		<ul class="customized">
			<li>
				Программа профессионального обучения (повышение квалификации) по профессии «18567 Слесарь-сборщик летательных аппаратов» 3 разряда
			</li>
			<li>
				Программа дополнительного профессионального образования (повышение квалификации) по профессии «12801 Клепальщик» 3 разряда
			</li>
			<li>
				Программа профессионального обучения (повышение квалификации) по профессии «18567 Слесарь-сборщик летательных аппаратов» 3 разряда
			</li>
		</ul>
		<h4 class="section-subtitle-small">
			Дополнительные общеобразовательные программы
		</h4>
		<ul class="customized">
			<li>
				Дополнительная общеобразовательная программа “Знакомство с композитным материалом” (с учетом стандарта Ворлдскиллс по компетенции “ Производственная сборка изделий авиационной техники ”)
			</li>
		</ul>


		<h3 id="experts" class="section-subtitle">
			Свидетельства экспертов
		</h3>
		<ul class="customized">
			<li>
				<a href="https://disk.yandex.ru/i/oR_L57XyikZr1w" target="_blank">
					Якубовский Андрей Ярославович
				</a>
			</li>
		</ul>


		<h3 id="photo-report" class="section-subtitle">
			Фотоотчет
		</h3>
		<ul class="documents-list little">
			<li class="document-item">
				<div class="document-item-head">
					<a target="_blank" href="~/documents/projectsAndEvents/education/newWorkshops2022/assembly/otchet.pdf">
					</a>
				</div>
				<div class="document-item-body">
					Фотоотчет мастерской
				</div>
			</li>
		</ul>


		<h3 id="before" class="section-subtitle">
			Вид до начала создания
		</h3>
		<img class="customized" src="~/images/projectsAndEvents/education/newWorkshops2022/assembly/vidDoSozdania.jpg" alt="">

	</section>
	<aside id="sidebar" class="sidebar">
		<h3 class="sidebar-title">
			Новые мастерские 2022
		</h3>
		<nav class="sidebar-body">
			<ul class="sidebar-links">
				<li class="sidebar-link">
					<a href='@Url.Page("About")'>
						О мастерских
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("Mechatronics")'>
						Мехатроника
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("Electronics")'>
						Электроника
					</a>
				</li>
				<li class="sidebar-link sidebar-link-selected">
					<a href='@Url.Page("Assembly")'>
						Производственная сборка изделий авиационной техники
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("Service")'>
						Обслуживание авиационной техники
					</a>
				</li>
			</ul>
		</nav>
	</aside>
</div>