@page
@model MechatronicsModel
@{
	ViewData["Title"] = "Мехатроника";
}



<div class="container content-page">
	<section class="content">
		<a id="plane" class="plane" href="#sidebar"></a>
		<h2 class="section-title">
			Мехатроника
		</h2>

		<ul class="page-navigation">
			<li>
				<a href="#tasks">
					Цели и задачи
				</a>
			</li>
			<li>
				<a href="#plan">
					План помещения
				</a>
			</li>
			<!--
			<li>
				<a href="#events">
					События
				</a>
			</li>
			<li>
				<a href="#career-guidance-events">
					Профориентационные мероприятия
				</a>
			</li>
			-->
			<li>
				<a href="#instruction">
					Должностная инструкция заведующего
				</a>
			</li>
			<li>
				<a href="#programs">
					Перечень программ
				</a>
			</li>
			<li>
				<a href="#experts">
					Свидетельства экспертов
				</a>
			</li>
			<li>
				<a href="#photo-report">
					Фотоотчет
				</a>
			</li>
			<li>
				<a href="#before">
					Вид до начала создания
				</a>
			</li>
		</ul>


		<h3 id="tasks" class="section-subtitle">
			Цели и задачи
		</h3>
		<ul class="documents-list little">
			<li class="document-item">
				<div class="document-item-head">
					<a target="_blank"
					   href="~/documents/projectsAndEvents/education/newWorkshops2022/mechatronics/celiZadaci.pdf">
					</a>
				</div>
				<div class="document-item-body">
					Цели и задачи мастерской
				</div>
			</li>
		</ul>

		<h3 id="plan" class="section-subtitle">
			План помещения
		</h3>
		<ul class="documents-list little">
			<li class="document-item">
				<div class="document-item-head">
					<a target="_blank"
					   href="~/documents/projectsAndEvents/education/newWorkshops2022/mechatronics/planPomechenia.pdf">
					</a>
				</div>
				<div class="document-item-body">
					План помещения мастерской
				</div>
			</li>
		</ul>


		<!--
		<h3 id="events" class="section-subtitle">
			События
		</h3>


		<h3 id="career-guidance-events" class="section-subtitle">
			Профориентационные мероприятия
		</h3>
		-->


		<h3 id="instruction" class="section-subtitle">
			Должностная инструкция заведующего
		</h3>
		<ul class="documents-list little">
			<li class="document-item">
				<div class="document-item-head">
					<a target="_blank"
					   href="~/documents/projectsAndEvents/education/newWorkshops2022/mechatronics/instrukcia.pdf">
					</a>
				</div>
				<div class="document-item-body">
					Должностная инструкция заведующего мастерской
				</div>
			</li>
		</ul>


		<h3 id="programs" class="section-subtitle">
			Перечень программ
		</h3>
		<h4 class="section-subtitle-small">
			Образовательные программы СПО
		</h4>
		<p>
			<b>
				Специальность: 15.02.10 Мехатроника и мобильная робототехника
			</b>
		</p>
		<ul class="customized">
			<li>
				<a href="https://disk.yandex.ru/i/AUWYEn3ORq6NQw" target="_blank">
					Программа профессионального модуля ПМ.01 “Монтаж, программирование и пуско-наладка мехатронных
					систем”
				</a>
			</li>
			<li>
				<a href="https://disk.yandex.ru/i/mRBap-1jgmH89A" target="_blank">
					Программа профессионального модуля ПМ.02 “Техническое обслуживание, ремонт и испытание мехатронных
					систем”
				</a>
			</li>
			<li>
				<a href="https://disk.yandex.ru/i/mRBap-1jgmH89A" target="_blank">
					Программа профессионального модуля ПМ.04 “Выполнение работ по профессии 18494 Слесарь по
					контрольно-измерительным приборам и автоматике»”
				</a>
			</li>
		</ul>
		<h4 class="section-subtitle-small">
			Программы ПО, ДПО по компетенциям
		</h4>
		<ul class="customized">
			<li>
				Программа профессионального обучения по профессии “18494 Слесарь по контрольно-измерительным приборам и
				автоматике” профессиональная переподготовка с учетом стандарта Ворлдскиллс по компетенции “Мехатроника”
			</li>
			<li>
				Программа профессионального обучения по профессии “14977 Наладчик приборов, аппаратуры и систем
				автоматического контроля, регулирования и управления (наладчик КИП и автоматики)” профессиональная
				переподготовка с учетом стандарта Ворлдскиллс по компетенции “Мехатроника”
			</li>
		</ul>
		<h4 class="section-subtitle-small">
			Программы повышения квалификации и переподготовки рабочих и служащих и дополнительного образования
		</h4>
		<ul class="customized">
			<li>
				Программа профессионального обучения по профессии “18494 Слесарь по контрольно-измерительным приборам и
				автоматике” повышение квалификации с учетом стандарта Ворлдскиллс по компетенции “Мехатроника” (3
				разряд)
			</li>
			<li>
				Программа профессионального обучения по профессии “18494 Слесарь по контрольно-измерительным приборам и
				автоматике” повышение квалификации с учетом стандарта Ворлдскиллс по компетенции “Мехатроника” (4
				разряд)
			</li>
			<li>
				Программа профессионального обучения по профессии “14977 Наладчик приборов, аппаратуры и систем
				автоматического контроля, регулирования и управления (наладчик КИП и автоматики)” повышение квалификации
				с учетом стандарта Ворлдскиллс по компетенции “Мехатроника”
			</li>
		</ul>
		<h4 class="section-subtitle-small">
			Дополнительные общеобразовательные программы
		</h4>
		<ul class="customized">
			<li>
				Дополнительная общеобразовательная программа “Разработка принципиальной электропневматической схемы
				станции транспортировки заготовок” (с учетом стандарта Ворлдскиллс по компетенции “Мехатроника”)
			</li>
		</ul>
		<h4 class="section-subtitle-small">
			Разработка программ под заказ работодателей
		</h4>
		<ul class="customized">
			<li>
				Дополнительная профессиональная программа повышения квалификации “Ремонт контрольно-измерительных
				приборов, использующих схему с двумя и более способами преобразования измеряемых физических величин в
				регистрируемые параметры” (с учетом стандарта Ворлдскиллс по компетенции “Мехатроника”)
			</li>
		</ul>


		<h3 id="experts" class="section-subtitle">
			Свидетельства экспертов
		</h3>
		<a href="">
			Кольцов Александр Германович
		</a>


		<h3 id="photo-report" class="section-subtitle">
			Фотоотчет
		</h3>
		<ul class="documents-list little">
			<li class="document-item">
				<div class="document-item-head">
					<a target="_blank"
					   href="~/documents/projectsAndEvents/education/newWorkshops2022/mechatronics/otchet.pdf">
					</a>
				</div>
				<div class="document-item-body">
					Фотоотчет мастерской
				</div>
			</li>
		</ul>


		<h3 id="before" class="section-subtitle">
			Вид до начала создания
		</h3>
		<ul class="documents-list little">
			<li class="document-item">
				<div class="document-item-head">
					<a target="_blank"
					   href="~/documents/projectsAndEvents/education/newWorkshops2022/mechatronics/vidDoSozdania.pdf">
					</a>
				</div>
				<div class="document-item-body">
					Вид до начала создания мастерской
				</div>
			</li>
		</ul>

	</section>
	<aside id="sidebar" class="sidebar">
		<h3 class="sidebar-title">
			Новые мастерские 2022
		</h3>
		<nav class="sidebar-body">
			<ul class="sidebar-links">
				<li class="sidebar-link">
					<a href='@Url.Page("About")'>
						О мастерских
					</a>
				</li>
				<li class="sidebar-link sidebar-link-selected">
					<a href='@Url.Page("Mechatronics")'>
						Мехатроника
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("Electronics")'>
						Электроника
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("Assembly")'>
						Производственная сборка изделий авиационной техники
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("Service")'>
						Обслуживание авиационной техники
					</a>
				</li>
			</ul>
		</nav>
	</aside>
</div>