@page
@model AboutModel
@{
	ViewData["Title"] = "Новые мастерские 2022";
}

<style>
	.workshops-list{
		display: grid;
		grid-template-columns: repeat(auto-fit, max(45%, 300px));
		gap: 40px;
		justify-content: center;
	}

	.workshops-list img{
		border-radius: 10px;
		transition: scale 450ms ease-in-out;
	}

	.workshops-list img:hover{
		scale: 1.1;
	}
</style>

<div class="container content-page">
	<section class="content">
		<a id="plane" class="plane" href="#sidebar"></a>
		<h2 class="section-title">
			Новые мастерские 2022
		</h2>

		<ul class="page-navigation">
			<li>
				<a href="#info">
					Основная информация
				</a>
			</li>
			<li>
				<a href="#documents">
					Официальные документы
				</a>
			</li>
			<li>
				<a href="#workshops">
					Мастерские
				</a>
			</li>
		</ul>


		<h3 id="info" class="section-subtitle">
			Основная информация
		</h3>
		<p>
			На основании письма <a href="https://edu.gov.ru/" target="_blank">Министерства просвещения Российской Федерации</a> от 14 мая 2021 года бюджетное профессиональное образовательное учреждение Омской области «Омский авиационный колледж имени Н.Е. Жуковского» принял участие и в 2021 году стал победителем конкурсного отбора на предоставление из федерального бюджета гранта в форме субсидий юридическим лицам в рамках реализации мероприятия «Государственная поддержка профессиональных образовательных организаций в целях обеспечения соответствия их материально-технической базы современным требованиям» федерального проекта «Молодые профессионалы» (повышение конкурентоспособности профессионального образования)» <a href="https://edu.gov.ru/national-project" target="_blank">национального проекта «Образование»</a> государственной программы Российской Федерации «Развитие образования» по направлениям «Промышленные и инженерные технологии» и «Обслуживание транспорта и логистика».
		</p>
		<div style="display: grid;grid-template-columns: repeat(auto-fit, 200px); gap: 30px; justify-content: center;">
			<img src="~/images/projectsAndEvents/education/newWorkshops2022/ministerstvoProsvecenia.png" alt="">
			<img src="~/images/projectsAndEvents/list/obrazovanie.png" alt="">
			<img src="~/images/projectsAndEvents/education/newWorkshops2022/m.png" alt="">
		</div>


		<h3 id="documents" class="section-subtitle">
			Официальные документы
		</h3>
		<ul class="documents-list little">
			<li class="document-item">
				<div class="document-item-head">
					<a target="_blank" href="~/documents/projectsAndEvents/education/newWorkshops2022/rekomendacii.pdf">
					</a>
				</div>
				<div class="document-item-body">
					Методические рекомендации
				</div>
			</li>
			<li class="document-item">
				<div class="document-item-head">
					<a target="_blank" href="~/documents/projectsAndEvents/education/newWorkshops2022/otbor2022.pdf">
					</a>
				</div>
				<div class="document-item-body">
					Объявление об отборе 2022
				</div>
			</li>
			<li class="document-item">
				<div class="document-item-head">
					<a target="_blank" href="~/documents/projectsAndEvents/education/newWorkshops2022/pologenieMasterskie.pdf">
					</a>
				</div>
				<div class="document-item-body">
					Положение о мастерских
				</div>
			</li>
		</ul>


		<h3 id="workshops" class="section-subtitle">
			Мастерские
		</h3>
		<div class="workshops-list">
			<a href='@Url.Page("Mechatronics")'>
				<img src="~/images/projectsAndEvents/education/newWorkshops2022/mechatronics.png" alt="">
			</a>
			<a href='@Url.Page("Electronics")'>
				<img src="~/images/projectsAndEvents/education/newWorkshops2022/electronics.png" alt="">
			</a>
			<a href='@Url.Page("Assembly")'>
				<img src="~/images/projectsAndEvents/education/newWorkshops2022/assembly.png" alt="">
			</a>
			<a href='@Url.Page("Service")'>
				<img src="~/images/projectsAndEvents/education/newWorkshops2022/service.png" alt="">
			</a>
		</div>

	</section>
	<aside id="sidebar" class="sidebar">
		<h3 class="sidebar-title">
			Новые мастерские 2022
		</h3>
		<nav class="sidebar-body">
			<ul class="sidebar-links">
				<li class="sidebar-link sidebar-link-selected">
					<a href='@Url.Page("About")'>
						О мастерских
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("Mechatronics")'>
						Мехатроника
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("Electronics")'>
						Электроника
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("Assembly")'>
						Производственная сборка изделий авиационной техники
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("Service")'>
						Обслуживание авиационной техники
					</a>
				</li>
			</ul>
		</nav>
	</aside>
</div>