@page
@model ElectronicsModel
@{
    ViewData["Title"] = "Электроника";
}



<div class="container content-page">
    <section class="content">
        <a id="plane" class="plane" href="#sidebar"></a>
        <h2 class="section-title">
            Электроника
        </h2>

        <ul class="page-navigation">
            <li>
                <a href="#tasks">
                    Цели и задачи
                </a>
            </li>
            <li>
                <a href="#plan">
                    План помещения
                </a>
            </li>
            <li>
                <a href="#events">
                    События
                </a>
            </li>
            <li>
                <a href="#career-guidance-events">
                    Профориентационные мероприятия
                </a>
            </li>
            <li>
                <a href="#instruction">
                    Должностная инструкция заведующего
                </a>
            </li>
            <li>
                <a href="#programs">
                    Перечень программ
                </a>
            </li>
            <li>
                <a href="#experts">
                    Свидетельства экспертов
                </a>
            </li>
            <li>
                <a href="#photo-report">
                    Фотоотчет
                </a>
            </li>
            <li>
                <a href="#before">
                    Вид до начала создания
                </a>
            </li>
        </ul>


        <h3 id="tasks" class="section-subtitle">
            Цели и задачи
        </h3>
        <ul class="documents-list little">
            <li class="document-item">
                <div class="document-item-head">
                    <a target="_blank" href="~/documents/projectsAndEvents/education/newWorkshops2022/electronics/zadachi.pdf">
                    </a>
                </div>
                <div class="document-item-body">
                    Цели и задачи мастерской
                </div>
            </li>
        </ul>

        <h3 id="plan" class="section-subtitle">
            План помещения
        </h3>
        <ul class="documents-list little">
            <li class="document-item">
                <div class="document-item-head">
                    <a target="_blank" href="~/documents/projectsAndEvents/education/newWorkshops2022/electronics/planPomeshenia.pdf">
                    </a>
                </div>
                <div class="document-item-body">
                    План помещения мастерской
                </div>
            </li>
        </ul>


        <h3 id="events" class="section-subtitle">
            События
        </h3>
        <h4 class="section-subtitle-small">
            «Оставь свой след в радиоэлектронике Омского региона!»
        </h4>
        <p>
            Под таким названием прошла деловая встреча представителей крупнейших омских организаций в сфере радиоэлектроники и радиоаппаратостроения со студентами Омского авиационного колледжа имени Н.Е. Жуковского, Омского государственного колледжа управления и профессиональных технологий и Омского летно-технического колледжа гражданской авиации имени А.В. Ляпидевского.
        </p>
        <p>
            Будущих молодых специалистов волнует, как быстро они адаптируются к условиям предприятия, есть ли место девушкам на производстве, чем живет завод, кроме повседневных трудовых будней, какие условия для прохождения предстоящей преддипломной практики. На эти вопросы ответили руководители по управлению персоналом АО «ЦКБА», АО «ОНИИП», ПАО «Сатурн», АО «ОмПО «Радиозавод имени А.С. Попова» (РЕЛЕРО).
        </p>
        <p>
            Лукьянов Игорь Вячеславович, заместитель Министра промышленности, связи и научно-технического развития Омской области, в завершение встречи провел совещание с представителями, обсудив пути решения кадровых вопросов на предприятиях и возможности нового проекта «Профессионалитет», в который уже вошли АО «ОНИИП», АО «ЦКБА», БПОУ «ОМАВИАТ» и БПОУ «ОГКУиПТ»
        </p>
        <p>
            «Очень живо и интересно. Формат брифинга позволил ребятам задать неожиданные вопросы, а гостям развернуто и креативно дать комментарий», - поделилась мнением присутствовавшая на мероприятии заместитель Министра образования Омской области Елена Анатольевна Корчагина.
        </p>
        <p>
            По завершении брифинга для работодателей и приглашенных гостей была проведена экскурсия по новым мастерским, в том числе по компетенции «Электроника».
        </p>
        <h4 class="section-subtitle-small">
            Другие события
        </h4>
        <ul class="documents-list little">
            <li class="document-item">
                <div class="document-item-head">
                    <a target="_blank" href="~/documents/projectsAndEvents/education/newWorkshops2022/electronics/ДЭ_Электроника_РА 429_С1,С2, С3.docx">
                    </a>
                </div>
                <div class="document-item-body">
                    ДЭ Электроника РА429 (С1, С2, С3)
                </div>
            </li>
            <!--
            <li class="document-item">
                <div class="document-item-head">
                    <a target="_blank" href="~/documents/projectsAndEvents/education/newWorkshops2022/electronics/Итоги ДЭ Электроника.docx">
                    </a>
                </div>
                <div class="document-item-body">
                    Итоги ДЭ Электроника
                </div>
            </li>
            -->
            <li class="document-item">
                <div class="document-item-head">
                    <a target="_blank" href="~/documents/projectsAndEvents/education/newWorkshops2022/electronics/С1,С2, С3_ ДЭ_Электроника.docx">
                    </a>
                </div>
                <div class="document-item-body">
                    ДЭ Электроника Ра419 (С1, С2, С3)
                </div>
            </li>
            <li class="document-item">
                <div class="document-item-head">
                    <a target="_blank" href="~/documents/projectsAndEvents/education/newWorkshops2022/electronics/Электроника С-1.docx">
                    </a>
                </div>
                <div class="document-item-body">
                    ДЭ Электроника (С-1)
                </div>
            </li>
        </ul>


        <h3 id="career-guidance-events" class="section-subtitle">
            Профориентационные мероприятия
        </h3>
        <h4 class="section-subtitle-small">
            День открытых дверей
        </h4>
        <p>
            Октябрь месяц 2022 года для школьников города Омска и Омской области, преподавателей и волонтеров БПОУ ОО «Омский авиационный колледж имени Н.Е. Жуковского» выдался насыщенным и интересным на разнообразные события.
        </p>
        <p>
            В течение месяца в рамках федерального проекта «Профессионалитет» и Всероссийской акции «Неделя без турникета» на базе мастерских были организованы мастер-классы с проведением профессиональных проб, экскурсии по колледжу, дни открытых дверей.
        </p>
        <p>
            Так, более 300 школьников из 15 общеобразовательных организаций города Омска и Омской области (№№ 9, 10, 11, 45, 50, 54, 56, 61, 72, 116, 118,138, 142, Кадетская СОШ, Максимовская СОШ Омского муниципального района, Черлакская СОШ Черлакского муниципального района) имели возможность попробовать себя в роли специалистов на мастер-классах по направлениям «Машиностроение» и «IT-технологии».
        </p>
        <p>
            В колледже, где мастерские оснащены современным оборудованием, ребятам было предложено в мастерской «Электроника» самостоятельно, при профессиональной поддержке студентов колледжа, выполнить пайку проводов резистора по предлагаемой схеме.
        </p>
        <p>
            Школьники смогли задать преподавателям колледжа интересующие их вопросы о востребованности профессий и специальностях, возможности трудоустройства после окончания колледжа. Также ребята получили исчерпывающую информацию о правилах поступления в колледж, о том, как учатся и отдыхают студенты нашего колледжа.
        </p>
        <p>
            Студенты колледжа показали свои работы, которые были представлены на выставке технического творчества.
        </p>


        <h3 id="instruction" class="section-subtitle">
            Должностная инструкция заведующего
        </h3>
        <ul class="documents-list little">
            <li class="document-item">
                <div class="document-item-head">
                    <a target="_blank" href="~/documents/projectsAndEvents/education/newWorkshops2022/electronics/instrukcia.pdf">
                    </a>
                </div>
                <div class="document-item-body">
                    Должностная инструкция заведующего мастерской
                </div>
            </li>
        </ul>


        <h3 id="programs" class="section-subtitle">
            Перечень программ
        </h3>
        <h4 class="section-subtitle-small">
            Образовательные программы СПО
        </h4>
        <p>
            <b>
                Специальность: 12.02.03 Радиоэлектронные приборные устройства
            </b>
        </p>
        <ul class="customized">
            <li>
                <a href="https://disk.yandex.ru/i/QRjYR_QoogxA-Q" target="_blank">
                    Программа профессионального модуля ПМ.01 “Разработка конструкций типовых деталей и узлов радиоэлектронных приборных устройств и систем”
                </a>
            </li>
            <li>
                <a href="https://disk.yandex.ru/i/cqMtx-ctPp6JrA" target="_blank">
                    Программа профессионального модуля ПМ.04 “Выполнение работ по профессии 14618 Монтажник радиоэлектронной аппаратуры и приборов”
                </a>
            </li>
        </ul>
        <p>
            <b>
                Профессия: 11.01.01 Монтажник радиоэлектронной аппаратуры и приборов
            </b>
        </p>
        <ul class="customized">
            <li>
                <a href="https://disk.yandex.ru/i/DAfvftmXL8xM_Q" target="_blank">
                    Программа профессионального модуля ПМ.03 “Регулировка, диагностика и мониторинг работоспособности смонтированных узлов, блоков и приборов радиоэлектронной аппаратуры, аппаратуры проводной связи, элементов узлов импульсной и вычислительной техники”
                </a>
            </li>
        </ul>
        <h4 class="section-subtitle-small">
            Программы ПО, ДПО по компетенциям
        </h4>
        <ul class="customized">
            <li>
                <a href="https://disk.yandex.ru/i/n40YZtCP18Nfjg" target="_blank">
                    Программа профессионального обучения по профессии “14618 Монтажник радиоэлектронной аппаратуры и приборов” переподготовка с учетом стандарта Ворлдскиллс по компетенции “Электроника”
                </a>
            </li>
            <li>
                Программа профессионального обучения по профессии “18569 Слесарь-сборщик радиоэлектронной аппаратуры и приборов” переподготовка с учетом стандарта Ворлдскиллс по компетенции “Электроника”
            </li>
        </ul>
        <h4 class="section-subtitle-small">
            Программы повышения квалификации и переподготовки рабочих и служащих и дополнительного образования
        </h4>
        <ul class="customized">
            <li>
                <a href="https://disk.yandex.ru/i/MaGn7-37CMBNVw" target="_blank">
                    Программа профессионального обучения по профессии “14618 Монтажник радиоэлектронной аппаратуры и приборов” повышение квалификации с учетом стандарта Ворлдскиллс по компетенции “Электроника”
                </a>
            </li>
            <li>
                Программа профессионального обучения по профессии “18569 Слесарь-сборщик радиоэлектронной аппаратуры и приборов” повышение квалификации с учетом стандарта Ворлдскиллс по компетенции “Электроника”
            </li>
        </ul>
        <h4 class="section-subtitle-small">
            Дополнительные общеобразовательные программы
        </h4>
        <ul class="customized">
            <li>
                Дополнительная общеобразовательная программа “Проектирование схемотехники” (с учетом стандарта Ворлдскиллс по компетенции “Электроника”)
            </li>
            <li>
                Дополнительная общеобразовательная программа “Знакомство с паяльником” (с учетом стандарта Ворлдскиллс по компетенции “Электроника”)
            </li>
        </ul>
        <h4 class="section-subtitle-small">
            Разработка программ под заказ работодателей
        </h4>
        <ul class="customized">
            <li>
                Дополнительная профессиональная программа повышения квалификации “Сборка сложных радиоэлектронных устройств” (с учетом стандарта Ворлдскиллс по компетенции “Электроника”)
            </li>
        </ul>


        <h3 id="experts" class="section-subtitle">
            Свидетельства экспертов
        </h3>
        <ul class="customized">
            <li>
                <a href="https://disk.yandex.ru/i/1xHNQkK43kpHIg" target="_blank">
                    Григорьев Юрий Петрович
                </a>
            </li>
            <li>
                <a href="https://disk.yandex.ru/i/iQEfSBEQoIRjag" target="_blank">
                    Радивил Оксана Валерьевна
                </a>
            </li>
            <li>
                <a href="https://disk.yandex.ru/i/wOMf7f5BvBvKSQ" target="_blank">
                    Березовский Денис Викторович
                </a>
            </li>
        </ul>


        <h3 id="photo-report" class="section-subtitle">
            Фотоотчет
        </h3>
        <ul class="documents-list little">
            <li class="document-item">
                <div class="document-item-head">
                    <a target="_blank" href="~/documents/projectsAndEvents/education/newWorkshops2022/electronics/otchet.pdf">
                    </a>
                </div>
                <div class="document-item-body">
                    Фотоотчет мастерской
                </div>
            </li>
        </ul>


        <h3 id="before" class="section-subtitle">
            Вид до начала создания
        </h3>
        <img class="customized" src="~/images/projectsAndEvents/education/newWorkshops2022/electronics/vidDoSozdania.jpg" alt="">

    </section>
    <aside id="sidebar" class="sidebar">
        <h3 class="sidebar-title">
            Новые мастерские 2022
        </h3>
        <nav class="sidebar-body">
            <ul class="sidebar-links">
                <li class="sidebar-link">
                    <a href='@Url.Page("About")'>
                        О мастерских
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("Mechatronics")'>
                        Мехатроника
                    </a>
                </li>
                <li class="sidebar-link sidebar-link-selected">
                    <a href='@Url.Page("Electronics")'>
                        Электроника
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("Assembly")'>
                        Производственная сборка изделий авиационной техники
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("Service")'>
                        Обслуживание авиационной техники
                    </a>
                </li>
            </ul>
        </nav>
    </aside>
</div>