@page "/CMK/{name:regex(^([a-zA-Z0-9А-Яа-я .&'-]+)$)}/AllNews/{id:int?}"
@using OAT.Components
@using OAT.Utilities
@model OAT.Pages.CMK.AllNewsModel
@{
	ViewData["Title"] = $"Новости {Model.name}";
	using var context = new DatabaseContext();
	var cmk = context.CMK.FirstOrDefault(e => e.name == Model.name);
}
@if (cmk is null)
{
	<h2 class="section-title">
		ЦМК с таким именем не найден
	</h2>
	return;
}
@if(cmk.news.Count == 0)
{
    <h2 class="section-title">
        Новостей пока нет
    </h2>
    return;
}
@{
	var news = cmk.news;
	news = [.. news.OrderBy(e => DateTime.ParseExact(e.date, "yyyy-MM-dd", null))];
	news.Reverse();
	var pages = news.PagesSplit(10);
}
<link rel="stylesheet" href="~/css/allNews.css">
<script src="~/js/allNews.js" asp-append-version="true"></script>

<section class="centered">

	@if (pages.Count() >= (Model.id ?? 0))
	{
		<h3 class="section-title">
			Новости @Model.name
		</h3>
		<div class="news-list">

			@foreach (var n in pages.ToList()[Model.id ?? 0])
			{
				<div class="news-item">
					<a class="news-item-img" href="/CMK/@Model.name/news/@n.id">
						<img loading="lazy" src="/@n.GetPhotos()[0]" alt="">
					</a>
					<div class="news-item-content">
						<div class="news-item-date">
							@n.date
						</div>
						<div class="news-item-title">
							@n.title
						</div>
						<div class="news-item-info">
							@Html.Raw(n.description.GetWords(10))
							<a href="/CMK/@Model.name/news/@n.id">
								ещё...
							</a>
						</div>
					</div>
				</div>
			}
		</div>
		@(
			await Html.RenderComponentAsync<PagesComponent>(RenderMode.Static, new
			{
				CurrentPage = Model.id ?? 0 + 1,
				count = news.Count(),
				countInPage = 10,
				UrlWithParameter = $"/CMK/{Model.name}/AllNews/{{id}}"
			})
		 )


	}
	else
	{
		<h3 class="section-title">
			Упс, такой страницы нет...
			<br>
			Мы знаем о проблеме и уже решаем ее
		</h3>
	}
</section>
