@page
@model AccessibleEnvironmentModel
@{
	ViewData["Title"] = "Доступная среда";
}

<div class="container content-page">
	<section class="content">
		<a id="plane" class="plane" href="#sidebar"></a>
		<h2 class="section-title">
			Доступная среда
		</h2>

		<ul class="page-navigation">
			<li>
				<a href="#program">
					Доступная среда в Омавиат
				</a>
			</li>
			<li>
				<a href="#inclusive-education">
					Инклюзивное образование
				</a>
			</li>
			<li>
				<a href="#disabled-people">
					Обучения инвалидов и лиц с ОВЗ
				</a>
			</li>
			<li>
				<a href="#sonko">
					СОНКО
				</a>
			</li>
			<li>
				<a href="#hotline">
					Горячая линия
				</a>
			</li>
			<li>
				<a href="#have-question">
					Обратиться за помощью
				</a>
			</li>
		</ul>


		<h3 id="program" class="section-subtitle">
			Нормативное обоснование реализации Государственной Программы «Доступная среда в Омавиат»
		</h3>
		<p>
			В соответствии с международной Конвенцией о правах инвалидов в РФ и в целях реализации государственной политики в области социальной защиты инвалидов Указом Президента Российской Федерации от 17 декабря 2008 года № 1792 образован Совет при Президенте Российской Федерации по делам инвалидов.
		</p>
		<p>
			Указом Губернатора Омской области от 31 августа 2009 года № 104 создан Совет по делам инвалидов при Губернаторе Омской области, постановлением Администрации города Омска от 10 апреля 2009 года № 279-п образован Совет при Мэре города Омска по делам инвалидов.
		</p>
		<p>
			В законе «Об образовании в РФ» 273-ФЗ, в статье 79 «Организация получения образования обучающимися с ограниченными возможностями здоровья» регламентируются условия предоставления профессионального образования для лиц с ограниченными возможностями здоровья.
		</p>
		<img class="customized" src="~/images/organizationInformation/accessibleEnvironment/accessibleEnvironment.jpg" alt="">
		<p>
			В целях реализации закона «Об образовании в РФ» 273-ФЗ, в том числе в связи с необходимостью поддержки и развития профессионального инклюзивного образования в БПОУ «Омский авиационный колледж имени Н.Е. Жуковского» формируется доступная среда для лиц с ограниченными возможностями здоровья (ОВЗ). Эта работа реализуется по следующим направлениям:
		</p>
		<ul class="customized">
			<li>
				проведение ремонтно-строительных работ по плану реализации Программы «Доступная среда», подпрограммы Программы развития колледжа 2019 - 2024 г.г.
			</li>
			<li>
				подготовка и обучение сотрудников колледжа основам работы с обучающимися с инвалидностью и ОВЗ
			</li>
			<li>
				реализация специальных социально-педагогических проектов и программ, направленных на социальную реабилитацию лиц с ОВЗ
			</li>
			<li>
				профориентационная работа для абитуриентов с ОВЗ.
			</li>
		</ul>
		<p>
			Для сотрудников колледжа организована курсовая подготовка по программе «Профессиональное инклюзивное образование студентов с ограниченными возможностями здоровья». Курсовую подготовку прошли 35 сотрудников колледжа.
		</p>
		<p>
			Министерство образования Омской области +7 (3812) 24-75-39, 24-65-08 (с 1 июня по 1 декабря с 9.00 до 17.00): «горячая» телефонная линия по вопросам приема в профессиональные образовательные организации и образовательные организации высшего образования инвалидов и лиц с ограниченными возможностями здоровья.
		</p>
		<p>
			В настоящее  бюджетное профессиональное образовательное учреждение "Омский авиационный колледж имени Н.Е. Жуковского" готов предоставить пакет условий технической и социально-педагогической поддержки лиц с ОВЗ:
		</p>
		<ul class="customized">
			<li>
				созданы необходимые условия для их обучения, устранены физические, организационные и информационные барьеры
			</li>
			<li>
				установлен пандус и оборудована входная группа в корпусе №1(г. Омск, ул. Ленина, д. 24)
			</li>
			<li>
				установлен пандус, оборудована входная группа, установлена внутренняя дверь столовой в корпусе №1(г. Омск, ул. Ленина, д. 24)
			</li>
			<li>
				установлена внутренняя дверь учебной аудитории, произведен ремонт санитарно-гигиенических помещений (установлен специализированный санузел)
			</li>
			<li>
				оборудован учебный кабинет
			</li>
			<li>
				установлен  специальный лифт
			</li>
			<li>
				решается вопрос об обеспечении транспортной доставки обучающихся с ОВЗ в ОУ
			</li>
			<li>
				разработана специальная документация по организации образовательного процесса для обучения лиц с ОВЗ, в том числе оснащенности образовательного процесса
			</li>
		</ul>
		<div class="images-list-slider-container">
			<div class="images-list-slider">
				<!-- elevator -->
				<img src="~/images/organizationInformation/accessibleEnvironment/podemnaiaPlatfotma1etag.jpg" alt="">
				<img src="~/images/organizationInformation/accessibleEnvironment/podemnaiaPlatfotma2etag.jpg" alt="">
				<img src="~/images/organizationInformation/accessibleEnvironment/upravleniePodemnoiPlatformoi.jfif" alt="">
				<!-- doors -->
				<img src="~/images/organizationInformation/accessibleEnvironment/vxodVStolovuiu.jfif" alt="">
				<img src="~/images/organizationInformation/accessibleEnvironment/dvernieProemi1.jfif" alt="">
				<img src="~/images/organizationInformation/accessibleEnvironment/dvernieProemi2.jfif" alt="">
				<!-- porucni -->
				<img src="~/images/organizationInformation/accessibleEnvironment/panduciPorucniDveri.jpg" alt="">
				<img src="~/images/organizationInformation/accessibleEnvironment/pandusPorucniActoviZal1.jfif" alt="">
				<img src="~/images/organizationInformation/accessibleEnvironment/pandusPorucniActoviZal2.jfif" alt="">
				<img src="~/images/organizationInformation/accessibleEnvironment/porucniUnitaza.jfif">

				<img src="~/images/organizationInformation/accessibleEnvironment/raspashnaiaKalitka.jpg" alt="">
			</div>
		</div>
		<p>
			Коллектив колледжа готов работать в формате инклюзии: осваивать новые технологии обучения, социального и психолого-педагогического сопровождения обучающихся  с ОВЗ, создать среду максимального комфорта и мотивации к получению профессионального образования, отвечающего всем требованиям современного общества.
		</p>


		<h3 id="inclusive-education" class="section-subtitle">
			Нормативное обеспечение инклюзивного образования
		</h3>
		<ul class="documents-list">
			<li class="document-item">
				<div class="document-item-head">
					<a target="_blank" href="~/documents/organizationInformation/accessibleEnvironment/sodeistvieTrudoustroistvu.pdf">
					</a>
				</div>
				<div class="document-item-body">
					Программа содействия трудоустройству выпускников БПОУ «Омавиат» из числа инвалидов и лиц с ОВЗ
				</div>
			</li>
			<li class="document-item">
				<div class="document-item-head">
					<a target="_blank" href="~/documents/organizationInformation/accessibleEnvironment/obucenieInvalidov.pdf">
					</a>
				</div>
				<div class="document-item-body">
					Положение об организации обучения студентов-инвалидов и студентов с ОВЗ в БПОУ «Омавиат»
				</div>
			</li>
			<li class="document-item">
				<div class="document-item-head">
					<a target="_blank" href="~/documents/organizationInformation/accessibleEnvironment/naRavnix.pdf">
					</a>
				</div>
				<div class="document-item-body">
					Комплексная целевая программа «На равных», адаптационная образовательная среда в БПОУ «Омавиат»
				</div>
			</li>
			<li class="document-item">
				<div class="document-item-head">
					<a target="_blank" href="~/documents/organizationInformation/accessibleEnvironment/pasportDostupnosti.pdf">
					</a>
				</div>
				<div class="document-item-body">
					Паспорт доступности
				</div>
			</li>
		</ul>


		<h3 id="disabled-people" class="section-subtitle">
			Приспособленность материально-технической базы для обучения инвалидов и лиц с ОВЗ
		</h3>
		<p>
			Материально-техническое обеспечение образовательной деятельности, в том числе наличие оборудованных учебных кабинетов, объектов для проведения практических занятий, объектов спорта, в том числе приспособленных для использования инвалидами и лицами с ограниченными возможностями здоровья
		</p>
		<ol class="customized">
			<li>
				В учебных кабинетах имеются
				мультимедийные средства, оргтехника,
				компьютерная техника, аудиотехника,
				видеотехника (мультимедийный проектор), электронная доска
			</li>
			<li>
				Учебные кабинеты оборудованы специализированной мебелью и выделенным рабочим местом в максимальной доступности для лиц с ОВЗ
			</li>
		</ol>
		<p>
			Обеспечение доступа в здания образовательной организации инвалидов и лиц с ограниченными возможностями здоровья
		</p>
		<ol class="customized">
			<li>
				Оборудован специализированный пандус
			</li>
			<li>
				У входной группы располагаются специализированные напольные тактильные и указатели
			</li>
			<li>
				Лестница входной группы оборудована специализированными поручнями
			</li>
			<li>
				Для обеспечения доступности лиц с нарушением зрения на всей территории колледжа выполнена сигнальная контрастная разметка
			</li>
		</ol>
		<p>
			Создание условий и охраны здоровья обучающихся, в том числе инвалидов и лиц с ограниченными возможностями здоровья
		</p>
		<ol class="customized">
			<li>
				Обеспечена доступность путей движения с наличием средств информационно-навигационной поддержки, контрастная окраска дверей и лестниц
			</li>
			<li>
				Санитарные узлы оборудованы всем необходимым для лиц с ОВЗ (поручни, кнопки вызова персонала и т.д.)
			</li>
			<li>
				Для перемещения по этажам лиц с нарушением опорно-двигательного аппарата передвигающихся на коляске имеется лифт
			</li>
			<li>
				Помещение столовой оборудовано специализированным местом для лиц с ОВЗ с максимальной доступностью
			</li>
			<li>
				В здании колледжа оборудована система настенной тактильной информации
			</li>
		</ol>
		<h4 class="section-subtitle-small">
			Наличие специальных технических средств обучения коллективного и индивидуального пользования
		</h4>
		<p>
			Обеспечение обучающихся с ограниченными возможностями здоровья, инвалидностью печатными и электронными образовательными ресурсами осуществляется на общих основаниях, при необходимости подбор и разработка учебных материалов производится с учетом специфических особенностей их восприятия, предоставляется в различных формах
		</p>
		<p>
			Омавиат предоставляет пакет условий технической и социально-педагогической поддержки лиц с ОВЗ. Созданы необходимые условия для их обучения. Установлен специальный лифт.
		</p>
		<img class="customized" src="~/images/organizationInformation/accessibleEnvironment/specialniLift.png" alt="">
		<p>
			Коллектив колледжа готов работать в формате инклюзии: осваивать новые технологии обучения, социального и психолого-педагогического сопровождения обучающихся с ОВЗ, создать среду максимального комфорта и мотивации к получению профессионального образования, отвечающего всем требованиям современного общества.
		</p>
		

		<h3 id="sonko" class="section-subtitle">
			Социально Ориентированная Некоммерческая Организация(СОНКО)
		</h3>
		<p>
			На территории Омской области осуществляют свою деятельность более 300 СОНКО. СОНКО активно и успешно работают в сфере социальной поддержки и защиты граждан, охраны окружающей среды, правового просвещения, а также деятельности в области содействия благотворительности и добровольчества, охраны здоровья населения, пропаганды здорового образа жизни.
		</p>
		<p>
			Информация о СОНКО размещена в информационнотелекомуникационной сети "Интеренет" по адресу: <a target="_blank" href="http://nko-omsk.ru">http://nko-omsk.ru</a>
		</p>
		<img class="customized" src="~/images/organizationInformation/accessibleEnvironment/SONKO.png" alt="">


		<h3 id="hotline" class="section-subtitle">
			Организация работы «горячей линии» по вопросам приема инвалидов и лиц с ОВЗ
		</h3>
		<p>
			В соответствии с пунктом 13 Межведомственного комплексного плана мероприятий по обеспечению доступности профессионального образования для инвалидов и лиц с ограниченными возможностями здоровья на 2016 - 2018 годы, утвержденного Заместителем Председателя Правительства Российской Федерации О.Ю. Голодец от 23 мая 2016 года № З467п-П8, в 2019 году в Министерстве образования Омской области продолжает работать «горячая линия».
		</p>
		<p>
			В рамках работы «горячей линии» осуществляется консультационное сопровождение по вопросам приема инвалидов и лиц с ограниченными возможностями здоровья в образовательные организации высшего образования, профессиональные образовательные организации Омской области.
		</p>
		<p>
			<b>Телефон:</b> 8 (3812) 24-75-39, 8 (3812) 24-65-24
		</p>
		<p>
			<b>Режим работы:</b> пн - чт 9:00 - 17:00, пт 9:00 - 16:30
		</p>
		<p>
			<b>Контактное лицо</b> - Лунёва Татьяна Владимировна, советник управления профессионального образования и опережающей подготовки кадров Министерства образования Омской области.
		</p>


		<h3 id="have-question" class="section-subtitle">
			По вопросам обращаться
		</h3>
        <div class="question-contact">
            <div class="question-contact-head">
                <a class="question-contact-head-img-container" href="">
                    <img src="~/images/people/Каменева Анна Григорьевна.jpg">
                </a>
                <p class="question-contact-head-fio">Каменева<br>Анна Григорьевна</p>
                <p class="question-contact-head-post">
                    Заместитель директора
                </p>
            </div>
            <div class="question-contact-body">
                <p class="question-contact-body-phone">(3812)31-44-65</p>
                <p class="question-contact-body-phone">(3812)30-52-93</p>
                <p class="question-contact-body-email">kameneva@oat.ru</p>
                <p class="question-contact-body-address">Каб. 224</p>
                <p class="question-contact-body-time">ПН-ПТ 10:00-17:00</p>
            </div>
        </div>

	</section>
	<aside id="sidebar" class="sidebar long">
		<h3 class="sidebar-title">
			Сведения об образовательной организации
		</h3>
		<nav class="sidebar-body">
			<ul class="sidebar-links">
				<li class="sidebar-link">
					<a href='@Url.Page("CommonIntelligence")'>
						Основные сведения
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("Structure")'>
						Структура и органы управления образовательной организацией
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("Documents")'>
						Документы
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("Education")'>
						Образование
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("EducationalStandards")'>
						Образовательные стандарты
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("EducationalProcess")'>
						Организация воспитательного процесса
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("ManagementPedagogicalStaff")'>
						Руководство. Педагогический (научно-педагогический) состав
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("Logistics")'>
						Материально-техническое обеспечение и оснащенность образовательного процесса
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("PaidEducationalServices")'>
						Платные образовательные услуги
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("FinancialEconomicActivity")'>
						Финансово-хозяйственная деятельность
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("Jobs")'>
						Вакантные места для приема
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("Vacancies")'>
						Вакансии
					</a>
				</li>
				<li class="sidebar-link sidebar-link-selected">
					<a href='@Url.Page("AccessibleEnvironment")'>
						Доступная среда
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("InternationalCooperation")'>
						Международное сотрудничество
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("StudentSupport")'>
						Стипендии и меры поддержки обучающихся
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("Terrorism")'>
						Противодействие экстремизму и терроризму
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("Corruption")'>
						Противодействие коррупции
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("Library")'>
						Библиотека
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("UPK")'>
						Учебно-производственный комплекс
					</a>
				</li>
			</ul>
		</nav>
	</aside>
</div>