@page
@model EducationalProcessModel
@{
	ViewData["Title"] = "Организация воспитательного процесса";
}

<div class="container content-page">
	<section class="content">
		<a id="plane" class="plane" href="#sidebar"></a>
		<h2 class="section-title">
			Организация воспитательного процесса
		</h2>

		<ul class="page-navigation">
			<li>
				<a href="#education-tasks">
					Задачи
				</a>
			</li>
			<li>
				<a href="#education-aims">
					Цели
				</a>
			</li>
			<li>
				<a href="#directions">
					Направления
				</a>
			</li>
			<li>
				<a href="#documents">
					Документы
				</a>
			</li>
			<li>
				<a href="#have-question">
					Обратиться за помощью
				</a>
			</li>
		</ul>


		<h3 id="education-tasks" class="section-subtitle">
			Задачи воспитания студентов
		</h3>
		<ul class="customized">
			<li>
				Формирование социокультурного пространства в колледже, способствующего развитию ключевых и профессиональных компетенций личности, творческого потенциала, системы ценностных ориентаций студентов
			</li>
			<li>
				Патриотическое воспитание: воспитание чувства гордости за свою страну, профессию, учебное заведение
			</li>
			<li>
				Развитие студенческого самоуправления, усиление роли общественных организаций в жизни коллектива группы, отделения и колледжа
			</li>
			<li>
				Формирование нравственной, правовой и экологической культуры студентов;
			</li>
			<li>
				Воспитание здорового образа жизни и экологической культуры; формирование личности, способной противостоять активному влиянию негативных процессов, происходящих в природе и обществе.
			</li>
		</ul>


		<h3 id="education-aims" class="section-subtitle">
			Цель воспитания студентов колледжа
		</h3>
		<p>
			<b>Основная цель воспитания студентов колледжа</b> - подготовить квалифицированного специалиста, конкурентоспособного на рынке труда, готового к непрерывному профессиональному росту, социальной и профессиональной мобильности через развитие ключевых и профессиональных компетенций личности студента, способной к нравственному и физическому саморазвитию и самореализации, готовой к профессиональной и гражданской ответственности, ориентированной на гуманистические ценности общества.
		</p>


		<h3 id="directions" class="section-subtitle">
			Основные направления в воспитательной работе
		</h3>
		<ul class="customized">
			<li>
				Организационно-педагогическая деятельность, направленная на адаптацию студентов нового набора к учебному процессу в колледже, повышение мотивации к обучению студентов колледжа
			</li>
			<li>
				Формирование студенческих коллективов и развитие студенческого самоуправления в колледже
			</li>
			<li>
				Психолого-педагогическое сопровождение УВП
			</li>
			<li>
				Профилактика асоциальных проявлений у студентов
			</li>
			<li>
				Гражданское и патриотическое воспитание
			</li>
			<li>
				Формирование основ правовых компетенций студентов
			</li>
			<li>
				Развитие творческой и общественной инициативы студентов
			</li>
			<li>
				Формирование здорового образа жизни
			</li>
			<li>
				Просветительско-консультативная работа с родительской общественностью и педагогическим коллективом, направленная на оптимизацию педагогического общения и взаимоотношений всех субъектов воспитательного процесса в колледже
			</li>
		</ul>
		<img class="customized" src="~/images/organizationInformation/educationalProcess/people.jpg" alt="">
		<p>
			В соответствии с Федеральным Законом от 31.07.2020 № 304-ФЗ «О внесении изменений в Федеральный закон «Об образовании в Российской Федерации» по вопросам воспитания обучающихся» с 1 сентября 2021 года Программа воспитания, календарный план воспитательной работы БПОУ ОО ««Омский авиационный колледж имени Н.Е. Жуковского» является составной частью Основной профессиональной образовательной программы по специальностям и профессиям
		</p>
		<p>
			Программа разработана рабочей группой колледжа в соответствии с методическими рекомендациями НИЦ профессионального образования и систем квалификаций ФИРО РАНХиГС (Примерная ПВ для ПОО ), ФГБНУ «Институт изучения детства, семьи и воспитания РАО», БОУ ДПО «Институт развития образования Омской области» «Методические рекомендации по проектированию рабочей программы воспитания для ПОО»
		</p>
		<p>
			<a href="https://www.oat.ru/parents/vostDocum.php">
				Ознакомиться с программой
			</a>
		</p>
		<p>
			<a href="https://www.oat.ru/parents/organizatsiya-vospitatelnogo-protsessa-v-kolledzhe/rzd.php">
				В целях повышения эффективности профилактической работы, обучения студентов культуре безопасного поведения на объектах железнодорожного транспорта, просим ознакомиться с видеороликом, созданным в 2022 году работниками РЖД.
			</a>
		</p>

		<!-- github -->
		<h3 id="documents" class="section-subtitle">
			Документы
		</h3>
		<ul class="documents-list little">
			<li class="document-item">
				<div class="document-item-head">
					<a target="_blank" href="~/documents/organizationInformation/educationalProcess/комиссия_по_профилактике_правонарушений.pdf">
					</a>
				</div>
				<div class="document-item-body">
					Комиссия по профилактике правонарушений
				</div>
			</li>
			<li class="document-item">
				<div class="document-item-head">
					<a target="_blank" href="~/documents/organizationInformation/educationalProcess/психолого_педагогический_консилиум.pdf">
					</a>
				</div>
				<div class="document-item-body">
					Психолого педагогический консилиум
				</div>
			</li>
			<li class="document-item">
				<div class="document-item-head">
					<a target="_blank" href="~/documents/organizationInformation/educationalProcess/polozhenie_o_mediazii (5).pdf">
					</a>
				</div>
				<div class="document-item-body">
					Положение о службе медиации
				</div>
			</li>
		</ul>



		<h3 id="have-question" class="section-subtitle">
			По вопросам обращаться
		</h3>
		<div class="question-contact">
			<div class="question-contact-head">
				<a class="question-contact-head-img-container" href="">
					<img src="~/images/people/Каменева Анна Григорьевна.jpg">
				</a>
				<p class="question-contact-head-fio">Каменева<br>Анна Григорьевна</p>
				<p class="question-contact-head-post">
					Заместитель директора
				</p>
			</div>
			<div class="question-contact-body">
				<p class="question-contact-body-phone">+7(3812)31-44-65</p>
				<p class="question-contact-body-phone">+7(3812)30-52-93</p>
				<p class="question-contact-body-email">kameneva-oat@mail.ru</p>
				<p class="question-contact-body-address">Каб. 224</p>
				<p class="question-contact-body-time">ПН-ПТ 10:00-17:00</p>
			</div>
		</div>

	</section>
	<aside id="sidebar" class="sidebar long">
		<h3 class="sidebar-title">
			Сведения об образовательной организации
		</h3>
		<nav class="sidebar-body">
			<ul class="sidebar-links">
				<li class="sidebar-link">
					<a href='@Url.Page("CommonIntelligence")'>
						Основные сведения
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("Structure")'>
						Структура и органы управления образовательной организацией
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("Documents")'>
						Документы
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("Education")'>
						Образование
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("EducationalStandards")'>
						Образовательные стандарты
					</a>
				</li>
				<li class="sidebar-link sidebar-link-selected">
					<a href='@Url.Page("EducationalProcess")'>
						Организация воспитательного процесса
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("ManagementPedagogicalStaff")'>
						Руководство. Педагогический (научно-педагогический) состав
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("Logistics")'>
						Материально-техническое обеспечение и оснащенность образовательного процесса
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("PaidEducationalServices")'>
						Платные образовательные услуги
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("FinancialEconomicActivity")'>
						Финансово-хозяйственная деятельность
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("Jobs")'>
						Вакантные места для приема
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("Vacancies")'>
						Вакансии
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("AccessibleEnvironment")'>
						Доступная среда
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("InternationalCooperation")'>
						Международное сотрудничество
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("StudentSupport")'>
						Стипендии и меры поддержки обучающихся
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("Terrorism")'>
						Противодействие экстремизму и терроризму
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("Corruption")'>
						Противодействие коррупции
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("Library")'>
						Библиотека
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("UPK")'>
						Учебно-производственный комплекс
					</a>
				</li>
			</ul>
		</nav>
	</aside>
</div>