@page
@model JobsModel
@{
    ViewData["Title"] = "Вакантные места для приема";
}

<link rel="stylesheet" href="~/css/organizationInformation/vacancies.css">

<div class="container content-page">
    <section class="content">
        <a id="plane" class="plane" href="#sidebar"></a>
        <h2 class="section-title">
            Вакантные места для приема
        </h2>

        <ul class="page-navigation">
            <li>
                <a href="#ppssz">
                    Программа подготовки специалистов среднего звена
                </a>
            </li>
            <li>
                <a href="#ppkrs">
                    Программа подготовки квалифицированных рабочих, служащих
                </a>
            </li>
            <li>
                <a href="#ppssz-top-50">
                    Программа подготовки специалистов среднего звена (ППССЗ) ТОП-50
                </a>
            </li>
            <li>
                <a href="#ppkrs-top-50">
                    Программа подготовки квалифицированных рабочих, служащих (ППКРС) ТОП-50
                </a>
            <li>
                <a href="#ppkrs-and-ppssz">
                    ППКРС и ППССЗ по актуализированным ФГОС
                </a>
            </li>
        </ul>


        <h3 id="ppssz" class="section-subtitle">
            Программа подготовки специалистов среднего звена (ППССЗ) ФГОС-3
        </h3>
        <table class="customized">
            <thead>
                <tr>
                    <td rowspan="2">Код</td>
                    <td rowspan="2">Наименование</td>
                    <td rowspan="2">Форма образования</td>
                    <td rowspan="2">Годы обучения</td>
                    <td colspan="4">Количество вакантных мест для приема(перевода) </td>
                </tr>
                <tr>
                    <td>за счет бюджетных ассигнований федерального бюджета</td>
                    <td>за счет бюджетных ассигнований бюджетов субъекта Российской Федерации</td>
                    <td>за счет бюджетных ассигнований местных бюджетов</td>
                    <td>за счет физических и (или) юридических лиц</td>
                </tr>
            </thead>
            <tbody class="very-special">
                <tr>
                    <th rowspan="3">09.02.02</th>
                    <th rowspan="3">Компьютерные сети (базоввый уровень)</th>
                    <th rowspan="3"></th>
                    <td>2019-2023</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>2020-2024</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>2021-2025</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
            <tbody class="very-special">
                <tr>
                    <th rowspan="3">09.02.03</th>
                    <th rowspan="3">Программирование в компьютерных системах (базовый и углубленный уровень подготовки)</th>
                    <th rowspan="3"></th>
                    <td>2019-2023</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>2020-2024</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>2021-2025</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
            <tbody class="very-special">
                <tr>
                    <th rowspan="3">10.02.03</th>
                    <th rowspan="3">Информационная безопасность автоматизированных систем (базовая подготовка)</th>
                    <th rowspan="3"></th>
                    <td>2019-2023</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>2020-2024</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>2021-2025</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
            <tbody class="very-special">
                <tr>
                    <th rowspan="3">12.02.03</th>
                    <th rowspan="3">Радиоэлектронные приборные устройства (базовая подготовка)</th>
                    <th rowspan="3"></th>
                    <td>2019-2023</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>2020-2024</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>2021-2025</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
            <tbody class="very-special">
                <tr>
                    <th rowspan="3">13.02.11</th>
                    <th rowspan="3">Техническая эксплуатация и обслуживание электрического и электромеханического оборудования (по отраслям)	</th>
                    <th rowspan="3"></th>
                    <td>2019-2023</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>2020-2024</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>2021-2025</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
            <tbody class="very-special">
                <tr>
                    <th rowspan="3">15.02.08</th>
                    <th rowspan="3">Технология машиностроения (базовый и углубленный уровень подготовки)	</th>
                    <th rowspan="3"></th>
                    <td>2019-2023</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>2020-2024</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>2021-2025</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
            <tbody class="very-special">
                <tr>
                    <th rowspan="3">22.02.06</th>
                    <th rowspan="3">Сварочное производство (базовая подготовка)	</th>
                    <th rowspan="3"></th>
                    <td>2019-2023</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>2020-2024</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>2021-2025</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
            <tbody class="very-special">
                <tr>
                    <th rowspan="3">24.02.01</th>
                    <th rowspan="3">Производство летательных аппаратов (базовая подготовка)	</th>
                    <th rowspan="3"></th>
                    <td>2019-2023</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>2020-2024</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>2021-2025</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
            <tbody class="very-special">
                <tr>
                    <th rowspan="3">24.02.02</th>
                    <th rowspan="3">Производство авиационных двигателей (базовая подготовка)	</th>
                    <th rowspan="3"></th>
                    <td>2019-2023</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>2020-2024</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>2021-2025</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
            <tbody class="very-special">
                <tr>
                    <th rowspan="3">38.02.01</th>
                    <th rowspan="3">Экономика и бухгалтерский учет (по отраслям) (углубленная подготовка)</th>
                    <th rowspan="3"></th>
                    <td>2019-2023</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>2020-2024</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>2021-2025</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
            <tbody class="very-special">
                <tr>
                    <th rowspan="3">38.02.03</th>
                    <th rowspan="3">Операционная деятельность в логистике (базовая подготовка)</th>
                    <th rowspan="3"></th>
                    <td>2019-2023</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>2020-2024</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>2021-2025</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>


        <h3 id="ppkrs" class="section-subtitle">
            Программа подготовки квалифицированных рабочих, служащих (ППКРС) ФГОС-3
        </h3>
        <table class="customized">
            <thead>
                <tr>
                    <td rowspan="2">Код</td>
                    <td rowspan="2">Наименование</td>
                    <td rowspan="2">Форма образования</td>
                    <td rowspan="2">Годы обучения</td>
                    <td colspan="4">Количество вакантных мест для приема(перевода) </td>
                </tr>
                <tr>
                    <td>за счет бюджетных ассигнований федерального бюджета</td>
                    <td>за счет бюджетных ассигнований бюджетов субъекта Российской Федерации</td>
                    <td>за счет бюджетных ассигнований местных бюджетов</td>
                    <td>за счет физических и (или) юридических лиц</td>
                </tr>
            </thead>
            <tbody class="very-special">
                <tr>
                    <th rowspan="3">15.01.29</th>
                    <th rowspan="3">Контролер станочных и слесарных работ	</th>
                    <th rowspan="3"></th>
                    <td>2019-2023</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>2020-2024</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>2021-2025</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
            <tbody class="very-special">
                <tr>
                    <th rowspan="3">11.01.01</th>
                    <th rowspan="3">Монтажник радиоэлектронной аппаратуры и приборов	</th>
                    <th rowspan="3"></th>
                    <td>2019-2023</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>2020-2024</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>2021-2025</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
            <tbody class="very-special">
                <tr>
                    <th rowspan="3">13.01.10</th>
                    <th rowspan="3">Электромонтер по ремонту и обслуживанию электрооборудования (по отраслям)</th>
                    <th rowspan="3"></th>
                    <td>2019-2023</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>2020-2024</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>2021-2025</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
            <tbody class="very-special">
                <tr>
                    <th rowspan="3">15.01.05</th>
                    <th rowspan="3">Сварщик (ручной и частично механизированной сварки(наплавки))</th>
                    <th rowspan="3"></th>
                    <td>2019-2023</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>2020-2024</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>2021-2025</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
            <tbody class="very-special">
                <tr>
                    <th rowspan="3">15.01.25</th>
                    <th rowspan="3">Станочник (металлообработка)</th>
                    <th rowspan="3"></th>
                    <td>2019-2023</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>2020-2024</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>2021-2025</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
            <tbody class="very-special">
                <tr>
                    <th rowspan="3">23.01.08</th>
                    <th rowspan="3">Слесарь по ремонту строительных машин</th>
                    <th rowspan="3"></th>
                    <td>2019-2023</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>2020-2024</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>2021-2025</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
            <tbody class="very-special">
                <tr>
                    <th rowspan="3">09.01.03</th>
                    <th rowspan="3">Мастер по обработке цифровой информации</th>
                    <th rowspan="3"></th>
                    <td>2019-2023</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>2020-2024</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>2021-2025</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>


        <h3 id="ppssz-top-50"" class="section-subtitle">
            Программа подготовки специалистов среднего звена (ППССЗ) ТОП-50
        </h3>
        <table class="customized">
            <thead>
                <tr>
                    <td rowspan="2">Код</td>
                    <td rowspan="2">Наименование</td>
                    <td rowspan="2">Форма образования</td>
                    <td rowspan="2">Годы обучения</td>
                    <td colspan="4">Количество вакантных мест для приема(перевода) </td>
                </tr>
                <tr>
                    <td>за счет бюджетных ассигнований федерального бюджета</td>
                    <td>за счет бюджетных ассигнований бюджетов субъекта Российской Федерации</td>
                    <td>за счет бюджетных ассигнований местных бюджетов</td>
                    <td>за счет физических и (или) юридических лиц</td>
                </tr>
            </thead>
            <tbody class="very-special">
                <tr>
                    <th rowspan="3">09.02.06</th>
                    <th rowspan="3">Сетевое и системное администрирование</th>
                    <th rowspan="3"></th>
                    <td>2019-2023</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>2020-2024</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>2021-2025</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
            <tbody class="very-special">
                <tr>
                    <th rowspan="3">09.02.07</th>
                    <th rowspan="3">Информационные системы и программирование (квалификации: Прграммист, Разоаботчик веб и мультимедийных приложений, Специалист по информационным ресурсам)</th>
                    <th rowspan="3"></th>
                    <td>2019-2023</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>2020-2024</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>2021-2025</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
            <tbody class="very-special">
                <tr>
                    <th rowspan="3">10.02.05</th>
                    <th rowspan="3">Обеспечение информационнай безопастности автоматизированных систем</th>
                    <th rowspan="3"></th>
                    <td>2019-2023</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>2020-2024</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>2021-2025</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
            <tbody class="very-special">
                <tr>
                    <th rowspan="3">13.02.11</th>
                    <th rowspan="3">Техническая эксплуатация и обслуживание электрического и электромеханического оборудования (по отраслям)	</th>
                    <th rowspan="3"></th>
                    <td>2019-2023</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>2020-2024</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>2021-2025</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
            <tbody class="very-special">
                <tr>
                    <th rowspan="3">15.02.10</th>
                    <th rowspan="3">Мехатроника и мобильная робототехника</th>
                    <th rowspan="3"></th>
                    <td>2019-2023</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>2020-2024</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>2021-2025</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
            <tbody class="very-special">
                <tr>
                    <th rowspan="3">15.02.15</th>
                    <th rowspan="3">Технология металлообрабатывающего производства	</th>
                    <th rowspan="3"></th>
                    <td>2019-2023</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>2020-2024</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>2021-2025</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
            <tbody class="very-special">
                <tr>
                    <th rowspan="3">25.02.07</th>
                    <th rowspan="3">Техническое обслуживание авиационных двигателей	</th>
                    <th rowspan="3"></th>
                    <td>2019-2023</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>2020-2024</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>2021-2025</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
            <tbody class="very-special">
                <tr>
                    <th rowspan="3">38.02.01</th>
                    <th rowspan="3">Экономика и бухгалтерский учет (по отраслям)</th>
                    <th rowspan="3"></th>
                    <td>2019-2023</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>2020-2024</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>2021-2025</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
            <tbody class="very-special">
                <tr>
                    <th rowspan="3">43.01.09</th>
                    <th rowspan="3">Повар, кондитер</th>
                    <th rowspan="3"></th>
                    <td>2019-2023</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>2020-2024</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>2021-2025</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
            <tbody class="very-special">
                <tr>
                    <th rowspan="3">15.01.32</th>
                    <th rowspan="3">Оператор станков с программным управлением</th>
                    <th rowspan="3"></th>
                    <td>2019-2023</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>2020-2024</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>2021-2025</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>


        <h3 id="ppkrs-top-50" class="section-subtitle">
            Программа подготовки квалифицированных рабочих, служащих (ППКРС) ТОП-50
        </h3>
        <table class="customized">
            <thead>
                <tr>
                    <td rowspan="2">Код</td>
                    <td rowspan="2">Наименование</td>
                    <td rowspan="2">Форма образования</td>
                    <td rowspan="2">Годы обучения</td>
                    <td colspan="4">Количество вакантных мест для приема(перевода) </td>
                </tr>
                <tr>
                    <td>за счет бюджетных ассигнований федерального бюджета</td>
                    <td>за счет бюджетных ассигнований бюджетов субъекта Российской Федерации</td>
                    <td>за счет бюджетных ассигнований местных бюджетов</td>
                    <td>за счет физических и (или) юридических лиц</td>
                </tr>
            </thead>
            <tbody class="very-special">
                <tr>
                    <th rowspan="3"></th>
                    <th rowspan="3"></th>
                    <th rowspan="3"></th>
                    <td>2019-2023</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>2020-2024</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>2021-2025</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>


        <h3 id="ppkrs-and-ppssz" class="section-subtitle">
            Программа подготовки квалифицированных рабочих, служащих (ППКРС) и программа подготовки специалистов среднего звена (ППССЗ) по актуализированным ФГОС
        </h3>
        <table class="customized">
            <thead>
                <tr>
                    <td rowspan="2">Код</td>
                    <td rowspan="2">Наименование</td>
                    <td rowspan="2">Форма образования</td>
                    <td rowspan="2">Годы обучения</td>
                    <td colspan="4">Количество вакантных мест для приема(перевода) </td>
                </tr>
                <tr>
                    <td>за счет бюджетных ассигнований федерального бюджета</td>
                    <td>за счет бюджетных ассигнований бюджетов субъекта Российской Федерации</td>
                    <td>за счет бюджетных ассигнований местных бюджетов</td>
                    <td>за счет физических и (или) юридических лиц</td>
                </tr>
            </thead>
            <tbody class="very-special">
                <tr>
                    <th rowspan="3"></th>
                    <th rowspan="3"></th>
                    <th rowspan="3"></th>
                    <td>2019-2023</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>2020-2024</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>2021-2025</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </section>
    <aside id="sidebar" class="sidebar long">
        <h3 class="sidebar-title">
            Сведения об образовательной организации
        </h3>
        <nav class="sidebar-body">
            <ul class="sidebar-links">
                <li class="sidebar-link">
                    <a href='@Url.Page("CommonIntelligence")'>
                        Основные сведения
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("Structure")'>
                        Структура и органы управления образовательной организацией
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("Documents")'>
                        Документы
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("Education")'>
                        Образование
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("EducationalStandards")'>
                        Образовательные стандарты
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("EducationalProcess")'>
                        Организация воспитательного процесса
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("ManagementPedagogicalStaff")'>
                        Руководство. Педагогический (научно-педагогический) состав
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("Logistics")'>
                        Материально-техническое обеспечение и оснащенность образовательного процесса
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("PaidEducationalServices")'>
                        Платные образовательные услуги
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("FinancialEconomicActivity")'>
                        Финансово-хозяйственная деятельность
                    </a>
                </li>
                <li class="sidebar-link sidebar-link-selected">
                    <a href='@Url.Page("Jobs")'>
                        Вакантные места для приема
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("Vacancies")'>
                        Вакансии
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("AccessibleEnvironment")'>
                        Доступная среда
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("InternationalCooperation")'>
                        Международное сотрудничество
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("StudentSupport")'>
                        Стипендии и меры поддержки обучающихся
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("Terrorism")'>
                        Противодействие экстремизму и терроризму
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("Corruption")'>
                        Противодействие коррупции
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("Library")'>
                        Библиотека
                    </a>
                </li>
            </ul>
        </nav>
    </aside>
</div>