@page
@model JobsModel
@{
	ViewData["Title"] = "Вакантные места для приема";
}

<link rel="stylesheet" href="~/css/organizationInformation/vacancies.css">

<div class="container content-page">
	<section class="content">
		<a id="plane" class="plane" href="#sidebar"></a>
		<h2 class="section-title">
			Вакантные места для приема
		</h2>

		<ul class="page-navigation">
			<li>
				<a href="#ppssz">
					Программа подготовки специалистов среднего звена
				</a>
			</li>
			<li>
				<a href="#ppkrs">
					Программа подготовки квалифицированных рабочих, служащих
				</a>
			</li>
			<li>
				<a href="#ppssz-top-50">
					Программа подготовки специалистов среднего звена (ППССЗ) ТОП-50
				</a>
			</li>
			<li>
				<a href="#ppkrs-top-50">
					Программа подготовки квалифицированных рабочих, служащих (ППКРС) ТОП-50
				</a>
			<li>
				<a href="#ppkrs-and-ppssz">
					ППКРС и ППССЗ по актуализированным ФГОС
				</a>
			</li>
		</ul>


		<h3 id="ppssz" class="section-subtitle">
			Программа подготовки специалистов среднего звена (ППССЗ) ФГОС-3
		</h3>
		<table class="customized">
			<thead>
				<tr>
					<th rowspan="2">Код</th>
					<th rowspan="2">Наименование</th>
					<th rowspan="2">Форма образования</th>
					<th rowspan="2">Годы обучения</th>
					<th colspan="4">Количество вакантных мест для приема(перевода) </th>
				</tr>
				<tr>
					<th>за счет бюджетных ассигнований федерального бюджета</th>
					<th>за счет бюджетных ассигнований бюджетов субъекта Российской Федерации</th>
					<th>за счет бюджетных ассигнований местных бюджетов</th>
					<th>за счет физических и (или) юридических лиц</th>
				</tr>
			</thead>
			<tbody class="very-special">
				<tr>
					<td rowspan="3">09.02.02</td>
					<td rowspan="3">Компьютерные сети (базоввый уровень)</td>
					<td rowspan="3"></td>
					<td>2019-2023</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>2020-2024</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>2021-2025</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
			<tbody class="very-special">
				<tr>
					<td rowspan="3">09.02.03</td>
					<td rowspan="3">Программирование в компьютерных системах (базовый и углубленный уровень подготовки)</td>
					<td rowspan="3"></td>
					<td>2019-2023</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>2020-2024</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>2021-2025</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
			<tbody class="very-special">
				<tr>
					<td rowspan="3">10.02.03</td>
					<td rowspan="3">Информационная безопасность автоматизированных систем (базовая подготовка)</td>
					<td rowspan="3"></td>
					<td>2019-2023</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>2020-2024</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>2021-2025</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
			<tbody class="very-special">
				<tr>
					<td rowspan="3">12.02.03</td>
					<td rowspan="3">Радиоэлектронные приборные устройства (базовая подготовка)</td>
					<td rowspan="3"></td>
					<td>2019-2023</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>2020-2024</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>2021-2025</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
			<tbody class="very-special">
				<tr>
					<td rowspan="3">13.02.11</td>
					<td rowspan="3">Техническая эксплуатация и обслуживание электрического и электромеханического оборудования (по отраслям)	</td>
					<td rowspan="3"></td>
					<td>2019-2023</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>2020-2024</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>2021-2025</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
			<tbody class="very-special">
				<tr>
					<td rowspan="3">15.02.08</td>
					<td rowspan="3">Технология машиностроения (базовый и углубленный уровень подготовки)	</td>
					<td rowspan="3"></td>
					<td>2019-2023</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>2020-2024</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>2021-2025</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
			<tbody class="very-special">
				<tr>
					<td rowspan="3">22.02.06</td>
					<td rowspan="3">Сварочное производство (базовая подготовка)	</td>
					<td rowspan="3"></td>
					<td>2019-2023</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>2020-2024</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>2021-2025</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
			<tbody class="very-special">
				<tr>
					<td rowspan="3">24.02.01</td>
					<td rowspan="3">Производство летательных аппаратов (базовая подготовка)	</td>
					<td rowspan="3"></td>
					<td>2019-2023</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>2020-2024</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>2021-2025</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
			<tbody class="very-special">
				<tr>
					<td rowspan="3">24.02.02</td>
					<td rowspan="3">Производство авиационных двигателей (базовая подготовка)	</td>
					<td rowspan="3"></td>
					<td>2019-2023</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>2020-2024</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>2021-2025</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
			<tbody class="very-special">
				<tr>
					<td rowspan="3">38.02.01</td>
					<td rowspan="3">Экономика и бухгалтерский учет (по отраслям) (углубленная подготовка)</td>
					<td rowspan="3"></td>
					<td>2019-2023</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>2020-2024</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>2021-2025</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
			<tbody class="very-special">
				<tr>
					<td rowspan="3">38.02.03</td>
					<td rowspan="3">Операционная деятельность в логистике (базовая подготовка)</td>
					<td rowspan="3"></td>
					<td>2019-2023</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>2020-2024</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>2021-2025</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>


		<h3 id="ppkrs" class="section-subtitle">
			Программа подготовки квалифицированных рабочих, служащих (ППКРС) ФГОС-3
		</h3>
		<table class="customized">
			<thead>
				<tr>
					<th rowspan="2">Код</th>
					<th rowspan="2">Наименование</th>
					<th rowspan="2">Форма образования</th>
					<th rowspan="2">Годы обучения</th>
					<th colspan="4">Количество вакантных мест для приема(перевода)</th>
				</tr>
				<tr>
					<th>за счет бюджетных ассигнований федерального бюджета</th>
					<th>за счет бюджетных ассигнований бюджетов субъекта Российской Федерации</th>
					<th>за счет бюджетных ассигнований местных бюджетов</th>
					<th>за счет физических и (или) юридических лиц</th>
				</tr>
			</thead>
			<tbody class="very-special">
				<tr>
					<td rowspan="3">15.01.29</td>
					<td rowspan="3">Контролер станочных и слесарных работ	</td>
					<td rowspan="3"></td>
					<td>2019-2023</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>2020-2024</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>2021-2025</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
			<tbody class="very-special">
				<tr>
					<td rowspan="3">11.01.01</td>
					<td rowspan="3">Монтажник радиоэлектронной аппаратуры и приборов	</td>
					<td rowspan="3"></td>
					<td>2019-2023</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>2020-2024</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>2021-2025</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
			<tbody class="very-special">
				<tr>
					<td rowspan="3">13.01.10</td>
					<td rowspan="3">Электромонтер по ремонту и обслуживанию электрооборудования (по отраслям)</td>
					<td rowspan="3"></td>
					<td>2019-2023</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>2020-2024</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>2021-2025</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
			<tbody class="very-special">
				<tr>
					<td rowspan="3">15.01.05</td>
					<td rowspan="3">Сварщик (ручной и частично механизированной сварки(наплавки))</td>
					<td rowspan="3"></td>
					<td>2019-2023</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>2020-2024</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>2021-2025</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
			<tbody class="very-special">
				<tr>
					<td rowspan="3">15.01.25</td>
					<td rowspan="3">Станочник (металлообработка)</td>
					<td rowspan="3"></td>
					<td>2019-2023</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>2020-2024</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>2021-2025</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
			<tbody class="very-special">
				<tr>
					<td rowspan="3">23.01.08</td>
					<td rowspan="3">Слесарь по ремонту строительных машин</td>
					<td rowspan="3"></td>
					<td>2019-2023</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>2020-2024</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>2021-2025</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
			<tbody class="very-special">
				<tr>
					<td rowspan="3">09.01.03</td>
					<td rowspan="3">Мастер по обработке цифровой информации</td>
					<td rowspan="3"></td>
					<td>2019-2023</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>2020-2024</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>2021-2025</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>


		<h3 id="ppssz-top-50"" class="section-subtitle">
			Программа подготовки специалистов среднего звена (ППССЗ) ТОП-50
		</h3>
		<table class="customized">
			<thead>
				<tr>
					<th rowspan="2">Код</th>
					<th rowspan="2">Наименование</th>
					<th rowspan="2">Форма образования</th>
					<th rowspan="2">Годы обучения</th>
					<th colspan="4">Количество вакантных мест для приема(перевода) </th>
				</tr>
				<tr>
					<th>за счет бюджетных ассигнований федерального бюджета</td>
					<th>за счет бюджетных ассигнований бюджетов субъекта Российской Федерации</td>
					<th>за счет бюджетных ассигнований местных бюджетов</td>
					<th>за счет физических и (или) юридических лиц</td>
				</tr>
			</thead>
			<tbody class="very-special">
				<tr>
					<td rowspan="3">09.02.06</td>
					<td rowspan="3">Сетевое и системное администрирование</td>
					<td rowspan="3"></td>
					<td>2019-2023</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>2020-2024</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>2021-2025</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
			<tbody class="very-special">
				<tr>
					<td rowspan="3">09.02.07</td>
					<td rowspan="3">Информационные системы и программирование (квалификации: Прграммист, Разоаботчик веб и мультимедийных приложений, Специалист по информационным ресурсам)</td>
					<td rowspan="3"></td>
					<td>2019-2023</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>2020-2024</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>2021-2025</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
			<tbody class="very-special">
				<tr>
					<td rowspan="3">10.02.05</td>
					<td rowspan="3">Обеспечение информационнай безопастности автоматизированных систем</td>
					<td rowspan="3"></td>
					<td>2019-2023</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>2020-2024</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>2021-2025</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
			<tbody class="very-special">
				<tr>
					<td rowspan="3">13.02.11</td>
					<td rowspan="3">Техническая эксплуатация и обслуживание электрического и электромеханического оборудования (по отраслям)	</td>
					<td rowspan="3"></td>
					<td>2019-2023</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>2020-2024</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>2021-2025</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
			<tbody class="very-special">
				<tr>
					<td rowspan="3">15.02.10</td>
					<td rowspan="3">Мехатроника и мобильная робототехника</td>
					<td rowspan="3"></td>
					<td>2019-2023</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>2020-2024</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>2021-2025</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
			<tbody class="very-special">
				<tr>
					<td rowspan="3">15.02.15</td>
					<td rowspan="3">Технология металлообрабатывающего производства	</td>
					<td rowspan="3"></td>
					<td>2019-2023</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>2020-2024</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>2021-2025</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
			<tbody class="very-special">
				<tr>
					<td rowspan="3">25.02.07</td>
					<td rowspan="3">Техническое обслуживание авиационных двигателей	</td>
					<td rowspan="3"></td>
					<td>2019-2023</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>2020-2024</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>2021-2025</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
			<tbody class="very-special">
				<tr>
					<td rowspan="3">38.02.01</td>
					<td rowspan="3">Экономика и бухгалтерский учет (по отраслям)</td>
					<td rowspan="3"></td>
					<td>2019-2023</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>2020-2024</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>2021-2025</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
			<tbody class="very-special">
				<tr>
					<td rowspan="3">43.01.09</td>
					<td rowspan="3">Повар, кондитер</td>
					<td rowspan="3"></td>
					<td>2019-2023</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>2020-2024</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>2021-2025</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
			<tbody class="very-special">
				<tr>
					<td rowspan="3">15.01.32</td>
					<td rowspan="3">Оператор станков с программным управлением</td>
					<td rowspan="3"></td>
					<td>2019-2023</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>2020-2024</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>2021-2025</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>


		<h3 id="ppkrs-top-50" class="section-subtitle">
			Программа подготовки квалифицированных рабочих, служащих (ППКРС) ТОП-50
		</h3>
		<table class="customized">
			<thead>
				<tr>
					<th rowspan="2">Код</th>
					<th rowspan="2">Наименование</th>
					<th rowspan="2">Форма образования</th>
					<th rowspan="2">Годы обучения</th>
					<th colspan="4">Количество вакантных мест для приема(перевода) </th>
				</tr>
				<tr>
					<th>за счет бюджетных ассигнований федерального бюджета</td>
					<th>за счет бюджетных ассигнований бюджетов субъекта Российской Федерации</td>
					<th>за счет бюджетных ассигнований местных бюджетов</td>
					<th>за счет физических и (или) юридических лиц</td>
				</tr>
			</thead>
			<tbody class="very-special">
				<tr>
					<td rowspan="3"></td>
					<td rowspan="3"></td>
					<td rowspan="3"></td>
					<td>2019-2023</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>2020-2024</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>2021-2025</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>


		<h3 id="ppkrs-and-ppssz" class="section-subtitle">
			Программа подготовки квалифицированных рабочих, служащих (ППКРС) и программа подготовки специалистов среднего звена (ППССЗ) по актуализированным ФГОС
		</h3>
		<table class="customized">
			<thead>
				<tr>
					<th rowspan="2">Код</th>
					<th rowspan="2">Наименование</th>
					<th rowspan="2">Форма образования</th>
					<th rowspan="2">Годы обучения</th>
					<th colspan="4">Количество вакантных мест для приема(перевода) </th>
				</tr>
				<tr>
					<th>за счет бюджетных ассигнований федерального бюджета</th>
					<th>за счет бюджетных ассигнований бюджетов субъекта Российской Федерации</th>
					<th>за счет бюджетных ассигнований местных бюджетов</th>
					<th>за счет физических и (или) юридических лиц</th>
				</tr>
			</thead>
			<tbody class="very-special">
				<tr>
					<td rowspan="3"></td>
					<td rowspan="3"></td>
					<td rowspan="3"></td>
					<td>2019-2023</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>2020-2024</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>2021-2025</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</section>
	<aside id="sidebar" class="sidebar long">
		<h3 class="sidebar-title">
			Сведения об образовательной организации
		</h3>
		<nav class="sidebar-body">
			<ul class="sidebar-links">
				<li class="sidebar-link">
					<a href='@Url.Page("CommonIntelligence")'>
						Основные сведения
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("Structure")'>
						Структура и органы управления образовательной организацией
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("Documents")'>
						Документы
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("Education")'>
						Образование
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("EducationalStandards")'>
						Образовательные стандарты
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("EducationalProcess")'>
						Организация воспитательного процесса
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("ManagementPedagogicalStaff")'>
						Руководство. Педагогический (научно-педагогический) состав
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("Logistics")'>
						Материально-техническое обеспечение и оснащенность образовательного процесса
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("PaidEducationalServices")'>
						Платные образовательные услуги
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("FinancialEconomicActivity")'>
						Финансово-хозяйственная деятельность
					</a>
				</li>
				<li class="sidebar-link sidebar-link-selected">
					<a href='@Url.Page("Jobs")'>
						Вакантные места для приема
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("Vacancies")'>
						Вакансии
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("AccessibleEnvironment")'>
						Доступная среда
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("InternationalCooperation")'>
						Международное сотрудничество
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("StudentSupport")'>
						Стипендии и меры поддержки обучающихся
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("Terrorism")'>
						Противодействие экстремизму и терроризму
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("Corruption")'>
						Противодействие коррупции
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("Library")'>
						Библиотека
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("UPK")'>
						Учебно-производственный комплекс
					</a>
				</li>
			</ul>
		</nav>
	</aside>
</div>