@page
@model LogisticsModel
@{
    ViewData["Title"] = "Материально-техническое обеспечение и оснащенность образовательного процесса";
}

<div class="container content-page">
    <section class="content">
        <a id="plane" class="plane" href="#sidebar"></a>
        <h2 class="section-title">
            Материально-техническое обеспечение и оснащенность образовательного процесса
        </h2>

        <ul class="page-navigation">
            <li>
                <a href="#equipped-classrooms">
                    Кабинеты
                </a>
            </li>
            <li>
                <a href="#practical-exercises">
                    Проведение практических занятий
                </a>
            </li>
            <li>
                <a href="#library">
                    Библиотеки
                </a>
            </li>
            <li>
                <a href="#sport">
                    Спорт
                </a>
            </li>
            <li>
                <a href="#knowledge">
                    Условия получения знаний
                </a>
            </li>
            <li>
                <a href="#information-security">
                    Информационная обеспеченность
                </a>
            </li>
            <li>
                <a href="#educational-resources">
                    Образовательные ресурсы
                </a>
            </li>
        </ul>


        <h3 id="equipped-classrooms" class="section-subtitle">
            Оборудованные учебные кабинеты
        </h3>
        <p>
            Сведения о наличии оборудованных учебных кабинетов, объектов, для проведения практических занятий, библиотек, объектов спорта, средств обучения и воспитания, в том числе приспособленных для использования инвалидами и лицами с ограниченными возможностями здоровья.
        </p>
        <p>
            Сведения о наличии оборудованных учебных кабинетов, объектов для проведения практических занятий, в том числе приспособленных для использования инвалидами и лицами с ограниченными возможностями здоровья.
        </p>
        <p>
            Обеспечение доступа лиц с ограниченными возможностями здоровья и инвалидов в здания, аудитории, туалетные и другие помещения, а так же их пребывание в указанных помещениях.
            <br>
            Наличие доступа: нет
            <br>
            В том числе наличие Пандусов: нет
            <br>
            Подъемников: нет
            <br>
            Поручней: да
            <br>
            Расширенных дверных проемов: нет
            <br>
            Лифтов: нет
        </p>


        <h3 id="practical-exercises" class="section-subtitle">
            Проведение практических занятий
        </h3>
        <p>
            Наличие у образовательной организации на праве собственности или ином законном основании зданий, строений, сооружений, территорий, необходимых для осуществления образовательной деятельности.
        </p>
        <table class="customized">
            <thead>
                <tr>
                    <td>
                        Наименование
                    </td>
                    <td>
                        Адрес
                    </td>
                    <td>
                        Площадь
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Здание 1
                    </td>
                    <td>
                        ул. Ленина, 24
                    </td>
                    <td>
                        ...
                    </td>
                </tr>
                <tr>
                    <td>
                        Здание 2
                    </td>
                    <td>
                        ул. Ленина, 24
                    </td>
                    <td>
                        ...
                    </td>
                </tr>
                <tr>
                    <td>
                        Здание 3
                    </td>
                    <td>
                        ул. Ленина, 24
                    </td>
                    <td>
                        ...
                    </td>
                </tr>
            </tbody>
        </table>
        <ul class="documents-list little">
            <li class="document-item">
                <div class="document-item-head">
                    <a target="_blank" href="~/documents/organizationInformation/education/licenzia.pdf">
                    </a>
                </div>
                <div class="document-item-body">
                    Документ1
                </div>
            </li>
            <li class="document-item">
                <div class="document-item-head">
                    <a target="_blank" href="~/documents/organizationInformation/education/licenzia.pdf">
                    </a>
                </div>
                <div class="document-item-body">
                    Документ2
                </div>
            </li>
        </ul>

        
        <h3 id="library" class="section-subtitle">
            Библиотеки
        </h3>
        <table class="customized">
            <thead>
                <tr>
                    <td rowspan="2">
                        Адрес
                    </td>
                    <td colspan="2">
                        Посадочных мест
                    </td>
                    <td colspan="2">
                        Площадь
                    </td>
                    <td rowspan="2">
                        График работы
                    </td>
                    <td rowspan="2">
                        Приспособленность для использования инвалидами и лицами с ОВЗ
                    </td>
                </tr>
                <tr>
                    <td>
                        всего
                    </td>
                    <td>
                        приспособленных для использования инвалидами и лицами с ОВЗ
                    </td>
                    <td>
                        всего
                    </td>
                    <td>
                        приспособленная для использования инвалидами и лицами с ОВЗ
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Ленина, 24
                    </td>
                    <td>
                        42
                    </td>
                    <td>
                        180 (114 – читальный зал)
                    </td>
                    <td>
                        1
                    </td>
                    <td>
                        114
                    </td>
                    <td>
                        с 8.00 до 19.00<br>
                        сб с 8.00 до 15.00
                    </td>
                    <td>
                        да
                    </td>
                </tr>
                <tr>
                    <td>
                        Волховстроя, 5
                    </td>
                    <td>
                        12
                    </td>
                    <td>
                        160 (53 – читальный зал)
                    </td>
                    <td>
                        0
                    </td>
                    <td>
                        53
                    </td>
                    <td>
                        с 8.00 до 17.00<br>
                        сб выходной
                    </td>
                    <td>
                        нет
                    </td>
                </tr>
                <tr>
                    <td>
                        Б. Хмельницкого, 281а
                    </td>
                    <td>
                        30
                    </td>
                    <td>
                        131 (65 – читальный зал)
                    </td>
                    <td>
                        0
                    </td>
                    <td>
                        65
                    </td>
                    <td>
                        с 8.00 до 17.00<br>
                        сб выходной
                    </td>
                    <td>
                        нет
                    </td>
                </tr>
                <tr>
                    <td>
                        Космический проспект, 14а
                    </td>
                    <td>
                        33
                    </td>
                    <td>
                        172 (110 – читальный зал)
                    </td>
                    <td>
                        1
                    </td>
                    <td>
                        110
                    </td>
                    <td>
                        с 8.00 до 17.00<br>
                        сб выходной
                    </td>
                    <td>
                        да
                    </td>
                </tr>
            </tbody>
        </table>
        <p>
            <a href='@Url.Page("Library")'>
                Более подробная информация о библиотеках нашего учебного заведения
            </a>
        </p>


        <h3 id="sport" class="section-subtitle">
            Спортивная деятельность
        </h3>
        <p>
            Данные об объектах спорта, в том числе приспособленных для использования инвалидами и лицами с ограниченными возможностями здоровья.
        </p>


        <h3 class="section-subtitle">
            Средства обучения и воспитания
        </h3>
        <p>
            Наличие возможности развития творческих способностей и интересов обучающихся, включая их участие в конкурсах и олимпиадах (в том числе во всероссийских и международных), выставках, смотрах, физкультурных мероприятиях, спортивных мероприятиях, в том числе в официальных спортивных соревнованиях, и других массовых мероприятиях.
        </p>
        <p>
            Сведения о наличии средств обучения и воспитания, в том числе приспособленных для использования инвалидами и лицами с ограниченными возможностями здоровья
            <br>
            нет
        </p>
        <p>
            Условия для индивидуальной работы с обучающимися
        </p>
        <ul class="customized">
            <li>
                Имеются спортивные секции
            </li>
            <li>
                Проводятся психологические и социологические исследования, опросы
            </li>
        </ul>


        <h3 id="knowledge" class="section-subtitle">
            Условия получения знаний обучающихся
        </h3>
        <p>
            Наличие возможности развития творческих способностей и интересов обучающихся, включая их участие в конкурсах и олимпиадах (в том числе во всероссийских и международных), выставках, смотрах, физкультурных мероприятиях, спортивных мероприятиях, в том числе в официальных спортивных соревнованиях, и других массовых мероприятиях.
        </p>
        <h4 class="section-subtitle-small">
            Питание
        </h4>
        <p>
            Сведения об условиях питания обучающихся, в том числе приспособленных для использования инвалидами и лицами с ограниченными возможностями здоровья.
        </p>
        <h4 class="section-subtitle-small">
            Охрана здоровья
        </h4>
        <p>
            Сведения об условиях охраны здоровья обучающихся, в том числе приспособленных для использования инвалидами и лицами с ограниченными возможностями здоровья.
        </p>
        <p>
            Для соблюдения условий охраны здоровья обучающихся в техникуме имеется:
        </p>
        <ul class="customized">
            <li>
                буфет
            </li>
            <li>
                медпункт
            </li>
        </ul>
        <p>
            На официальном сайте Техникума в сети Интернет размещена специальная версия сайта для лиц с нарушением зрения.
        </p>
        <p>
            Наличие специальных технических средств обучения коллективного и индивидуального пользования для инвалидов и лиц с ограниченными возможностями здоровья.
        </p>
        <p>
            Наличие условий организации обучения и воспитания обучающихся с ограниченными возможностями здоровья и инвалидов
            <br>
            нет
        </p>


        <h3 id="information-security" class="section-subtitle">
            Информационная обеспеченность
        </h3>
        <p>
            Сведения о доступе к информационным системам и информационно-телекоммуникационным сетям, к которым обеспечивается доступ обучающихся, в том числе приспособленных для использования инвалидами и лицами с ограниченными возможностями здоровья. Сведения о доступе к электронной информационно-образовательной среде и электронным ресурсам, к которым обеспечивается доступ обучающихся.
        </p>
        <p>
            Наличие в образовательной организации электронной информационно-образовательной среды
            <br>
            Общее количество компьютеров с выходом в информационно-телекоммуникационную сеть «Интернет», к которым имеют доступ обучающиеся
            <br>
            Общее количество ЭБС, к которым имеют доступ обучающиеся (собственных или на договорной основе)
            <br>
            Наличие собственных электронных образовательных и информационных ресурсов
            <br>
            Наличие сторонних электронных образовательных и информационных ресурсов
            <br>
            Наличие базы данных электронного каталога(количество)
        </p>
        <p>
            В колледже построена сетевая инфраструктура, которая обеспечивает подключение всех пользователей на скорости 100Мбит/с. Локальная сеть обеспечивает подключение компьютеров для обучающихся и преподавателей и предоставляет доступ к электронным образовательным ресурсам, сервисам и сети Интернет. Доступ к сетевой инфраструктуре для инвалидов и лиц с ограниченными возможностями здоровья: частично избирательно Основной интернет сайт колледжа имеет специальную версию для слабовидящих.
        </p>
        <table class="customized">
            <thead>
                <tr>
                    <td rowspan="2">
                        Наименование показателей
                    </td>
                    <td colspan="3">
                        Количество
                    </td>
                </tr>
                <tr>
                    <td>
                        всего
                    </td>
                    <td>
                        для учебных целяй
                    </td>
                    <td>
                        для обучающихся в свободное от основных занятий время
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Персональные компьютеры – всего
                    </td>
                    <td>
                        165
                    </td>
                    <td>
                        85
                    </td>
                    <td>
                        4
                    </td>
                </tr>
                <tr>
                    <td>
                        Ноутбуки и другие портативные персональные компьютеры (кроме планшетных)
                    </td>
                    <td>
                        31
                    </td>
                    <td>
                        12
                    </td>
                    <td>
                        0
                    </td>
                </tr>
                <tr>
                    <td>
                        Планшетные компьютеры, находящиеся в составе локальных вычислительных сетей
                    </td>
                    <td>
                        85
                    </td>
                    <td>
                       73
                    </td>
                    <td>
                        4
                    </td>
                </tr>
                <tr>
                    <td>
                        Планшетные компьютеры, имеющие доступ к Интернету
                    </td>
                    <td>
                        85
                    </td>
                    <td>
                        73
                    </td>
                    <td>
                        4
                    </td>
                </tr>
                <tr>
                    <td>
                        Планшетные компьютеры, поступившие в отчетном году
                    </td>
                    <td>
                        6
                    </td>
                    <td>
                        6
                    </td>
                    <td>
                        0
                    </td>
                </tr>
                <tr>
                    <td>
                        Электронные терминалы (инфоматы)
                    </td>
                    <td>
                        0
                    </td>
                    <td>
                        0
                    </td>
                    <td>
                        0
                    </td>
                </tr>
                <tr>
                    <td>
                        Электронные терминалы с доступом к ресурсам Интернета
                    </td>
                    <td>
                        0
                    </td>
                    <td>
                        0
                    </td>
                    <td>
                        0
                    </td>
                </tr>
                <tr>
                    <td>
                        Мультимедийные проекторы
                    </td>
                    <td>
                        10
                    </td>
                    <td>
                        0
                    </td>
                    <td>
                        0
                    </td>
                </tr>
                <tr>
                    <td>
                        Интерактивные доски
                    </td>
                    <td>
                        2
                    </td>
                    <td>
                        0
                    </td>
                    <td>
                        0
                    </td>
                </tr>
                <tr>
                    <td>
                        Принтеры
                    </td>
                    <td>
                        21
                    </td>
                    <td>
                        0
                    </td>
                    <td>
                        0
                    </td>
                </tr>
                <tr>
                    <td>
                        Сканеры
                    </td>
                    <td>
                        3
                    </td>
                    <td>
                        0
                    </td>
                    <td>
                        0
                    </td>
                </tr>
                <tr>
                    <td>
                        Многофункциональные устройства (МФУ, выполняющие операции печати, сканирования, копирования)
                    </td>
                    <td>
                        19
                    </td>
                    <td>
                        0
                    </td>
                    <td>
                        0
                    </td>
                </tr>
            </tbody>
        </table>



        <h3 id="educational-resources" class="section-subtitle">
            Электронные образовательные ресурсы
        </h3>
        <h4 class="section-subtitle-small">
            Собственные (при наличии)
        </h4>
        <h4 class="section-subtitle-small">
            Сторонние
        </h4>
        <ul class="customized">
            <li>
                <a href="http://xn--80abucjiibhv9a.xn--p1ai/">Министерство образования и науки Российской Федерации</a>
            </li>
            <li>
                <a href="http://www.edu.ru/">Федеральный портал «Российское образование»</a>
            </li>
            <li>
                <a href="http://school-collection.edu.ru/">Единая коллекция цифровых образовательных ресурсов</a>
            </li>
            <li>
                <a href="http://window.edu.ru/">Информационная система «Единое окно доступа к образовательным ресурсам</a>
            </li>
            <li>
                <a href="http://fcior.edu.ru/">Федеральный центр информационно-образовательных ресурсов</a>
            </li>
            <li>
                <a href="https://olden.rsl.ru/">Российская государственная библиотека (РГБ)</a>
            </li>
            <li>
                <a href="http://www.nlr.ru/">Российская национальная библиотека (РНБ)</a>
            </li>
            <li>
                <a href="http://www.gpntb.ru/">Государственная публичная научно-техническая библиотека России</a>
            </li>
        </ul>
        <b>Библиотеки Омска:</b>
        <ul class="customized">
            <li>
                <a href="http://old.omsklib.ru/info/index.htm">Информационно-библиотечные ресурсы Омской области</a>
            </li>
            <li>
                <a href="http://omcls.omskreg.ru/">Корпоративная библиотечная система Омского региона</a>
            </li>
        </ul>
        <b>Периодические издания:</b>
        <ul class="customized">
            <li>
                <a href="http://list.mail.ru/10966/1/0_1_0_1.html">Список газет на List.ru</a>
            </li>
            <li>
                <a href="http://list.mail.ru/10967/1/0_1_0_1.html">Список журналов на List.ru</a>
            </li>
            <li>
                <a href="http://magazines.russ.ru/">Журнальный зал</a>
            </li>
            <li>
                <a href="https://www.public.ru/">Публичная интернет библиотека</a>
            </li>
            <li>
                <a href="http://tih.kubsu.ru/informatsionnie-resursi/elektronnie-resursi-nb.html">Электронные библиотечные системы и ресурсы</a>
            </li>
            <li>
                <a href="https://www.book.ru/">Электронно-библиотечная система BOOK.ru</a>
            </li>
            <li>
                <a href="http://www.academia-moscow.ru/elibrary/">Электронная библиотека издательского центра «Академия»</a>
            </li>
        </ul>
    </section>
    <aside id="sidebar" class="sidebar long">
        <h3 class="sidebar-title">
            Сведения об образовательной организации
        </h3>
        <nav class="sidebar-body">
            <ul class="sidebar-links">
                <li class="sidebar-link">
                    <a href='@Url.Page("CommonIntelligence")'>
                        Основные сведения
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("Structure")'>
                        Структура и органы управления образовательной организацией
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("Documents")'>
                        Документы
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("Education")'>
                        Образование
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("EducationalStandards")'>
                        Образовательные стандарты
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("EducationalProcess")'>
                        Организация воспитательного процесса
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("ManagementPedagogicalStaff")'>
                        Руководство. Педагогический (научно-педагогический) состав
                    </a>
                </li>
                <li class="sidebar-link sidebar-link-selected">
                    <a href='@Url.Page("Logistics")'>
                        Материально-техническое обеспечение и оснащенность образовательного процесса
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("PaidEducationalServices")'>
                        Платные образовательные услуги
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("FinancialEconomicActivity")'>
                        Финансово-хозяйственная деятельность
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("Jobs")'>
                        Вакантные места для приема
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("Vacancies")'>
                        Вакансии
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("AccessibleEnvironment")'>
                        Доступная среда
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("InternationalCooperation")'>
                        Международное сотрудничество
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("StudentSupport")'>
                        Стипендии и меры поддержки обучающихся
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("Terrorism")'>
                        Противодействие экстремизму и терроризму
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("Corruption")'>
                        Противодействие коррупции
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("Library")'>
                        Библиотека
                    </a>
                </li>
            </ul>
        </nav>
    </aside>
</div>