@page
@model ManagementPedagogicalStaffModel
@{
    ViewData["Title"] = "Руководство. Педагогический (научно-педагогический) состав";
}

<link rel="stylesheet" href="~/css/organizationInformation/menagementPedagogicalStaff.css" asp-append-version="true">

<div class="container content-page">
    <section class="content">
        <h2 class="section-title">
            Руководство. Педагогический (научно-педагогический) состав
        </h2>

        <form class="search-people">
            <div class="search-people-container">
                <input type="search" placeholder="Введите ФИО...">
                <button>
                    <img class="icon" src="~/images/basic/search.svg" alt="искать">
                </button>
            </div>
        </form>

        <h3 class="section-subtitle">
            Руководство
        </h3>
        <ul class="people-list">
            <li class="people-item">
                <a class="people-item-img-container" href='@Url.Page("Director")'>
                    <img src="~/images/people/kolcovAlexanderGermanovic.jpeg" alt="">
                </a>
                <div class="people-item-body more-info">
                    <div class="people-item-body-fio">
                        Кольцов Александр Германович
                    </div>
                    <div class="people-item-body-job">
                        Директор
                    </div>
                    <div class="people-item-body-phone">
                        +7-999-999-05
                    </div>
                    <div class="people-item-body-email">
                        mail@mail.com
                    </div>
                </div>
            </li>
        </ul>

        <h3 class="section-subtitle">
            Заместители руководителя
        </h3>
        <ul class="people-list">
            <li class="people-item">
                <a class="people-item-img-container" href="">
                    <img src="~/images/people/trockaiaOlgaAlexandrovna.png" alt="">
                </a>
                <div class="people-item-body more-info">
                    <div class="people-item-body-fio">
                        Троцкая Ольга Александровна
                    </div>
                    <div class="people-item-body-job">
                        Заместитель директора
                    </div>
                    <div class="people-item-body-phone">
                        +7-999-999-05
                    </div>
                    <div class="people-item-body-email">
                        mail@mail.com
                    </div>
                </div>
            </li>
            <li class="people-item">
                <a class="people-item-img-container" href="">
                    <img src="~/images/people/savinAntonViktorovic.png" alt="">
                </a>
                <div class="people-item-body more-info">
                    <div class="people-item-body-fio">
                        Савин Антон Викторович
                    </div>
                    <div class="people-item-body-job">
                        Заместитель директора
                    </div>
                    <div class="people-item-body-phone">
                        +7-999-999-05
                    </div>
                    <div class="people-item-body-email">
                        mail@mail.com
                    </div>
                </div>
            </li>
            <li class="people-item">
                <a class="people-item-img-container" href="">
                    <img src="~/images/people/kamenevaAnnaGrigorevna.jpg" alt="">
                </a>
                <div class="people-item-body more-info">
                    <div class="people-item-body-fio">
                        Каменева Анна Григорьевна
                    </div>
                    <div class="people-item-body-job">
                        Заместитель директора
                    </div>
                    <div class="people-item-body-phone">
                        +7-999-999-05
                    </div>
                    <div class="people-item-body-email">
                        mail@mail.com
                    </div>
                </div>
            </li>
            <li class="people-item">
                <a class="people-item-img-container" href="">
                    <img src="~/images/people/baxtinovPetrPetrovic.jpg" alt="">
                </a>
                <div class="people-item-body more-info">
                    <div class="people-item-body-fio">
                        Бахтинов Петр Петрович
                    </div>
                    <div class="people-item-body-job">
                        Заместитель директора
                    </div>
                    <div class="people-item-body-phone">
                        +7-999-999-05
                    </div>
                    <div class="people-item-body-email">
                        mail@mail.com
                    </div>
                </div>
            </li>
            <li class="people-item">
                <a class="people-item-img-container" href="">
                    <img src="~/images/people/nazarovPavelVladislavovic.jpeg" alt="">
                </a>
                <div class="people-item-body more-info">
                    <div class="people-item-body-fio">
                        Назаров Павел Владиславович
                    </div>
                    <div class="people-item-body-job">
                        Заместитель директора
                    </div>
                    <div class="people-item-body-phone">
                        +7-999-999-05
                    </div>
                    <div class="people-item-body-email">
                        mail@mail.com
                    </div>
                </div>
            </li>
            <li class="people-item">
                <a class="people-item-img-container" href="">
                    <img src="~/images/people/eleckiDanilSergeevic.jpg" alt="">
                </a>
                <div class="people-item-body more-info">
                    <div class="people-item-body-fio">
                        Елецкий Данил Сергеевич
                    </div>
                    <div class="people-item-body-job">
                        Заместитель директора
                    </div>
                    <div class="people-item-body-phone">
                        +7-999-999-05
                    </div>
                    <div class="people-item-body-email">
                        mail@mail.com
                    </div>
                </div>
            </li>
        </ul>

        <h3 class="section-subtitle">
            Главный бухгалтер
        </h3>
        <ul class="people-list">
            <li class="people-item">
                <a class="people-item-img-container" href="">
                    <img src="~/images/people/dolguchevaNataliaUrievna.jpg" alt="">
                </a>
                <div class="people-item-body more-info">
                    <div class="people-item-body-fio">
                        Долгушева Наталия Юрьевна
                    </div>
                    <div class="people-item-body-job">
                        Главный бухгалтер
                    </div>
                    <div class="people-item-body-phone">
                        +7-999-999-05
                    </div>
                    <div class="people-item-body-email">
                        mail@mail.com
                    </div>
                </div>
            </li>
        </ul>

        <h3 class="section-subtitle">
            Персональный состав педагогических работников
        </h3>

        <div class="pages-nav-container">
            <div class="pages-nav">
                <a href="" class="pages-nav-arrow pages-nav-prev">
                    <img class="icon" src="~/images/basic/longArrow.svg" alt="назад">
                </a>
                <div class="pages-nav-pages-list">
                    <a href="" class="pages-nav-pages-list-item current">
                        1
                    </a>
                    <a href="" class="pages-nav-pages-list-item">
                        2
                    </a>
                    <a href="" class="pages-nav-pages-list-item">
                        3
                    </a>
                    <a href="" class="pages-nav-pages-list-item">
                        4
                    </a>
                    <a href="" class="pages-nav-pages-list-item">
                        5
                    </a>
                </div>
                <a href="" class="pages-nav-arrow pages-nav-next">
                    <img class="icon" src="~/images/basic/longArrow.svg" alt="вперед">
                </a>
            </div>
        </div>
        
    </section>
    <aside id="sidebar" class="sidebar long">
        <h3 class="sidebar-title">
            Сведения об образовательной организации
        </h3>
        <nav class="sidebar-body">
            <ul class="sidebar-links">
                <li class="sidebar-link">
                    <a href='@Url.Page("CommonIntelligence")'>
                        Основные сведения
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("Structure")'>
                        Структура и органы управления образовательной организацией
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("Documents")'>
                        Документы
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("Education")'>
                        Образование
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("EducationalStandards")'>
                        Образовательные стандарты
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("EducationalProcess")'>
                        Организация воспитательного процесса
                    </a>
                </li>
                <li class="sidebar-link sidebar-link-selected">
                    <a href='@Url.Page("ManagementPedagogicalStaff")'>
                        Руководство. Педагогический (научно-педагогический) состав
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("Logistics")'>
                        Материально-техническое обеспечение и оснащенность образовательного процесса
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("PaidEducationalServices")'>
                        Платные образовательные услуги
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("FinancialEconomicActivity")'>
                        Финансово-хозяйственная деятельность
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("Jobs")'>
                        Вакантные места для приема
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("Vacancies")'>
                        Вакансии
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("AccessibleEnvironment")'>
                        Доступная среда
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("InternationalCooperation")'>
                        Международное сотрудничество
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("StudentSupport")'>
                        Стипендии и меры поддержки обучающихся
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("Terrorism")'>
                        Противодействие экстремизму и терроризму
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("Corruption")'>
                        Противодействие коррупции
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("Library")'>
                        Библиотека
                    </a>
                </li>
            </ul>
        </nav>
    </aside>
</div>