@page
@model StructureModel
@{
	ViewData["Title"] = "Структура и органы управления образовательной организацией";
}

<div class="container content-page">
	<section class="content">
		<a id="plane" class="plane" href="#sidebar"></a>
		<h2 class="section-title">
			Структура и органы управления образовательной организацией
		</h2>

		<ul class="page-navigation">
			<li>
				<a href="#structure-subdivision">
					Структурные подразделения
				</a>
			</li>
			<li>
				<a href="#separations">
					Отделения
				</a>
			</li>
			<li>
				<a href="#educational-part">
					Учебная часть
				</a>
			</li>
			<li>
				<a href="#services">
					Службы
				</a>
			</li>
		</ul>

		<h3 id="structure-subdivision" class="section-subtitle">
			Структурные подразделения
		</h3>

		<div class="accordions-list">
			<div class="accordion">
				<div class="accordion-head">
					Отдел бухгалтерского учёта и анализа хозяйственно-финансовой деятельности
				</div>
				<div class="accordion-body">
					<p>
						<i>Заведующий (заместитель гл. бухгалтера):</i> Долгушева Наталия Юрьевна
					</p>
					<p>
						<i>Адрес:</i> г. Омск, ул. Ленина, 24. Каб. 134
					</p>
					<p>
						<i>Телефон:</i> (3812) 30-52-97
					</p>
					<p>
						<i>Режим работы:</i> пн-пт, 8:00-17:00. Обед: 12:00-13:00
					</p>
				</div>
			</div>

			<div class="accordion">
				<div class="accordion-head">
					Отдел организационно-кадровой работы
				</div>
				<div class="accordion-body">
					<p>
						<i>Руководитель:</i> Москаленко Сергей Игоревич
					</p>
					<p>
						<i>Адрес:</i> г. Омск, ул. Ленина, 24. Каб. 322
					</p>
					<p>
						<i>Телефон:</i> (3812) 31-73-27
					</p>
					<div class="document-item">
						<div class="document-item-head">
							<a target="_blank" href="~/documents/organizationInformation/structure/pologeniePodrazdelenia1.pdf">
							</a>
						</div>
						<div class="document-item-body">
							Положение о подразделении
						</div>
					</div>
				</div>
			</div>
			<div class="accordion">
				<div class="accordion-head">
					Отдел кадров
				</div>
				<div class="accordion-body">
					<p>
						<i>Начальник:</i> Медведкова Валентина Борисовна
					</p>
					<p>
						<i>Адрес:</i> г. Омск, ул. Ленина, 24. Каб. 229
					</p>
					<p>
						<i>Телефон:</i> (3812) 31-73-27
					</p>
					<p>
						<i>Режим работы:</i> пн-пт, 8:00-17:00. Обед: 12:00-13:00
					</p>
				</div>
			</div>
			<div class="accordion">
				<div class="accordion-head">
					Хозяйственный отдел
				</div>
				<div class="accordion-body">
					<p>
						<i>Заведующий хозяйством:</i> Кондратенко Наталья Николаевна
					</p>
					<p>
						<i>Адрес:</i> г. Омск, ул. Ленина, 24. Каб. 122
					</p>
					<p>
						<i>Телефон:</i> (3812) 31-73-36
					</p>
					<p>
						<i>Режим работы:</i> пн-пт, 8:00-17:00
					</p>
				</div>
			</div>
			<div class="accordion">
				<div class="accordion-head">
					Администрация
				</div>
				<div class="accordion-body">
					<b>Директор</b>
					<p>
						<i>Руководитель:</i> Кольцов Александр Германович
					</p>
					<p>
						<i>Адрес:</i> г. Омск, ул. Ленина, 24. Каб. 230
					</p>
					<p>
						<i>Телефон:</i> (3812) 31-44-65
					</p>
					<p>
						<i>Режим работы:</i> пн-пт, 8:00-17:00. Обед: 12:00-13:00
					</p>
				</div>
			</div>
			<div class="accordion">
				<div class="accordion-head">
					Архив
				</div>
				<div class="accordion-body">
					<p>
						<i>Архивариус:</i> Ержегитова Ирина Ибрагимовна
					</p>
					<p>
						<i>Адрес:</i> г. Омск, ул. Ленина, 24. Каб. 139
					</p>
					<p>
						<i>Телефон:</i> (3812) 31-16-39
					</p>
					<p>
						<i>Режим работы:</i> пн-пт, 8:00-17:00
					</p>
				</div>
			</div>
			<div class="accordion">
				<div class="accordion-head">
					Библиотека
				</div>
				<div class="accordion-body">
					<p>
						<i>Заведующая:</i> Горюнова Вера Феликсовна
					</p>
					<p>
						<i>Адрес:</i> г. Омск, ул. Ленина, 24.
					</p>
					<p>
						<i>Режим работы:</i> пн-пт, 08.00-17.00;
						выходной: суббота, воскресенье
					</p>
					<p>
						Последняя пятница месяца – санитарный день
					</p>
				</div>
			</div>
			<div class="accordion">
				<div class="accordion-head">
					Бухгалтерия
				</div>
				<div class="accordion-body">
					<p>
						<b>Заведующий (заместитель гл. бухгалтера):</b> Долгушева Наталия Юрьевна
					</p>
					<p>
						<i>Адрес:</i> г. Омск, ул. Ленина, 24. Каб. 134
					</p>
					<p>
						<i>Телефон:</i> (3812) 30-52-97
					</p>
					<p>
						<i>Режим работы:</i> пн-пт, 8:00-17:00. Обед: 12:00-13:00
					</p>
				</div>
			</div>
			<div class="accordion">
				<div class="accordion-head">
					Канцелярия
				</div>
				<div class="accordion-body">
					<p>
						<i>Заведующая:</i> Баранова Татьяна Владимировна
					</p>
					<p>
						<i>Адрес:</i> г. Омск, ул. Ленина, 24. Каб. 230
					</p>
					<p>
						<i>Телефон:</i> (3812) 31-44-65
					</p>
					<p>
						<i>Режим работы:</i> пн-пт, 8:00-17:00. Обед: 12:00-13:00
					</p>
				</div>
			</div>
			<div class="accordion">
				<div class="accordion-head">
					Медпункт
				</div>
				<div class="accordion-body">
					<p>
						<i>Заведующий медпунктом:</i> Эварт Вера Васильевна
					</p>
					<p>
						<i>Адрес:</i> г. Омск, ул. Ленина, 24. Каб. 331
					</p>
					<p>
						<i>Телефон:</i> (3812) 31-44-65
					</p>
					<p>
						<i>Режим работы:</i> пн-пт, 8:00-18:00; сб, 8:00-15:00
					</p>
				</div>
			</div>
			<div class="accordion">
				<div class="accordion-head">
					МЦПК (произвоство и СТО)
				</div>
				<div class="accordion-body">
					<p>
						<i>Руководитель:</i> Ширяев Андрей Дмитриевич
					</p>
					<p>
						<i>Адрес:</i> г. Омск, Космический проспект, 14а. Каб. 112
					</p>
					<p>
						<i>Телефон (рабочий):</i> 8-905-942-23-09
					</p>
				</div>
			</div>
			<div class="accordion">
				<div class="accordion-head">
					Учебно-производственный комплекс
				</div>
				<div class="accordion-body">
					<p>
						Учебно-производственный комплекс создан в колледже в целях организации практической подготовки обучающихся, предоставления временной работы обучающимся и выпускникам, а также производства товаров, выполнения работ и оказания услуг.
					</p>
					<p>
						Подробнее узнать об УПК вы можете <a asp-page="UPK">здесь</a>
					</p>
				</div>
			</div>
			<div class="accordion">
				<div class="accordion-head">
					Научно-методический центр
				</div>
				<div class="accordion-body">
					<p>
						<i>Старший методист:</i> Павлова Елена Владимировна
					</p>
					<p>
						<i>Адрес:</i> г. Омск, ул. Ленина, 24. Каб. 512
					</p>
					<p>
						<i>Телефон:</i> г. Омск, ул. Ленина, 24. Каб. 512
					</p>
					<p>
						<i>Режим работы:</i> пн-пт, 8:00-17:00. Обед: 12:00-13:00
					</p>
				</div>
			</div>
			<div class="accordion">
				<div class="accordion-head">
					Производственное обучение
				</div>
				<div class="accordion-body">
					<p>
						<i>Заведующий:</i> Маслаков Александр Сергеевич
					</p>
					<p>
						<i>Адрес:</i> г. Омск, ул. Ленина, 24. Каб. 105 «А»
					</p>
					<p>
						<i>Телефон:</i> +7(3812) 31-44-81
					</p>
				</div>
			</div>

			<div class="accordion">
				<div class="accordion-head">
					Склад
				</div>
				<div class="accordion-body">
					<p>
						<i>Заведующая:</i> Котельникова Наталья Владимировна
					</p>
					<p>
						<i>Адрес:</i> г. Омск, ул. Ленина, 24. Каб. 105
					</p>
					<p>
						<i>Режим работы:</i> пн-пт 8:00-17:00
					</p>
				</div>
			</div>
			<div class="accordion">
				<div class="accordion-head">
					Цикловые методические комиссии (ЦМК)
				</div>
				<div class="accordion-body">
					<ul class="customized">
						<li>ЦМК ПОИТ</li>
						<li>ЦМК КСЗС</li>
						<li>ЦМК ТехРЭТ</li>
						<li>ЦМК ТехСвар</li>
						<li>ЦМК ТехАРС</li>
						<li>ЦМК ЭКУП</li>
						<li>ЦМК Ра и ЭМ</li>
						<li>ЦМК Техмаш</li>
						<li>ЦМК СГД</li>
						<li>ЦМК ЕНД</li>
						<li>ЦМК ТехОПит</li>
						<li>ЦМК Математики и информатики</li>
						<li>ЦМК Русс.Яз</li>
						<li>ЦМК ФКД</li>
					</ul>
					<div class="document-item">
						<div class="document-item-head">
							<a target="_blank" href="~/documents/organizationInformation/structure/pologenieCMK.pdf">
							</a>
						</div>
						<div class="document-item-body">
							Положение о ЦМК
						</div>
					</div>
				</div>
			</div>
		</div>


		<h3 id="separations" class="section-subtitle">
			Отделения
		</h3>
		<div class="accordions-list">
			<div class="accordion">
				<div class="accordion-head">
					Отделение экономики и социальной работы
				</div>
				<div class="accordion-body">
					<p>
                        <i>Руководитель структурного подразделения:</i> Листков Вячеслав Владимирович
					</p>
					<p>
						<i>Должность:</i> заведующий отделением
					</p>
					<p>
						<i>Адрес:</i>  г. Омск, ул. Волховстроя, д.5, корп.4
					</p>
					<p>
						<i><a asp-page="/departments/EiSR">Официальный сайт</a></i>
					</p>
					<p>
						<i>Контактный телефон:</i> (3812)-23-63-56
					</p>
					<p>
						<i>Режим работы:</i> пн-пт 08:00-17:00
					</p>
				</div>
			</div>
			<div class="accordion">
				<div class="accordion-head">
					Отделение инновационных образовательных программ, содействия трудоустройству и профессиональной ориентации (ИТПР)
				</div>
				<div class="accordion-body">
					<p>
						<i>Заместитель директора:</i> Савин Антон Викторович
					</p>
					<p>
						<i>Адрес:</i> г. Омск, ул. Ленина, 24. Каб. 227
					</p>
					<p>
						<i>Телефон:</i> (3812) 31-73-55
					</p>
					<p>
						<i>Режим работы:</i> пн-пт, 9:00-18:00
					</p>
					<div class="document-item">
						<div class="document-item-head">
							<a target="_blank" href="~/documents/organizationInformation/structure/pologeniePodrazdelenia3.pdf">
							</a>
						</div>
						<div class="document-item-body">
							Положение о подразделении
						</div>
					</div>
				</div>
			</div>
			<div class="accordion">
				<div class="accordion-head">
					Отделение программ подготовки квалифицированных рабочих и служащих
				</div>
				<div class="accordion-body">
					<p>
						<i>Руководитель структурного подразделения:</i> Троцкий Дмитрий Леонидович
					</p>
					<p>
						<i>Должность:</i> заведующий отделением
					</p>
					<p>
						<i>Адрес:</i>  г. Омск, Космический просп., 14А
					</p>
					<p>
						<i><a asp-page="/departments/PPKRS">Официальный сайт</a></i>
					</p>
					<p>
						<i>Контактный телефон:</i> (3812) 53-64-53, (3812) 53-64-57
					</p>
					<p>
						<i>Режим работы:</i> пн-пт 8:00-17:00
					</p>
					<div class="document-item">
						<div class="document-item-head">
							<a target="_blank" href="~/documents/organizationInformation/structure/pologeniePodrazdelenia2.pdf">
							</a>
						</div>
						<div class="document-item-body">
							Положение о подразделении
						</div>
					</div>
				</div>
			</div>
			<div class="accordion">
				<div class="accordion-head">
					Отделение радиотехники и технологии сварки
				</div>
				<div class="accordion-body">
					<p>
						<i>Руководитель структурного подразделения:</i> Домнич Александр Юрьевич
					</p>
					<p>
						<i>Должность:</i> заведующий отделением
					</p>
					<p>
						<i>Адрес:</i>  г. Омск, ул. Ленина
					</p>
					<p>
						<i><a asp-page="/departments/RTS">Официальный сайт</a></i>
					</p>
					<p>
						<i>Контактный телефон:</i> (3812) 36-18-66
					</p>
					<p>
						<i>Режим работы:</i> пн-пт с 8.00 до 17.00
					</p>
				</div>
			</div>
			<div class="accordion">
				<div class="accordion-head">
					Отделение технологии машиностроения
				</div>
				<div class="accordion-body">
					<p>
						<i>Руководитель структурного подразделения:</i> Сковородина Наталья Александровна
					</p>
					<p>
						<i>Должность:</i> заведующий отделением
					</p>
					<p>
						<i>Адрес:</i>  г. Омск, ул. Волховстроя, д.5, корп.4
					</p>
					<p>
						<i><a asp-page="/departments/OTM">Официальный сайт</a></i>
					</p>
					<p>
						<i>Контактный телефон:</i> (3812) 21-10-17
					</p>
					<p>
						<i>Режим работы:</i> пн-пт 08:00-17:00
					</p>
				</div>
			</div>
			<div class="accordion">
				<div class="accordion-head">
					Отделение технологии аэрокосмического производства и электротехники (ТАКПиЭ)
				</div>
				<div class="accordion-body">
					<p>
						<i>Руководитель структурного подразделения:</i> Пономарев Сергей Викторович
					</p>
					<p>
						<i>Должность:</i> заведующий отделением
					</p>
					<p>
						<i>Адрес:</i>  г. Омск, ул. Б. Хмельницкого 281А
					</p>
					<p>
						<i><a asp-page="/departments/TAKPiE">Официальный сайт</a></i>
					</p>
					<p>
						<i>Контактный телефон:</i> (3812) 36-04-64
					</p>
					<p>
						<i>Режим работы:</i> пн-пт 8:00-17:00
					</p>
				</div>
			</div>
			<div class="accordion">
				<div class="accordion-head">
					Отделение информационных технологий
				</div>
				<div class="accordion-body">
					<p>
						<i>Руководитель структурного подразделения:</i> Каштанов Николай Николаевич
					</p>
					<p>
						<i>Должность:</i> заведующий отделением
					</p>
					<p>
						<i>Адрес:</i>  г. Омск, ул. Ленина, 24. Каб. 340
					</p>
					<p>
						<i><a asp-page="/departments/IT">Официальный сайт</a></i>
					</p>
					<p>
						<i>Контактный телефон:</i> (3812) 36-18-66 доб. 340
					</p>
					<p>
						<i>Режим работы:</i> пн-пт 8:00-17:00
					</p>
				</div>
			</div>
		</div>


		<h3 id="educational-part" class="section-subtitle">
			Учебная часть
		</h3>
		<div class="accordions-list">
			<div class="accordion">
				<div class="accordion-head">
					Корпус №1
				</div>
				<div class="accordion-body">
					<p>
						<i>Наименование структурного подразделения:</i> Учебная часть №1
					</p>
					<p>
						<i>Руководитель структурного подразделения:</i> Ленковская Лариса Викторовна
					</p>
					<p>
						<i>Должность:</i> Заведующий учебной частью
					</p>
					<p>
						<i>Адрес:</i>  г. Омск, ул. Ленина, 24. Каб. 224
					</p>
					<p>
						<i>Официальный сайт:</i>  <a href="https://oat.ru">https://oat.ru</a>
					</p>
					<p>
						<i>Электронная почта:</i>  <a href="mailto:lenkovskaya@oat.local">lenkovskaya@oat.local</a>
					</p>
					<p>
						<i>Контактный телефон:</i> (3812) 31-30-42
					</p>
					<p>
						<i>Режим работы:</i> пн-сб, 7:30-19:30
					</p>
				</div>
			</div>
			<div class="accordion">
				<div class="accordion-head">
					Корпус №2
				</div>
				<div class="accordion-body">
					<p>
						<i>Наименование структурного подразделения:</i> Учебная часть №2
					</p>
					<p>
						<i>Руководитель структурного подразделения:</i> Богун Елена Геннадьевна
					</p>
					<p>
						<i>Должность:</i> Заведующий учебной частью
					</p>
					<p>
						<i>Адрес:</i>  г. Омск, Космический проспект, 14а.
					</p>
					<p>
						<i>Официальный сайт:</i>  <a href="https://oat.ru">https://oat.ru</a>
					</p>
					<p>
						<i>Электронная почта:</i>  <a href="mailto:bogun.eg@oat.local">bogun.eg@oat.local</a>
					</p>
					<p>
						<i>Контактный телефон:</i> (3812) 53-64-57
					</p>
					<p>
						<i>Режим работы:</i> пн-сб, 7:30-19:30
					</p>
				</div>
			</div>
			<div class="accordion">
				<div class="accordion-head">
					Корпус №3
				</div>
				<div class="accordion-body">
					<p>
						<i>Наименование структурного подразделения:</i> Учебная часть №3
					</p>
					<p>
						<i>Руководитель структурного подразделения:</i> Барабаш Ирина Сергеевна
					</p>
					<p>
						<i>Должность:</i> Заведующий учебной частью
					</p>
					<p>
						<i>Адрес:</i>  г. Омск, Богдана Хмельницкого, 281а.
					</p>
					<p>
						<i>Официальный сайт:</i>  <a href="https://oat.ru">https://oat.ru</a>
					</p>
					<p>
						<i>Электронная почта:</i>  <a href="mailto:plenkova.ev@oat.local">plenkova.ev@oat.local</a>
					</p>
					<p>
						<i>Контактный телефон:</i> (3812) 36-04-64
					</p>
					<p>
						<i>Режим работы:</i> пн-сб, 7:30-19:30
					</p>
				</div>
			</div>
			<div class="accordion">
				<div class="accordion-head">
					Корпус №4
				</div>
				<div class="accordion-body">
					<p>
						<i>Наименование структурного подразделения:</i> Учебная часть №4
					</p>
					<p>
						<i>Руководитель структурного подразделения:</i> Шарипова Надежда Александровна
					</p>
					<p>
						<i>Должность:</i> Заведующий учебной частью
					</p>
					<p>
						<i>Адрес:</i>  г. Омск, ул.Волховстроя, д.5
					</p>
					<p>
						<i>Официальный сайт:</i>  <a href="https://oat.ru">https://oat.ru</a>
					</p>
					<p>
						<i>Электронная почта:</i>  <a href="mailto:klepikova.tv@oat.local">klepikova.tv@oat.local</a>
					</p>
					<p>
						<i>Режим работы:</i> пн-сб, 7:30-19:30
					</p>
				</div>
			</div>
		</div>


		<h3 id="services" class="section-subtitle">
			Службы
		</h3>
		<div class="accordions-list">
			<div class="accordion">
				<div class="accordion-head">
					Служба воспитательной работы
				</div>
				<div class="accordion-body">
					<p>
						<i>Заведующая:</i> Жеганина Светлана Александровна
					</p>
					<p>
						<i>Адрес:</i> г. Омск, ул. Ленина, 24.
					</p>
					<p>
						<i>Телефон:</i> (3812) 53-64-57
					</p>
					<p>
						<i>Режим работы:</i> пн-пт, 8:00-17:00
					</p>
					<p>
						<i>Руководитель физического воспитания:</i> Урванцев Андрей Евгеньевич
					</p>
					<p>
						<i>Адрес:</i> г. Омск, ул. Ленина, 24. Каб. 401
					</p>
					<p>
						<i>Телефон:</i> (3812) 30-52-94
					</p>
				</div>
			</div>
			<div class="accordion">
				<div class="accordion-head">
					Служба материально-технического обеспечения
				</div>
				<div class="accordion-body">
					<p>
						<i>Руководитель:</i> Пецын Александр Степанович
					</p>
					<p>
						<i>Адрес:</i> г. Омск, Космический проспект, 14а
					</p>
					<p>
						<i>Телефон:</i> (3812) 53-64-57
					</p>
					<p>
						<i>Режим работы:</i> пн-пт, 8:00-17:00.
					</p>
				</div>
			</div>
		</div>


		<div class="section-subtitle">
			Документы
		</div>
		<ul class="documents-list">
			<li class="document-item">
				<div class="document-item-head">
					<a target="_blank" href="~/documents/organizationInformation/structure/pologeniePedSovet.pdf">
					</a>
				</div>
				<div class="document-item-body">
					Положение о Педагогическом совете
				</div>
			</li>
			<li class="document-item">
				<div class="document-item-head">
					<a target="_blank" href="~/documents/organizationInformation/structure/pologenieSoveta.pdf">
					</a>
				</div>
				<div class="document-item-body">
					Положение о Совете
				</div>
			</li>
			<li class="document-item">
				<div class="document-item-head">
					<a target="_blank" href="~/documents/organizationInformation/structure/pologenieSobrania.pdf">
					</a>
				</div>
				<div class="document-item-body">
					Положение об общем собрании работников и обучающихся
				</div>
			</li>
			<li class="document-item">
				<div class="document-item-head">
					<a target="_blank" href="~/documents/organizationInformation/structure/orgStructura.pdf">
					</a>
				</div>
				<div class="document-item-body">
					Организационная структура
				</div>
			</li>
		</ul>
	</section>
	<aside id="sidebar" class="sidebar long">
		<h3 class="sidebar-title">
			Сведения об образовательной организации
		</h3>
		<nav class="sidebar-body">
			<ul class="sidebar-links">
				<li class="sidebar-link">
					<a href='@Url.Page("CommonIntelligence")'>
						Основные сведения
					</a>
				</li>
				<li class="sidebar-link sidebar-link-selected">
					<a href='@Url.Page("Structure")'>
						Структура и органы управления образовательной организацией
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("Documents")'>
						Документы
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("Education")'>
						Образование
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("EducationalStandards")'>
						Образовательные стандарты
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("EducationalProcess")'>
						Организация воспитательного процесса
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("ManagementPedagogicalStaff")'>
						Руководство. Педагогический (научно-педагогический) состав
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("Logistics")'>
						Материально-техническое обеспечение и оснащенность образовательного процесса
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("PaidEducationalServices")'>
						Платные образовательные услуги
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("FinancialEconomicActivity")'>
						Финансово-хозяйственная деятельность
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("Jobs")'>
						Вакантные места для приема
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("Vacancies")'>
						Вакансии
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("AccessibleEnvironment")'>
						Доступная среда
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("InternationalCooperation")'>
						Международное сотрудничество
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("StudentSupport")'>
						Стипендии и меры поддержки обучающихся
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("Terrorism")'>
						Противодействие экстремизму и терроризму
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("Corruption")'>
						Противодействие коррупции
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("Library")'>
						Библиотека
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("UPK")'>
						Учебно-производственный комплекс
					</a>
				</li>
			</ul>
		</nav>
	</aside>
</div>