@page
@model AboutModel
@{
	ViewData["Title"] = "О профессионалитете";
}

<div class="container content-page">
	<section class="content">
		<a id="plane" class="plane" href="#sidebar"></a>
		<h2 class="section-title">
			О профессионалитете
		</h2>

		<ul class="page-navigation">
			<li>
				<a href="#info">
					Что такое профессионалитет?
				</a>
			</li>
			<li>
				<a href="#for-student">
					Профессионалитет для студента
				</a>
			</li>
			<li>
				<a href="#mechanical-engineering">
					Кластер «Машиностроение»
				</a>
			</li>
			<li>
				<a href="#links">
					Полезные ссылки
				</a>
			</li>
			<li>
				<a href="#interesting">
					Профессионалитет - это интересно!
				</a>
			</li>
		</ul>


		<h3 id="info" class="section-subtitle">
			«Профессионалитет» – ты в хорошей компании!
		</h3>
		<p>
			Профессионалитет — это образовательная программа в колледжах, которая позволит тебе стать
			высококвалифицированным специалистом на ведущем предприятии твоего региона, страны!
		</p>
		<p>
			Не упустите свой шанс быть в хорошей компании!
		</p>
		<div style="display: flex;flex-wrap: wrap;align-items: center;justify-content: center;gap: 25px;">
			<img class="customized" style="max-width: min(100%, 300px);"
			     src="~/images/projectsAndEvents/list/professionalitet.png" alt="">
			<iframe
				style="display: block; min-width: min(100%, 600px); height: 320px; margin: 10px auto; border-radius: 10px;"
				src="https://www.youtube.com/embed/t307IXk_PaY?rel=0" frameborder="0"
				allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
				allowfullscreen=""></iframe>
		</div>


		<h3 id="for-student" class="section-subtitle">
			«Профессионалитет» для студента – это…
		</h3>
		<ul class="customized">
			<li>
				Актуальная рабочая профессия – в короткий срок
			</li>
			<li>
				Учеба по-новому – с упором на практику и IT
			</li>
			<li>
				Современные мастерские и высокотехнологическое оборудование, соответствующее будущему рабочему месту
			</li>
			<li>
				Стажировки и трудоустройство в ведущие компании региона, страны
			</li>
			<li>
				Компетентные преподаватели с практическим опытом
			</li>
			<li>
				Программы обучения, разработанные совместно с работодателями
			</li>
		</ul>


		<h3 id="mechanical-engineering" class="section-subtitle">
			Образовательно-производственный центр (кластер) по отрасли «Машиностроение»
		</h3>
		<p>
			По инициативе Правительства Омской области в 2023 году на базе БПОУ «Омский авиационный колледж им. Н.Е.
			Жуковского» создан образовательно-производственный центр (кластер) «На Космическом» по отрасли
			«Машиностроение» в рамках федерального проекта «Профессионалитет».
		</p>
		<p>
			Обучение в рамках проекта осуществляется по обновленным программам, согласованным с работодателями, с
			акцентом на практическую подготовку.
		</p>
		<p>
			Для популяризации проекта в течение года реализуется комплекс профориентационных мероприятий во всех
			профессиональных образовательных организациях – членах образовательно-производственного центра (кластера)
			«На Космическом» по отрасли «Машиностроение»
		</p>
		<iframe
			style="display: block; min-width: min(100%, 600px); height: 320px; margin: 10px auto; border-radius: 10px;"
			src="https://www.youtube.com/embed/HkT29j6oubc" frameborder="0"
			allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
		<h4 class="section-subtitle-small">
			Участники кластера
		</h4>
		<ul class="customized">
			<li>
				<a href="http://oniip.ru/">
					АО «Омский научно-исследовательский институт приборостроения»
				</a>
			</li>
			<li>
				<a href="https://www.oemz.ru/">
					АО «Омский электромеханический завод»
				</a>
			</li>
			<li>
				<a href="http://www.ckba.net/">
					АО «Центральное конструкторское бюро автоматики»
				</a>
			</li>
			<li>
				<a href="https://vk.com/omsktransmash">
					АО «Омсктрансмаш»
				</a>
			</li>
			<li>
				<a href="http://www.khrunichev.ru/main.php?id=122">
					АО «ГКНПЦ им. М.В. Хруничева»
				</a>
			</li>
			<li>
				<a href="https://mir-omsk.ru/">
					АО «НПО "МИР»
				</a>
			</li>
			<!-- study partners -->
			<li>
				<a href="https://kuipt.ru/projects/professionalitet/">
					БПОУ «Омский государственный колледж управления и профессиональных технологий»
				</a>
			</li>
			<li>
				<a href="http://omt-omsk.ru/professionalitet">
					БПОУ «Омский многопрофильный техникум»
				</a>
			</li>
			<li>
				<a href="https://spk-55.ru/19748/">
					БПОУ «Сибирский профессиональный колледж»
				</a>
			</li>
			<li>
				<a href="http://otslx.ru/%d0%bf%d1%80%d0%be%d1%84%d0%b5%d1%81%d1%81%d0%b8%d0%be%d0%bd%d0%b0%d0%bb%d0%b8%d1%82%d0%b5%d1%82/">
					БПОУ «Омский техникум строительства и лесного хозяйства»
				</a>
			</li>
			<li>
				<a href="https://www.ompec.ru/natsionalnye-proekty/education/professional/index.php">
					БПОУ «Омский промышленно-экономический колледж»
				</a>
			</li>
			<li>
				<a href="http://omt-pu46.ru/%D0%BF%D1%80%D0%BE%D1%84%D0%B5%D1%81%D1%81%D0%B8%D0%BE%D0%BD%D0%B0%D0%BB%D0%B8%D1%82%D0%B5%D1%82/">
					БПОУ «Омский монтажный техникум»
				</a>
			</li>
			<li>
				<a href="https://xn--h1aeok.xn--p1ai/federalnaya-programma-professionalitet">
					БПОУ «Тарский индустриально-педагогический колледж»
				</a>
			</li>
		</ul>
		<h4 class="section-subtitle-small">
			Программы подготовки специалистов среднего звена в Омавиат
		</h4>
		<table class="customized">
			<thead>
			<tr>
				<th rowspan="2">
					Код, специальность
				</th>
				<th rowspan="2">
					Квалификация
				</th>
				<th rowspan="2">
					Нормативный срок обучения на базе основного общего образования (9 кл.)
				</th>
				<th colspan="2">
					Количество мест
				</th>
			</tr>
			<tr>
				<th>
					бюджет (чел.)
				</th>
				<th>
					внебюджет (чел.)
				</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>
					09.02.07
					<br>
					Информационные системы и программирование
				</td>
				<td>
					Программист
				</td>
				<td>
					3 г. 7 мес.
				</td>
				<td>
					50
				</td>
				<td>
					-
				</td>
			</tr>
			<tr>
				<td>
					10.02.05
					<br>
					Обеспечение информационной безопасности автоматизированных систем
				</td>
				<td>
					Техник по защите информации
				</td>
				<td>
					3 г. 6 мес.
				</td>
				<td>
					25
				</td>
				<td>
					25
				</td>
			</tr>
			<tr>
				<td>
					15.02.16
					<br>
					Технология машиностроения
				</td>
				<td>
					Техник
				</td>
				<td>
					3 г. 7 мес.
				</td>
				<td>
					75
				</td>
				<td>
					15
				</td>
			</tr>
			<tr>
				<td>
					13.02.13
					<br>
					Эксплуатация и обслуживание электрического и электромеханического оборудования (по отраслям)
				</td>
				<td>
					Техник
				</td>
				<td>
					3 г. 4 мес.
				</td>
				<td>
					25
				</td>
				<td>
					5
				</td>
			</tr>
			<tr>
				<td>
					12.02.03
					<br>
					Радиоэлектронные приборные устройства
				</td>
				<td>
					Техник
				</td>
				<td>
					2 г. 9 мес.
				</td>
				<td>
					50
				</td>
				<td>
					10
				</td>
			</tr>
			<tr>
				<td>
					15.02.19
					<br>
					Сварочное производство
				</td>
				<td>
					Техник
				</td>
				<td>
					3 г. 7 мес.
				</td>
				<td>
					50
				</td>
				<td>
					10
				</td>
			</tr>
			</tbody>
		</table>
		<h4 class="section-subtitle-small">
			Программы подготовки квалифицированных рабочих и служащих
		</h4>
		<table class="customized">
			<thead>
			<tr>
				<th rowspan="2">
					Код, профессия
				</th>
				<th rowspan="2">
					Квалификация
				</th>
				<th rowspan="2">
					Нормативный срок обучения на базе (9 кл.)
				</th>
				<th colspan="2">
					Набор на
				</th>
			</tr>
			<tr>
				<th>
					бюджет (чел.)
				</th>
				<th>
					внебюджет (чел.)
				</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>
					15.01.29
					<br>
					Контролёр станочных и слесарных работ
				</td>
				<td>
					Контролер качества
				</td>
				<td>
					2 г 8 мес.
				</td>
				<td>
					50
				</td>
				<td>
					10
				</td>
			</tr>
			<tr>
				<td>
					15.01.32
					<br>
					Оператор-наладчик металлообрабатывающих станков
				</td>
				<td>
					Оператор – наладчик металлообрабатывающих станков
				</td>
				<td>
					1 г. 10 мес.
				</td>
				<td>
					50
				</td>
				<td>
					10
				</td>
			</tr>
			<tr>
				<td>
					11.01.01
					<br>
					Монтажник радиоэлектронной аппаратуры и приборов
				</td>
				<td>
					Монтажник радиоэлектронной аппаратуры и приборов
				</td>
				<td>
					1 г. 10 мес.
				</td>
				<td>
					75
				</td>
				<td>
					15
				</td>
			</tr>
			<tr>
				<td>
					13.01.10
					<br>
					Электромонтер по ремонту и обслуживанию электрооборудования (по отраслям)
				</td>
				<td>
					Электромонтер по ремонту и обслуживанию электрооборудования
				</td>
				<td>
					1 г. 10 мес.
				</td>
				<td>
					25
				</td>
				<td>
					5
				</td>
			</tr>
			<tr>
				<td>
					15.01.05
					<br>
					Сварщик (ручной и частично механизированной сварки (наплавки)
				</td>
				<td>
					Сварщик
				</td>
				<td>
					1 г. 10 мес.
				</td>
				<td>
					25
				</td>
				<td>
					5
				</td>
			</tr>
			</tbody>
		</table>


		<h3 id="links" class="section-subtitle">
			Полезные ссылки
		</h3>
		<ul class="customized">
			<li>
				<a href="https://xn--n1abdr5c.xn--p1ai/" target="_blank">
					Официальный сайт ФП «Профессионалитет»
				</a>
			</li>
			<li>
				<a href="https://t.me/FP_professionalitet" target="_blank">
					Telegram-канал ФП «Профессионалитет»
				</a>
			</li>
			<li>
				<a href="https://vk.com/public212649371" target="_blank">
					Сообщество ВКонтакте
				</a>
			</li>
			<li>
				<a href="https://disk.yandex.ru/d/PETEvtYtXSOMyg" target="_blank">
					Брендбук проекта «Профессионалитет»
				</a>
			</li>
		</ul>


		<h3 id="interesting" class="section-subtitle">
			«Профессионалитет» - это интересно!
		</h3>
		<ul class="customized">
			<li>
				Мастер-классы
			</li>
			<li>
				Экскурсии на предприятия
			</li>
			<li>
				Родительские собрания
			</li>
			<li>
				Классные часы
			</li>
			<li>
				Профессиональные пробы
			</li>
			<li>
				Дни открытых дверей
			</li>
		</ul>
		<strong>
			«Профессионалитет» учит думать своими руками!
		</strong>
	</section>
	<aside id="sidebar" class="sidebar">
		<h3 class="sidebar-title">
			Профессионалитет
		</h3>
		<nav class="sidebar-body">
			<ul class="sidebar-links">
				<li class="sidebar-link sidebar-link-selected">
					<a href='@Url.Page("About")'>
						О профессионалитете
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("Specialities")'>
						Специальности
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("OPOPP")'>
						ОПОП-П
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("Partners")'>
						Партнеры
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("ManagementCompany")'>
						Управляющая компания
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("/applicant/AdmissionRules")'>
						Правила приема
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("UPK")'>
						Учебно-производственный комплекс
					</a>
				</li>
			</ul>
		</nav>
	</aside>
</div>