@page
@model OPOPPModel
@{
	ViewData["Title"] = "Основные профессиональные образовательные программы «Профессионалитет»";
}

<div class="container content-page">
	<section class="content">
		<a id="plane" class="plane" href="#sidebar"></a>
		<h2 class="section-title">
			Основные профессиональные образовательные программы «Профессионалитет»
		</h2>

		<ul class="customized">
			<li>
				<a target="_blank" href="/documents/projectsAndEvents/professionalitet/OPOPP/2023/OPOP-P_OCH%202023%2009.02.07%20Omaviat.pdf">
					09.02.07 Информационные системы и программирование, 2023 г.
				</a>
			</li>
			<li>
				<a target="_blank" href="/documents/projectsAndEvents/professionalitet/OPOPP/2024/OPOP-P_OCH_09.02.07_2024.pdf">
					09.02.07 Информационные системы и программирование, 2024 г.
				</a>
			</li>
			<li>
				<a target="_blank" href="/documents/projectsAndEvents/professionalitet/OPOPP/2023/OPOP-P_OCH%202023%2010.02.05%20Omaviat.pdf">
					10.02.05 Обеспечение информационной безопасности автоматизированных систем, 2023 г.
				</a>
			</li>
			<li>
				<a target="_blank" href="/documents/projectsAndEvents/professionalitet/OPOPP/2024/OPOP-P_OCH_10.02.05_2024.pdf">
					10.02.05 Обеспечение информационной безопасности автоматизированных систем, 2024 г.
				</a>
			</li>
			<li>
				<a target="_blank" href="/documents/projectsAndEvents/professionalitet/OPOPP/2023/OPOP-P_OCH%202023%2011.01.01%20Omaviat.pdf">
					11.01.01 Монтажник радиоэлектронной аппаратуры и приборов, 2023 г.
				</a>
			</li>
			<li>
				<a target="_blank" href="/documents/projectsAndEvents/professionalitet/OPOPP/2024/OPOP-P_OCH_11.01.01_2024.pdf">
					11.01.01 Монтажник радиоэлектронной аппаратуры и приборов, 2024 г.
				</a>
			</li>
			<li>
				<a target="_blank" href="/documents/projectsAndEvents/professionalitet/OPOPP/2023/OPOP-P_OCH%202023%2012.02.03%20Omaviat.pdf">
					12.02.03 Радиоэлектронные приборы и устройства, 2023 г.
				</a>
			</li>
			<li>
				<a target="_blank" href="/documents/projectsAndEvents/professionalitet/OPOPP/2024/OPOP-P_OCH_12.02.03_2024.pdf">
					12.02.03 Радиоэлектронные приборы и устройства, 2024 г.
				</a>
			</li>
			<li>
				<a target="_blank" href="/documents/projectsAndEvents/professionalitet/OPOPP/2023/OPOP-P_OCH%202023%2013.01.10%20Omaviat.pdf">
					13.01.10 Электромонтер по ремонту и обслуживанию электрооборудования (по отраслям), 2023 г.
				</a>
			</li>
			<li>
				<a target="_blank" href="/documents/projectsAndEvents/professionalitet/OPOPP/2024/OPOP-P_OCH_13.01.10_2024.pdf">
					13.01.10 Электромонтер по ремонту и обслуживанию электрооборудования (по отраслям), 2024 г.
				</a>
			</li>
			<li>
				<a target="_blank" href="/documents/projectsAndEvents/professionalitet/OPOPP/2023/OPOP-P_OCH%202023%2013.02.11%20Omaviat.pdf">
					13.02.11 Техническая эксплуатация и обслуживание электрического и электромеханического оборудования, 2023 г.
				</a>
			</li>
			<li>
				<a target="_blank" href="/documents/projectsAndEvents/professionalitet/OPOPP/2024/OPOP-P_OCH_13.02.13_2024.pdf">
					13.02.13 Эксплуатация и обслуживание электрического и электромеханического оборудования (по отраслям), 2024 г.
				</a>
			</li>
			<li>
				<a target="_blank" href="/documents/projectsAndEvents/professionalitet/OPOPP/2023/OPOP-P_OCH%202023%2015.01.05%20Omaviat.pdf">
					15.01.05 Сварщик ручной и частично механизированной сварки (наплавки), 2023 г.
				</a>
			</li>
			<li>
				<a target="_blank" href="/documents/projectsAndEvents/professionalitet/OPOPP/2024/OPOP-P_OCH_15.01.05_2024.pdf">
					15.01.05 Сварщик ручной и частично механизированной сварки (наплавки), 2024 г.
				</a>
			</li>
			<li>
				<a target="_blank" href="/documents/projectsAndEvents/professionalitet/OPOPP/2023/OPOP-P_OCH%202023%2015.01.29%20Omaviat.pdf">
					15.01.29 Контролер качества в машиностроении, 2023 г.
				</a>
			</li>
			<li>
				<a target="_blank" href="/documents/projectsAndEvents/professionalitet/OPOPP/2024/OPOP-P_OCH_15.01.29_2024.pdf">
					15.01.29 Контролер качества в машиностроении, 2024 г.
				</a>
			</li>
			<li>
				<a target="_blank" href="/documents/projectsAndEvents/professionalitet/OPOPP/2023/OPOP-P_OCH%202023%2015.01.32%20Omaviat.pdf">
					15.01.32 Оператор станков с программным управлением, 2023 г.
				</a>
			</li>
			<li>
				<a target="_blank" href="/documents/projectsAndEvents/professionalitet/OPOPP/2024/OPOP-P_OCH_15.01.38_2024.pdf">
					15.01.38 Оператор-наладчик металлообрабатывающих станков, 2024 г.
				</a>
			</li>
			<li>
				<a target="_blank" href="/documents/projectsAndEvents/professionalitet/OPOPP/2023/OPOP-P_OCH%202023%2015.02.16%20Omaviat.pdf">
					15.02.16 Технология машиностроения, 2023 г.
				</a>
			</li>
			<li>
				<a target="_blank" href="/documents/projectsAndEvents/professionalitet/OPOPP/2024/OPOP-P_OCH_15.02.16_2024.pdf">
					15.02.16 Технология машиностроения, 2024 г.
				</a>
			</li>
			<li>
				<a target="_blank" href="/documents/projectsAndEvents/professionalitet/OPOPP/2024/OPOP-P_OCH_15.02.16_ochno-zaochnoe.pdf">
					15.02.16 Технология машиностроения, 2024 г. (очно-заочное)
				</a>
			</li>
			<li>
				<a target="_blank" href="/documents/projectsAndEvents/professionalitet/OPOPP/2024/OPOP-P_OCH_15.02.19_2024.pdf">
					15.02.19 Сварочное производство, 2024 г.
				</a>
			</li>
			<li>
				<a target="_blank" href="/documents/projectsAndEvents/professionalitet/OPOPP/2023/OPOP-P_OCH%202023%2022.02.06%20Omaviat.pdf">
					22.02.06 Сварочное производство, 2023 г.
				</a>
			</li>
		</ul>
		

		<h3 class="section-subtitle">
			ОПОП сетевых образовательных организаций
		</h3>
		<ul class="customized">
			<li>
				<a target="_blank" href="/documents/projectsAndEvents/professionalitet/OPOPP/2023/OPOP-P_OCH%202023%2011.02.16%20KUIPT.pdf">
					11.02.16 Монтаж, техническое обслуживание и ремонт электронных приборов и устройств, 2023 г.
				</a>
			</li>
			<li>
				<a target="_blank" href="/documents/projectsAndEvents/professionalitet/OPOPP/2024/OPOP-P_OCH_11.02.16_2024.pdf">
					11.02.16 Монтаж, техническое обслуживание и ремонт электронных приборов и устройств, 2024 г.
				</a>
			</li>
			<li>
				<a target="_blank" href="/documents/projectsAndEvents/professionalitet/OPOPP/2023/OPOP-P_OCH%202023%2015.01.13%20OMT.pdf">
					15.01.13 Монтажник технологического оборудования (по видам оборудования), 2023 г.
				</a>
			</li>
			<li>
				<a target="_blank" href="/documents/projectsAndEvents/professionalitet/OPOPP/2024/OPOP-P_OCH_15.01.13_2024.pdf">
					15.01.13 Монтажник технологического оборудования (по видам оборудования), 2024 г.
				</a>
			</li>
			<li>
				<a target="_blank" href="/documents/projectsAndEvents/professionalitet/OPOPP/2023/OPOP-P_OCH%202023%2015.01.20%20OPEK.pdf">
					15.01.20 Слесарь по контрольно-измерительным приборам и автоматике, 2023 г.
				</a>
			</li>
			<li>
				<a target="_blank" href="/documents/projectsAndEvents/professionalitet/OPOPP/2023/OPOP-P_OCH%202023%2015.01.35%20OMT.pdf">
					15.01.35 Мастер слесарных работ, 2023 г.
				</a>
			</li>
			<li>
				<a target="_blank" href="/documents/projectsAndEvents/professionalitet/OPOPP/2024/OPOP-P_OCH_15.01.35_2024.pdf">
					15.01.35 Мастер слесарных работ, 2024 г.
				</a>
			</li>
			<li>
				<a target="_blank" href="/documents/projectsAndEvents/professionalitet/OPOPP/2024/OPOP-P_OCH_15.01.37_2024.pdf">
					15.01.37 Слесарь-наладчик контрольно-измерительных приборов и автоматики, 2024 г.
				</a>
			</li>
		</ul>
		

	</section>
	<aside id="sidebar" class="sidebar">
		<h3 class="sidebar-title">
			Профессионалитет
		</h3>
		<nav class="sidebar-body">
			<ul class="sidebar-links">
				<li class="sidebar-link">
					<a href='@Url.Page("About")'>
						О профессионалитете
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("Specialities")'>
						Специальности
					</a>
				</li>
				<li class="sidebar-link sidebar-link-selected">
					<a href='@Url.Page("OPOPP")'>
						ОПОП-П
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("Partners")'>
						Партнеры
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("ManagementCompany")'>
						Управляющая компания
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("/applicant/AdmissionRules")'>
						Правила приема
					</a>
				</li>
                <li class="sidebar-link">
                    <a href='@Url.Page("UPK")'>
                        Учебно-производственный комплекс
                    </a>
                </li>
			</ul>
		</nav>
	</aside>
</div>