@page
@model PartnersModel
@{
	ViewData["Title"] = "Партнеры";
}

<link rel="stylesheet" href="~/css/projectsAndEvents/professionalitet/partners.css" asp-append-version="true">
<div class="container content-page">
	<section class="content">
		<h2 class="section-title">
			Партнеры
		</h2>

		<ul class="project-partners">
			<li class="project-partners-item">
				<a href="http://oniip.ru/">
					Акционерное общество «Омский научно-исследовательский институт приборостроения»
					<img class="project-partners-item-img " src="~/images/projectsAndEvents/professionalitet/partners/oniip.svg">
				</a>
			</li>
			<li class="project-partners-item">
				<a href="https://www.oemz.ru/">
					Акционерное общество «Омский электромеханический завод»
					<img class="project-partners-item-img " src="~/images/projectsAndEvents/professionalitet/partners/oemz.svg">
				</a>
			</li>
			<li class="project-partners-item">
				<a href="http://www.ckba.net/">
					Акционерное общество «Центральное конструкторское бюро автоматики»
					<img class="project-partners-item-img " src="~/images/projectsAndEvents/professionalitet/partners/ckba.svg">
				</a>
			</li>
			<li class="project-partners-item">
				<a href="https://oztm.su/">
					Акционерное общество «Омский завод транспортного машиностроения»
					<img class="project-partners-item-img" src="~/images/projectsAndEvents/professionalitet/partners/transmash.png">
				</a>
			</li>
			<li class="project-partners-item">
				<a href="http://www.khrunichev.ru/main.php?id=122">
					АО «ГКНПЦ им. М.В. Хруничева»
					<img class="project-partners-item-img " src="~/images/projectsAndEvents/professionalitet/partners/polyot.svg">
				</a>
			</li>
			<li class="project-partners-item">
				<a href="https://mir-omsk.ru/">
					АО НПО "МИР"
					<img class="project-partners-item-img" src="~/images/projectsAndEvents/professionalitet/partners/npoMir.svg">
				</a>
			</li>
			<!-- education partners -->
			<li class="project-partners-item">
				<a href="https://kuipt.ru/projects/professionalitet/">
					БПОУ «Омский государственный колледж управления и профессиональных технологий»
					<img class="project-partners-item-img " src="~/images/projectsAndEvents/professionalitet/partners/upravlenieProfTehnologii.png">
				</a>
			</li>
			<li class="project-partners-item">
				<a href="http://omt-omsk.ru/professionalitet">
					БПОУ «Омский многопрофильный техникум»
					<img class="project-partners-item-img " src="~/images/projectsAndEvents/professionalitet/partners/mnogoprofilniTechnikum.png">
				</a>
			</li>
			<li class="project-partners-item">
				<a href="https://spk-55.ru/19748/">
					БПОУ «Сибирский профессиональный колледж»
					<img class="project-partners-item-img " src="~/images/projectsAndEvents/professionalitet/partners/spk.png">
				</a>
			</li>
			<li class="project-partners-item">
				<a href="http://otslx.ru/%d0%bf%d1%80%d0%be%d1%84%d0%b5%d1%81%d1%81%d0%b8%d0%be%d0%bd%d0%b0%d0%bb%d0%b8%d1%82%d0%b5%d1%82/">
					БПОУ «Омский техникум строительства и лесного хозяйства»
					<img class="project-partners-item-img " src="~/images/projectsAndEvents/professionalitet/partners/otslx.png">
				</a>
			</li>
			<li class="project-partners-item">
				<a href="https://www.ompec.ru/natsionalnye-proekty/education/professional/index.php">
					БПОУ «Омский промышленно-экономический колледж»
					<img class="project-partners-item-img " src="~/images/projectsAndEvents/professionalitet/partners/promislennoEkonomiceskiColledge.jpg">
				</a>
			</li>
			<li class="project-partners-item">
				<a href="http://omt-pu46.ru/%D0%BF%D1%80%D0%BE%D1%84%D0%B5%D1%81%D1%81%D0%B8%D0%BE%D0%BD%D0%B0%D0%BB%D0%B8%D1%82%D0%B5%D1%82/">
					БПОУ «Омский монтажный техникум»
					<img class="project-partners-item-img " src="~/images/projectsAndEvents/professionalitet/partners/montagniTehnikum.jpg">
				</a>
			</li>
			<li class="project-partners-item">
				<a href="https://xn--h1aeok.xn--p1ai/federalnaya-programma-professionalitet">
					БПОУ «Тарский индустриально-педагогический колледж»
					<img class="project-partners-item-img " src="~/images/projectsAndEvents/professionalitet/partners/tipk.jpg">
				</a>
			</li>
		</ul>

	</section>
	<aside id="sidebar" class="sidebar">
		<h3 class="sidebar-title">
			Профессионалитет
		</h3>
		<nav class="sidebar-body">
			<ul class="sidebar-links">
				<li class="sidebar-link">
					<a href='@Url.Page("About")'>
						О профессионалитете
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("Specialities")'>
						Специальности
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("OPOPP")'>
						ОПОП-П
					</a>
				</li>
				<li class="sidebar-link sidebar-link-selected">
					<a href='@Url.Page("Partners")'>
						Партнеры
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("ManagementCompany")'>
						Управляющая компания
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("/applicant/AdmissionRules")'>
						Правила приема
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("ProjectNews")'>
						Новости проекта
					</a>
				</li>
			</ul>
		</nav>
	</aside>
</div>