@page
@model RepairProgressModel
@{
	ViewData["Title"] = "Ход ремонтных работ";
}


<div class="container content-page">
	<section class="content">
		<h2 class="section-title">
			Ход ремонтных работ
		</h2>

		<div class="images-list-slider-container">
			<div class="images-list-slider">
				<img src="~/images/projectsAndEvents/professionalitet/repairProgress/5 осей готово.jpg" alt="">
				<img src="~/images/projectsAndEvents/professionalitet/repairProgress/5 осей стена готово.jpg" alt="">
				<img src="~/images/projectsAndEvents/professionalitet/repairProgress/вход готово.jpg" alt="">
				<img src="~/images/projectsAndEvents/professionalitet/repairProgress/коридор готово.jpg" alt="">
				<img src="~/images/projectsAndEvents/professionalitet/repairProgress/метрология готово.jpg" alt="">
				<img src="~/images/projectsAndEvents/professionalitet/repairProgress/РМ 2 готово.jpg" alt="">
				<img src="~/images/projectsAndEvents/professionalitet/repairProgress/РМ готово.jpg" alt="">
				<img src="~/images/projectsAndEvents/professionalitet/repairProgress/сварка готово.jpg" alt="">
				<img src="~/images/projectsAndEvents/professionalitet/repairProgress/связь готово.jpg" alt="">
				<img src="~/images/projectsAndEvents/professionalitet/repairProgress/токарка готовое_1.jpg" alt="">
				<img src="~/images/projectsAndEvents/professionalitet/repairProgress/токарка готовое_2.jpg" alt="">
				<img src="~/images/projectsAndEvents/professionalitet/repairProgress/фасад готово.jpg" alt="">
			</div>
		</div>


	</section>
	<aside id="sidebar" class="sidebar">
		<h3 class="sidebar-title">
			Профессионалитет
		</h3>
		<nav class="sidebar-body">
			<ul class="sidebar-links">
				<li class="sidebar-link">
					<a href='@Url.Page("About")'>
						О профессионалитете
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("Specialities")'>
						Специальности
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("OPOPP")'>
						ОПОП-П
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("Partners")'>
						Партнеры
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("ManagementCompany")'>
						Управляющая компания
					</a>
				</li>
				<li class="sidebar-link sidebar-link-selected">
					<a href='@Url.Page("RepairProgress")'>
						Ход ремонтных работ
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("/applicant/AdmissionRules")'>
						Правила приема
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("UPK")'>
						Учебно-производственный комплекс
					</a>
				</li>
			</ul>
		</nav>
	</aside>
</div>