@page
@model OMAVIAT.Pages.organizationInformation.UPKModel
@{
	ViewData["Title"] = "Учебно-производственный комплекс";
}

<link rel="stylesheet" href="~/css/projectsAndEvents/professionalitet/UPK.css" asp-append-version="true">

<div class="container content-page">
	<section class="content">
		<a id="plane" class="plane" href="#sidebar"></a>
		<h2 class="section-title">
			Учебно-производственный комплекс
		</h2>

		<ul class="page-navigation">
			<li>
				<a href="#about-upk">
					Общие сведения
				</a>
			</li>
			<li>
				<a href="#images">
					Фотографии
				</a>
			</li>
			<li>
				<a href="#documents">
					Документы
				</a>
			</li>
		</ul>

		<h3 id="about-upk" class="section-subtitle">
			Общие сведения
		</h3>
		<p>
			В 2023 году в Омавиат открыт учебно-производственный комплекс (УПК). Машиностроение, радиоэлектроника,
			приборостроение и информационные технологии –это отрасли для которых осуществляется подготовка кадров. В УПК
			можно получить первые практические навыки на самом современном оборудовании. Осваивать базовые навыки
			металлообработки студенты могут на универсальных токарных станках. Для оценки качества изготавливаемой
			продукции в наличии более 40 единиц оборудования и мерительных инструментов, а также компьютеры и
			программное обеспечение для обработки полученных данных, включая автоматизированную
			координатно-измерительную машину. В рамках проекта «Профессионалитет» были закуплены самый передовой на
			текущий момент универсальный фрезерный обрабатывающий центр для непрерывной 5-осевой обработки с набором
			оснастки и токарный
			обрабатывающий центр с дополнительной осью. Наличие такого оборудования серьезно расширяет возможности
			колледжа как по кооперации с предприятиями ОПК в части получения заказов на металлообработку, так и в
			совершенствовании компетенций студентов, в том числе трудоустроенных в УПК. Практическое обучение проходит
			под руководством опытных преподавателей и мастеров производственного обучения. Студенты не только получают
			необходимые компетенции, но и вместе с наставниками изготавливают продукцию по заказам. Предприятиями
			востребованы различные крепежные элементы, изготовленные под заказ с определенными техническим
			характеристиками, втулки для компрессоров, требующие достаточно высокой точности изготовления, различные
			детали для конвейеров в пищевой промышленности, ступицы для посевной техники.
		</p>


		<h3 id="images" class="section-subtitle">
			Продукция УПК
		</h3>
		<div class="products">
			<figure class="product">
				<img src="~/images/organizationInformation/UPK/Винт и гайка крышки.jpg" alt="Винт и гайка крышки">
				<figcaption>Винт и гайка крышки</figcaption>
			</figure>
			<figure class="product">
				<img src="~/images/organizationInformation/UPK/Втулка крышки.jpg" alt="Втулка крышки"/>
				<figcaption>Втулка крышки</figcaption>
			</figure>
			<figure class="product">
				<img src="~/images/organizationInformation/UPK/Втулка.jpg" alt="Втулка">
				<figcaption>Втулка</figcaption>
			</figure>
			<figure class="product">
				<img src="~/images/organizationInformation/UPK/Мальтийский крест_конвейер_пищевое.jpg"
				     alt="Мальтийский крест">
				<figcaption>Мальтийский крест</figcaption>
			</figure>
			<figure class="product">
				<img src="~/images/organizationInformation/UPK/Ось.jpg" alt="Ось">
				<figcaption>Ось</figcaption>
			</figure>
			<figure class="product">
				<img src="~/images/organizationInformation/UPK/Ступица сеялки.jpg" alt="Ступица сеялки">
				<figcaption>Ступица сеялки</figcaption>
			</figure>
			<figure class="product">
				<img src="~/images/organizationInformation/UPK/Ступица_заготовки.jpg" alt="Ступица заготовки">
				<figcaption>Ступица заготовки</figcaption>
			</figure>
			<figure class="product">
				<img src="~/images/organizationInformation/UPK/Тарелкодержатель сепаратора-сливкоотделителя.jpg"
				     alt="Тарелкодержатель сепаратора-сливкоотделителя">
				<figcaption>Тарелкодержатель сепаратора-сливкоотделителя</figcaption>
			</figure>
		</div>


		<h3 id="documents" class="section-subtitle">
			Документы
		</h3>
		<ul class="documents-list little">
			<li class="document-item">
				<div class="document-item-head">
					<a target="_blank" href="~/documents/organizationInformation/UPK/pologenieUPK.pdf">
					</a>
				</div>
				<div class="document-item-body">
					Положение об УПК
				</div>
			</li>
			<li class="document-item">
				<div class="document-item-head">
					<a target="_blank" href="https://rkig.edu.ru/doc/2023/upk/fz449.pdf">
					</a>
				</div>
				<div class="document-item-body">
					Федеральный закон от 21 ноября 2022 г. N 449-ФЗ "О внесении изменений в статьи 27 и 28 Федерального
					закона "Об образовании в Российской Федерации"
				</div>
			</li>
			<li class="document-item">
				<div class="document-item-head">
					<a target="_blank" href="https://rkig.edu.ru/doc/2023/upk/minpros05_2127.pdf">
					</a>
				</div>
				<div class="document-item-body">
					Письмо Министерства просвещения РФ от 23 ноября 2022 г. N 05-2127 "О внесении изменений в статьи 27
					и 28 Федерального закона "Об образовании в Российской Федерации"
				</div>
			</li>
		</ul>
	</section>
	<aside id="sidebar" class="sidebar">
		<h3 class="sidebar-title">
			Профессионалитет
		</h3>
		<nav class="sidebar-body">
			<ul class="sidebar-links">
				<li class="sidebar-link">
					<a href='@Url.Page("About")'>
						О профессионалитете
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("Specialities")'>
						Специальности
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("OPOPP")'>
						ОПОП-П
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("Partners")'>
						Партнеры
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("ManagementCompany")'>
						Управляющая компания
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("/applicant/AdmissionRules")'>
						Правила приема
					</a>
				</li>
				<li class="sidebar-link sidebar-link-selected">
					<a href='@Url.Page("UPK")'>
						Учебно-производственный комплекс
					</a>
				</li>
			</ul>
		</nav>
	</aside>
</div>