@page
@model ClassesChangesModel
@{
    ViewData["Title"] = "Изменения в расписании занятий";
}


<div class="container content-page">
    <section class="content">
        <h2 class="section-title">
            Изменения в расписании занятий
        </h2>

        <ul class="documents-list">
            <li class="document-item">
                <div class="document-item-head">
                    <a target="_blank" href="">
                    </a>
                </div>
                <div class="document-item-body">
                    Б.Хмельницкого, 281а.xlsx
                </div>
            </li>
            <li class="document-item">
                <div class="document-item-head">
                    <a target="_blank" href="">
                    </a>
                </div>
                <div class="document-item-body">
                    Волховстрой 5.xlsx
                </div>
            </li>
            <li class="document-item">
                <div class="document-item-head">
                    <a target="_blank" href="">
                    </a>
                </div>
                <div class="document-item-body">
                    Космический,14а.xlsx
                </div>
            <li class="document-item">
                <div class="document-item-head">
                    <a target="_blank" href="">
                    </a>
                </div>
                <div class="document-item-body">
                    Ленина 24.xlsx
                </div>
            </li>
        </ul>
        
    </section>
    <aside id="sidebar" class="sidebar">
        <h3 class="sidebar-title">
            Расписание
        </h3>
        <nav class="sidebar-body">
            <ul class="sidebar-links">
                <li class="sidebar-link">
                    <a href='@Url.Page("Classes")'>
                        Расписание занятий
                    </a>
                </li>
                <li class="sidebar-link sidebar-link-selected">
                    <a href='@Url.Page("ClassesChanges")'>
                        Изменения в расписании занятий
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("Practice")'>
                        Расписание практик
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("PODPO")'>
                        Расписание ПО и ДПО
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("Session")'>
                        Расписание сессий
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("GIA")'>
                        Расписание ГИА
                    </a>
                </li>
            </ul>
        </nav>
    </aside>
</div>