@page "{building?}/{fullname?}"
@using OAT.Readers;
@model OAT.Pages.timetable.TeacherScheduleModel
@{
}
<link rel="stylesheet" href="~/css/timetable/timetable.css" asp-append-version="true">
<section class="timetable-container">
    @if (Model.teacher is null)
    {
        <h2 class="section-title title-centered">
            Такого учителя нет
        </h2>
    }
    else
    {
        <h2 class="section-title title-centered">
            Расписание @Model.fullname
        </h2>
        <table class="customized timetable">
            <thead>
                <tr>
                    <th>
                        №
                    </th>
                    <th>
                        Время
                    </th>
                    <th>
                        Понедельник-1
                    </th>
                    <th>
                        Вторник-1
                    </th>
                    <th>
                        Среда-1
                    </th>
                    <th>
                        Четверг-1
                    </th>
                    <th>
                        Пятница-1
                    </th>
                    <th>
                        Суббота-1
                    </th>
                    <th>
                        Воскресенье-1
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model.teacher != null)
                {
                    TeacherWeek week = Model.teacher.weeks.Where(e => e.id == 1).First();
                    @for (int lesson_id = Model.GetMinLessonsInDay(week); lesson_id <= Model.GetMaxLessonsInDay(week); lesson_id++)
                    {
                        List<TeacherLesson> lessons = Model.GetAllLessonsByNumber(lesson_id, week);
                        string[] ring = ScheduleReader.lesson_times[lesson_id - 1].Split(" - ");

                        <tr>

                            <td>
                                @lesson_id
                            </td>
                            <td>
                                @ring[0]
                                <br />
                                @ring[1]
                            </td>

                            @foreach (var lesson in lessons)
                            {
                                if (lesson is null)
                                {
                                    <td></td>
                                }
                                else
                                {
                                    <td>
                                        <div class="subject">
                                            <div class="subject-name">
                                                @lesson.short_subject
                                            </div>
                                            <div class="subject-more">
      
                                                    <div class="subject-more-item">
                                                        <div class="subject-teacher">
                                                            @lesson.group
                                                        </div>
                                                        <div class="subject-teacher">
                                                            @lesson.cabinet
                                                        </div>
                                                    </div>
                                              
                                            </div>
                                        </div>
                                    </td>
                                }
                            }
                        </tr>

                    }
                }
            </tbody>
        </table>

        <table class="customized timetable">
            <thead>
                <tr>
                    <th>
                        №
                    </th>
                    <th>
                        Время
                    </th>
                    <th>
                        Понедельник-2
                    </th>
                    <th>
                        Вторник-2
                    </th>
                    <th>
                        Среда-2
                    </th>
                    <th>
                        Четверг-2
                    </th>
                    <th>
                        Пятница-2
                    </th>
                    <th>
                        Суббота-2
                    </th>
                    <th>
                        Воскресенье-2
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model.teacher != null)
                {
                    TeacherWeek week = Model.teacher.weeks.Where(e => e.id == 2).First();
                    @for (int lesson_id = Model.GetMinLessonsInDay(week); lesson_id <= Model.GetMaxLessonsInDay(week); lesson_id++)
                    {
                        List<TeacherLesson> lessons = Model.GetAllLessonsByNumber(lesson_id, week);
                        string[] ring = ScheduleReader.lesson_times[lesson_id - 1].Split(" - ");

                        <tr>

                            <td>
                                @lesson_id
                            </td>
                            <td>
                                    @ring[0]
                                    <br />
                                    @ring[1]
                            </td>

                            @foreach (var lesson in lessons)
                            {
                                if (lesson is null)
                                {
                                    <td></td>
                                }
                                else
                                {
                                    <td>
                                        <div class="subject">
                                            <div class="subject-name">
                                                @lesson.short_subject
                                            </div>
                                            <div class="subject-more">

                                                <div class="subject-more-item">
                                                    <div class="subject-teacher">
                                                        @lesson.group
                                                    </div>
                                                    <div class="subject-teacher">
                                                        @lesson.cabinet
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </td>
                                }
                            }
                        </tr>

                    }
                }
            </tbody>
        </table>
    }
</section>
