@page
@model DistanceLearningModel
@{
    ViewData["Title"] = "Дистанционное обучение";
}

<link rel="stylesheet" href="~/css/students/distanceLearning.css" asp-append-version="true">

<div class="container content-page">
    <section class="content">
        <a id="plane" class="plane" href="#sidebar"></a>
        <h2 class="section-title">
            Дистанционное обучение. Заочное обучение с применением дистанционных технологий
        </h2>

        <ul class="page-navigation">
            <li>
                <a href="#advantages">
                    Преимущества
                </a>
            </li>
            <li>
                <a href="#specialities">
                    Специальности
                </a>
            </li>
            <li>
                <a href="#places">
                    Территориальные пункты доступа
                </a>
            </li>
        </ul>


        <h3 id="advantages" class="section-subtitle">
            Преимущества
        </h3>
        <p>
            <b>Дистанционное образование – удобная форма получения знаний,</b> при которой получить образование можно без отрыва от основной работы. При этом нет необходимости выезжать на сессии в Омск. Кроме того, дистанционное образование обойдется намного дешевле, чем получение знаний в очной форме, а качество диплома будет зависеть только от прилежности и старания студента.
        </p>
        <p>
            Дистанционное образование в Омском авиационном колледже имеет свои особенности, большинство из которых являются преимуществами для студентов
        </p>
        <ul class="customized">
            <li>
                Поступить на дистанционное обучение можно без выезда из мест проживания
            </li>
            <li>
                Стоимость обучения ниже, чем по очной форме, а качество знаний – такое же
            </li>
            <li>
                Студент самостоятельно планирует время своих занятий. Доступ к образовательным ресурсам организован 24 часа в сутки, 7 дней в неделю
            </li>
            <li>
                Преподаватели колледжа всегда готовы ответить на вопросы студентов
            </li>
            <li>
                Особенно выгодно дистанционное образование для тех студентов, чья практическая деятельность совпадает с выбранной специальностью
            </li>
            <li>
                Студент всегда может обратиться за помощью к тьютору дистанционного обучения в колледже или в ближайшем от него территориальном пункте доступа
            </li>
            <li>
                Для студентов, обучающихся дистанционно, колледж проводит лекции в режиме видеоконференции, которые можно посещать в территориальном пункте доступа в Вашем городе или, не выходя из дома, если у Вас есть компьютер (телефон, планшет) с выходом в Интернет
            </li>
            <li>
                Не секрет, что дистанционное образование во многом является результатом самостоятельного упорного труда студентов. Зато добросовестное отношение к учебе и правильный выбор учебного заведения позволит студенту получить достойный уважения диплом государственного образца.
            </li>
        </ul>


        <h3 id="specialities" class="section-subtitle">
            Специальности, по которым осуществляется заочное обучение с применением дистанционных технологий
        </h3>
        <ul class="customized">
            <li>
                38.02.01 Экономика и бухгалтерский учет
            </li>
            <li>
                38.02.03 Операционная деятельность в логистике
            </li>
            <li>
                13.02.11 Техническая эксплуатация и обслуживание электрического и электромеханического оборудования
            </li>
            <li>
                09.02.03 Программирование в компьютерных системах
            </li>
        </ul>


        <h3 id="places" class="section-subtitle">
            Территориальные пункты доступа
        </h3>
        <div class="places-list">
            <div class="place-item">
                <div class="place-item-title">г. Новый Уренгой ЯНАО</div>
                <div class="place place-item-place">мкр. Оптимистов, 2/2</div>
                <div class="person place-item-person">Молодых Татьяна Эдуардовна</div>
                <div class="phone place-item-phone">8-922-288-04-27</div>
            </div>
            <div class="place-item">
                <div class="place-item-title">п. Тазовский ЯНАО</div>
                <div class="person place-item-person">Исхакова Дания Салимзяновна</div>
                <div class="phone place-item-phone">
                    8-922-452-16-96, 
                    8-902-693-55-87
                </div>
            </div>
            <div class="place-item">
                <div class="place-item-title">	г. Пыть-Ях ХМАО</div>
                <div class="place place-item-place">ул. Садовая, д. 15</div>
                <div class="person place-item-person">Рыбочкина Наталья Михайловна</div>
                <div class="phone place-item-phone">8-922-070-29-29</div>
            </div>
            <div class="place-item">
                <div class="place-item-title">р.п. Тевриз Омской обл.</div>
                <div class="place place-item-place">ул. Парковая, 2а</div>
                <div class="person place-item-person">Анисимова Татьяна Петровна</div>
                <div class="phone place-item-phone">8-951-406-56-28</div>
            </div>
            <div class="place-item">
                <div class="place-item-title">г. Норильск Красноярского края</div>
                <div class="place place-item-place">Норильск, ул. Ленинградская д.7А, оф.211</div>
                <div class="person place-item-person">Фролова Юлия Александровна</div>
                <div class="phone place-item-phone">
                    (3919) 22-90-90, 
                    8-908-033-90-91
                </div>
            </div>
            <div class="place-item">
                <div class="place-item-title">г. Тара Омской обл.</div>
                <div class="place place-item-place">г. Тара, ул. Радищева, 17</div>
                <div class="person place-item-person">Колпащикова Ирина Юрьевна</div>
                <div class="phone place-item-phone">
                    8-983-115-89-09
                </div>
            </div>
            <div class="place-item">
                <div class="place-item-title">г.Ноябрьск ХМАО</div>
                <div class="place place-item-place">г.Ноябрьск, ул. Изыскателей, д.31, оф. 215</div>
                <div class="person place-item-person">Рочева Ксения Николевна</div>
                <div class="phone place-item-phone">
                    8-932-058-74-17
                </div>
            </div>
            <div class="place-item">
                <div class="place-item-title">г.Нефтеюганск ХМАО</div>
                <div class="place place-item-place">г.Нефтеюганск, ул.Нефтяников, д.6, оф.403</div>
                <div class="person place-item-person">Евсикова Юлия Фёдоровна</div>
                <div class="phone place-item-phone">
                    8-908-886-70-31
                </div>
            </div>
            <div class="place-item">
                <div class="place-item-title">Мурманская область</div>
                <div class="place place-item-place">	Мурманская область, НП 27 км жд Мончегорск-Оленья ул. Октябрьская д. 17 кв 43</div>
                <div class="person place-item-person">	Дитц Влада Витальевна</div>
                <div class="phone place-item-phone">
                    8-911-060-57-46
                </div>
            </div>
        </div>
    </section>
    <aside id="sidebar" class="sidebar">
        <h3 class="sidebar-title">
            Студентам
        </h3>
        <nav class="sidebar-body">
            <ul class="sidebar-links">
                <li class="sidebar-link sidebar-link-selected">
                    <a href='@Url.Page("DistanceLearning")'>
                        Дистанционное обучение
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("DistanceFullTimeLearning")'>
                        Дистанционное обучение - очная форма обучения
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("SportClub")'>
                        Спортивный клуб
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("AlumniEmploymentCenterOmaviat")'>
                        Центр содействия трудоустройству выпускников Омавиат
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("AlumniEmploymentCenterOmsk")'>
                        Базовый центр содействия трудоустройству выпускников СПО Омской области
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("DailyRoutineRules")'>
                        Правила внутреннего распорядка
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href=''>
                        Научно-исследовательская работа
                    </a>
                </li>
            </ul>
        </nav>
    </aside>
</div>