@page
@model SportClubModel
@{
	ViewData["Title"] = "Спортивный клуб";
}


<div class="container content-page">
	<section class="content">
		<h2 class="section-title">
			Спортивный клуб
		</h2>

		<div class="accordions-list">
			<div class="accordion">
				<div class="accordion-head">
					Грамоты и дипломы
				</div>
				<div class="accordion-body">
					<ul class="documents-list">
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/students/sportClub/diplomiSpartakiadi.pdf">
								</a>
							</div>
							<div class="document-item-body">
								Дипломы областной Спартакиады
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/students/sportClub/gramotaKarmanov.jpeg">
								</a>
							</div>
							<div class="document-item-body">
								Грамота Карманов
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/students/sportClub/gramotaKarmanov2.jpeg">
								</a>
							</div>
							<div class="document-item-body">
								Грамота Карманов 2
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/students/sportClub/gramotaEgimbaev.jpeg">
								</a>
							</div>
							<div class="document-item-body">
								Грамота Егимбаев
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="accordion">
				<div class="accordion-head">
					Распоряжения
				</div>
				<div class="accordion-body">
					<ul class="documents-list">
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/students/sportClub/rasporiageniePawerlifting.pdf">
								</a>
							</div>
							<div class="document-item-body">
								Распоряжение пауэрлифтинг
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/students/sportClub/rasporiagenieNastolniTenis.pdf">
								</a>
							</div>
							<div class="document-item-body">
								Распоряжение настольный теннис
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/students/sportClub/rasporiagenieLegkaiaAtletika.pdf">
								</a>
							</div>
							<div class="document-item-body">
								Распоряжение легкая атлетика областная Спартакиада
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/students/sportClub/rasporiagenieDenZachitiDetei.pdf">
								</a>
							</div>
							<div class="document-item-body">
								Распоряжение День защиты детей
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/students/sportClub/rasporiagenieGirevoePervenstvo.pdf">
								</a>
							</div>
							<div class="document-item-body">
								Распоряжение гиревой первенство Омской области
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/students/sportClub/rasporiagenieVoleyball.pdf">
								</a>
							</div>
							<div class="document-item-body">
								Распоряжение волейбол ОНИИП
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/students/sportClub/rasporiagenieBasketballDevushki.pdf">
								</a>
							</div>
							<div class="document-item-body">
								Распоряжение Баскетбол девушки ССУЗы
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="accordion">
				<div class="accordion-head">
					Отчеты
				</div>
				<div class="accordion-body">
					<ul class="documents-list">
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/students/sportClub/otchetFizVospitanie2022-2023.pdf">
								</a>
							</div>
							<div class="document-item-body">
								Отчет по физическому воспитанию за 2022-23 учебный год
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/students/sportClub/otchetFizVospitanie2022-2023TitulniList.pdf">
								</a>
							</div>
							<div class="document-item-body">
								Отчет по физическому воспитанию (титульный лист) за 2022-23 уч.год
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/students/sportClub/otchetSportMeroproatia.pdf">
								</a>
							</div>
							<div class="document-item-body">
								Отчет по спортивным мероприятиям 2022-23 уч.года
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="accordion">
				<div class="accordion-head">
					Другое
				</div>
				<div class="accordion-body">
					<ul class="documents-list">
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/students/sportClub/estafetaNaPriziPravitelstva.pdf">
								</a>
							</div>
							<div class="document-item-body">
								Эстафета на призы Правительства
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/students/sportClub/svidetelstvo.jpg">
								</a>
							</div>
							<div class="document-item-body">
								Свидетельство
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/students/sportClub/itogovaiaTablicaSpartakiadi.pdf">
								</a>
							</div>
							<div class="document-item-body">
								Итоговая таблица областной Спартакиады
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/students/sportClub/zaiavkaNaUchastie.pdf">
								</a>
							</div>
							<div class="document-item-body">
								Заявка на участие в смотре-конкурсе
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		
		
	</section>
	<aside id="sidebar" class="sidebar">
		<h3 class="sidebar-title">
			Студентам
		</h3>
		<nav class="sidebar-body">
			<ul class="sidebar-links">
                <li class="sidebar-link">
                    <a asp-page="/AlumniEmploymentCenterOmaviat">
                        Центр содействия трудоустройству выпускников Омавиат
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("AlumniEmploymentCenterOmsk")'>
                        Базовый центр содействия трудоустройству выпускников СПО Омской области
                    </a>
                </li>
				<li class="sidebar-link">
					<a href='@Url.Page("DistanceLearning")'>
						Дистанционное обучение
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("DistanceFullTimeLearning")'>
						Дистанционное обучение - очная форма обучения
					</a>
				</li>
				<li class="sidebar-link sidebar-link-selected">
					<a href='@Url.Page("SportClub")'>
						Спортивный клуб
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("DailyRoutineRules")'>
						Правила внутреннего распорядка
					</a>
				</li>
				<li class="sidebar-link">
					<a href=''>
						Научно-исследовательская работа
					</a>
				</li>
			</ul>
		</nav>
	</aside>
</div>