<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true">
</head>
<body>
    <header id="site-header" class="site-header">
        <div class="container">
            <nav class="navigation">
                <a class="logo" href="/">
                    <img src="~/images/basic/logo.svg" alt="логотип">
                    <span class="logo-text">Омский авиационный колледж имени Н.Е. жуковского</span>
                </a>

                <ul class="important-pages">
                    <li>
                        <a href="~/students/raspisanie/index.php">
                            Расписание
                        </a>
                    </li>
                    <li>
                        <a href='@Url.Page("/Applicant")'>
                            Абитуриентам
                        </a>
                    </li>
                    <li>
                        <a href='@Url.Page("/Students")'>
                            Обучающимся
                        </a>
                    </li>
                </ul>

                <div class="functional">
                    <img id="eye-icon" class="icon" src="~/images/basic/eyeOpen.svg" alt="версия для слабовидящих">
                    <a href="https://e.oat.ru/"><img class="icon" src="~/images/basic/sitemap.svg" alt="карта колледжа"></a>
                    <a href="~/pay/"><img class="icon" src="~/images/basic/rubles.svg" alt="оплатить обучение"></a>
                    <img id="search-icon" class="icon" src="~/images/basic/search.svg" alt="поиск">
                </div>

                <div id="menu-icon" class="main-menu-icon">
                    <img class="icon" src="~/images/basic/burger.svg" alt="меню">
                </div>

                <div id="main-menu-window" class="main-menu-window">
                    <ul id="main-menu" class="main-menu">

                        <!-- FOR STUDENTS -->

                        <li class="main-menu-item main-menu-item-inactive">
                            <div class="main-menu-item-title">
                                <a href="~/students/" class="main-menu-item-title-pictogram">
                                    <img class="icon" src="~/images/basic/student.svg" alt="">
                                </a>
                                <a href="~/students/">
                                    Студентам
                                </a>
                            </div>
                        </li>

                        <!-- FOR APPLICANTS -->

                        <li class="main-menu-item main-menu-item-inactive">
                            <div class="main-menu-item-title">
                                <a href="~/abitur/" class="main-menu-item-title-pictogram">
                                    <img class="icon" src="~/images/basic/student.svg" alt="">
                                </a>
                                <a href="~/abitur/">
                                    Абитуриентам
                                </a>
                            </div>
                        </li>

                        <!-- FOR PARENTS -->

                        <li class="main-menu-item main-menu-item-inactive">
                            <div class="main-menu-item-title">
                                <a href="~/parents/organizatsiya-uchebnogo-protsessa-v-kolledzhe/" class="main-menu-item-title-pictogram">
                                    <img class="icon" src="~/images/basic/parents.svg" alt="">
                                </a>
                                <a href="~/parents/organizatsiya-uchebnogo-protsessa-v-kolledzhe/">
                                    Родителям
                                </a>
                            </div>
                        </li>

                        <!-- ABOUT COLLEGE -->

                        <li class="main-menu-item main-menu-item-inactive">
                            <div class="main-menu-item-title">
                                <a href='@Url.Page("/organizationInformation/CommonIntelligence")' class="main-menu-item-title-pictogram">
                                    <img class="icon" src="~/images/basic/college.svg" alt="">
                                </a>
                                <a href='@Url.Page("/organizationInformation/CommonIntelligence")'>
                                    Колледж
                                </a>
                            </div>
                        </li>

                        <!-- FOR CONTACTS -->

                        <li class="main-menu-item main-menu-item-inactive">
                            <div class="main-menu-item-title">
                                <a href="~/contacts/" class="main-menu-item-title-pictogram">
                                    <img class="icon" src="~/images/basic/contacts.svg" alt="">
                                </a>
                                <a href="~/contacts/">
                                    Контакты
                                </a>
                            </div>
                        </li>

                        <!-- additionally -->

                        <li class="main-menu-item main-menu-item-inactive">
                            <div class="main-menu-item-title">
                                <a href="~/students/raspisanie/index.php" class="main-menu-item-title-pictogram">
                                    <img class="icon" src="~/images/basic/question.svg" alt="">
                                </a>
                                <a href="~/students/raspisanie/index.php">
                                    Расписание
                                </a>
                            </div>
                        </li>

                    </ul>
                </div>

            </nav>
        </div>
    </header>
    
    <main class="site-main" role="main">
        @RenderBody()
    </main>
    
    <footer class="site-footer">
        <section class="container">
            <div class="partners-list">
                <a href="https://www.uec-saturn.ru/?sat=280" target="_blank">
                    <img src="~/images/basic/partners/odkSaturn.png">
                </a>
                <a href="https://guit.omskportal.ru/oiv/buguit" target="_blank">
                    <img src="~/images/basic/partners/omskaiaGubernia.png">
                </a>
                <a href="http://omport.ru/" target="_blank">
                    <img src="~/images/basic/partners/omskiRecnoiPort.png">
                </a>
                <a href="http://oniip.ru/" target="_blank">
                    <img src="~/images/basic/partners/oniip.png">
                </a>
                <a href="http://polyot.su/" target="_blank">
                    <img src="~/images/basic/partners/polet.png">
                </a>
                <a href="http://www.aoomkb.ru/" target="_blank">
                    <img src="~/images/basic/partners/omskoeMashinostroitelnoeBuro.png">
                </a>
                <a href="https://omgpu.ru/" target="_blank">
                    <img src="~/images/basic/partners/pedagogiceskiUniversitet.png">
                </a>
                <a href="https://www.cisco.com/" target="_blank">
                    <img src="~/images/basic/partners/cisco.png">
                </a>
                <a href="https://www.visual-paradigm.com/" target="_blank">
                    <img src="~/images/basic/partners/visualParadigm.png">
                </a>
                <a href="http://xn--b1apfhqi.xn--p1ai/" target="_blank">
                    <img src="~/images/basic/partners/visokieTehnologii.png">
                </a>
                <a href="https://www.cisco.com/" target="_blank">
                    <img src="~/images/basic/partners/salut.png">
                </a>
                <a href="https://www.oemz.ru/" target="_blank">
                    <img src="~/images/basic/partners/electromehaniceskiZavod.png">
                </a>

                <!-- TEST PARTNERS -->
                <a href="https://www.oemz.ru/" target="_blank">
                    <img src="~/images/basic/partners/electromehaniceskiZavod.png">
                </a>
                <a href="https://www.oemz.ru/" target="_blank">
                    <img src="~/images/basic/partners/electromehaniceskiZavod.png">
                </a>
                <a href="https://www.oemz.ru/" target="_blank">
                    <img src="~/images/basic/partners/electromehaniceskiZavod.png">
                </a>
                <a href="https://www.oemz.ru/" target="_blank">
                    <img src="~/images/basic/partners/electromehaniceskiZavod.png">
                </a>
            </div>
        </section>
        <section class="container">

            <div class="footer-top">
                <div class="footer-top-item">
                    <h5 class="footer-top-item-title">
                        приемная комиссия
                    </h5>
                    <div class="footer-top-item-body">
                        <div>
                            ул. Ленина, 24, Омск
                        </div>
                        <div>
                            8 (3812) 31 16 39
                        </div>
                        <div>
                            ПН - ПТ 8:00 - 18:00
                        </div>
                    </div>
                </div>
                <div class="footer-top-item">
                    <h5 class="footer-top-item-title">
                        учебная часть
                    </h5>
                    <div class="footer-top-item-body">
                        <div>
                            ул. Ленина, 24, Омск
                        </div>
                        <div>
                            8 (3812) 31 30 42
                        </div>
                        <div>
                            ПН - ПТ 7:30 - 19:30
                        </div>
                    </div>
                </div>
                <div class="footer-top-item">
                    <h5 class="footer-top-item-title">
                        приемная директора
                    </h5>
                    <div class="footer-top-item-body">
                        <div>
                            8 (3812) 31 44 65
                        </div>
                        <div>
                            ПН - ПТ 8:00 - 17:00
                        </div>
                    </div>
                </div>
                <div class="footer-top-item">
                    <h5 class="footer-top-item-title">
                        отделения
                    </h5>
                    <div class="footer-top-item-body">
                        <a href="~/contacts/#otdel-kadrov">
                            Отдел кадров
                        </a>
                        <a href="~/contacts/#uchebnaya-chast-2-pr-kosmicheskiy-14a">
                            Учебная часть №2 (пр. Космический, 14а)
                        </a>
                        <a href="~/contacts/#uchebnaya-chast-3-ul-b-khmelnitskogo-281a">
                            Учебная часть №3 (ул. Б. Хмельницкого, 281а)
                        </a>
                        <a href="~/contacts/#otdelenie-tekhnologiy-aerokosmicheskogo-proizvodstva">
                            Отделение технологий аэрокосмического производства
                        </a>
                        <a href="~/contacts/#otdelenie-elektromekhaniki-radiotekhniki-itekhnologii-svarki">
                            Отделение электромеханики, радиотехники и технологии сварки
                        </a>
                    </div>
                </div>
            </div>

        </section>
        <div class="footer-bottom">
            <div class="container">
                <div class="footer-bottom-row">
                    <div class="footer-bottom-logo">
                        <img src="~/images/basic/logo.svg" alt="">
                        <span class="footer-bottom-logo-text">
                            Бюджетное профессиональное образовательное учереждение
                            Омской области «Омский авиационный колледж имени Н.Е.Жуковского»
                        </span>
                    </div>
                    <ul class="footer-bottom-social">
                        <li>
                            <a href="https://vk.com/omaviat_2020">
                                <img class="icon" src="~/images/basic/vk.svg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/channel/UC-Ss6mzhYiKeGZaCBNyXo2w">
                                <img class="icon" src="~/images/basic/youtube.svg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="https://t.me/omaviatomsk2021">
                                <img class="icon" src="~/images/basic/telegram.svg" alt="">
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="footer-bottom-row">
                    <ul class="footer-bottom-pages">
                        <li>
                            <a href="~/students/raspisanie/index.php">
                                расписание
                            </a>
                        </li>
                        <li>
                            <a href="~/parents/organizatsiya-uchebnogo-protsessa-v-kolledzhe/">
                                родителям
                            </a>
                        </li>
                        <li>
                            <a href="">
                                партнёры
                            </a>
                        </li>
                        <li>
                            <a href="~/students/">
                                студентам
                            </a>
                        </li>
                        <li>
                            <a href='@Url.Page("/organizationInformation/CommonIntelligence")'>
                                колледж
                            </a>
                        </li>
                        <li>
                            <a href="https://help.oat.ru/">
                                техподдержка
                            </a>
                        </li>
                        <li>
                            <a href="~/abitur/">
                                абитуриентам
                            </a>
                        </li>
                        <li>
                            <a href="~/contacts/">
                                контакты
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="copyright">
                    © 2023 ОМСКИЙ АВИАЦИОННЫЙ КОЛЛЕДЖ
                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>