@page
@model AllNewsModel
@{
    ViewData["Title"] = "Все новости";
}

<link rel="stylesheet" href="~/css/allNews.css">

<section class="container">
    <h3 class="section-title all-news-title">
		Новости Омского авиационного колледжа имени Н.Е. Жуковского
    </h3>
	<div class="news-list">
        
		@foreach(var news in Model.news)
		{
			<div class="news-item">
				<div class="news-item-img">
					<img src="@news.photos[0]" alt="">
				</div>
				<div class="news-item-content">
					<div class="news-item-date">
						@news.date
					</div>
					<div class="news-item-title">
						@news.title
					</div>
					<div class="news-item-info">
						@news.short_description
						<a href="~/news?id=@news.id">
							ещё...
						</a>
					</div>
				</div>
			</div>
		}	
	</div>

    <div class="pages-nav-container">
        <div class="pages-nav">

            @if (!string.IsNullOrWhiteSpace(HttpContext.Request.Query["id"].ToString()) && Convert.ToInt32(HttpContext.Request.Query["id"]) != 1)
            {
                <a href="/AllNews?id=@(Convert.ToInt32(HttpContext.Request.Query["id"]) - 1)" class="pages-nav-arrow pages-nav-prev">
                    <img class="icon" src="~/images/basic/longArrow.svg" alt="назад">
                </a>
            }

            <div class="pages-nav-pages-list">
                @for (int i = 0; i < Model.pages ; i++)
                {
                    if (string.IsNullOrWhiteSpace(HttpContext.Request.Query["id"].ToString()) && i == 0)
                    {
                        <a href="~/AllNews?id=@(i + 1)" class="pages-nav-pages-list-item current">
                            @(i + 1)
                        </a>
                    }
                    else if (Convert.ToInt32(HttpContext.Request.Query["id"]) == i + 1)
                    {
                        <a href="~/AllNews?id=@(i + 1)" class="pages-nav-pages-list-item current">
                            @(i + 1)
                        </a>
                    }
                    else
                    {
                        <a href="~/AllNews?id=@(i + 1)" class="pages-nav-pages-list-item">
                            @(i + 1)
                        </a>
                    }
                }
            </div>
            
            @if (string.IsNullOrWhiteSpace(HttpContext.Request.Query["id"].ToString()) && Model.pages > 1)
            {
                <a href="/AllNews?id=2" class="pages-nav-arrow pages-nav-next">
                    <img class="icon" src="~/images/basic/longArrow.svg" alt="вперед">
                </a>
            }
            else if (!string.IsNullOrWhiteSpace(HttpContext.Request.Query["id"].ToString()) &&
            Model.pages != Convert.ToInt32(HttpContext.Request.Query["id"]))
            {
                <a href="/AllNews?id=@(Convert.ToInt32(HttpContext.Request.Query["id"]) + 1)" class="pages-nav-arrow pages-nav-next">
                    <img class="icon" src="~/images/basic/longArrow.svg" alt="вперед">
                </a>
            }
        </div>
    </div>
</section>
