@using Microsoft.EntityFrameworkCore
@using OAT.Components.CMK;
@using OAT.Utilities
@inject IHttpContextAccessor httpContextAccessor;

@{
	var User = httpContextAccessor!.HttpContext!.User;
	if (User is null)
		return;
}


<form class="panel-form">

    <label for="news" class="panel-form-title">
        @CMK @(type is null ? "" : $"- {type}")
    </label>

	<div class="input-box">
		<label for="CMK">
			Выбор ЦМК
		</label>
		<select id="CMK" @onchange='async (e) => {
			CMK = e.Value?.ToString()!;
			await OnSelectCMK();
			this.StateHasChanged();
		}'>
            <option selected disabled value="Выберите ЦМК">
				Выберите ЦМК
			</option>
			@if (User.IsRole(Enums.Role.www_POIT_owner))
			{
				<option value="ЦМК ПОИТ">
					ЦМК ПОИТ
				</option>
			}
			@if (User.IsRole(Enums.Role.www_KSZS_owner))
			{
				<option value="ЦМК КСЗС">
					ЦМК КСЗС
				</option>
			}
			@if (User.IsRole(Enums.Role.www_TehREM_owner))
			{
				<option value="ЦМК ТехРЭМ">
					ЦМК ТехРЭМ
				</option>
			}
			@if (User.IsRole(Enums.Role.www_TehSvar_owner))
			{
				<option value="ЦМК ТехСвар">
					ЦМК ТехСвар
				</option>
			}
			@if (User.IsRole(Enums.Role.www_TehARS_owner))
			{
				<option value="ЦМК ТехАРС">
					ЦМК ТехАРС
				</option>
			}
			@if (User.IsRole(Enums.Role.www_EKUP_owner))
			{
				<option value="ЦМК ЭКУП">
					ЦМК ЭКУП
				</option>
			}
			@if (User.IsRole(Enums.Role.www_SGD_owner))
			{
				<option value="ЦМК СГД">
					ЦМК СГД
				</option>
			}
			@if (User.IsRole(Enums.Role.www_END_owner))
			{
				<option value="ЦМК ЕНД">
					ЦМК ЕНД
				</option>
			}
			@if (User.IsRole(Enums.Role.www_TehOPit_owner))
			{
				<option value="ЦМК ТехОПит">
					ЦМК ТехОПит
				</option>
			}
			@if (User.IsRole(Enums.Role.www_FKD_owner))
			{
				<option value="ЦМК ФКД">
					ЦМК ФКД
				</option>
			}
			@if (User.IsRole(Enums.Role.www_informatiki_owner))
			{
				<option value="ЦМК Информатики">
					ЦМК Информатики
				</option>
			}
			@if (User.IsRole(Enums.Role.www_matematiki_owner))
			{
				<option value="ЦМК Математики">
					ЦМК Математики
				</option>
			}
			@if (User.IsRole(Enums.Role.www_russYaz_owner))
			{
				<option value="ЦМК Русс.Яз">
					ЦМК Русс.Яз
				</option>
			}
		</select>
	</div>
	<div class="input-box">
		<label for="material">
			Редактируемый материал
		</label>
		<select id="material" @onchange='async (e) => {
			type = e.Value?.ToString()!;
			await UpdateType();
			this.StateHasChanged();
		}'>
			<option>
				Выберите материал
			</option>
			<option value="Новости">
				Новости
			</option>
			<option value="Члены ЦМК">
				Члены ЦМК
			</option>
			<option value="Документы">
				Документы
			</option>
			<option value="История">
				История
			</option>
		</select>
	</div>
</form>

<CMK_NewsComponent CMK="@CMK"/>
<CMK_HistoryComponent CMK="@CMK"/>
<CMK_CompositionsController CMK="@CMK"/>
<CMK_DocumentsComponent CMK="@CMK"/>


@code {
	public string CMK { get; set; } = "Выберите ЦМК";
	public string? type { get; set; }

	private async Task OnSelectCMK()
	{
		using var db = new DatabaseContext();
		if (CMK != "Выберите ЦМК" && !await db.CMK.AnyAsync(e => e.name == CMK))
		{
			var cmk = new OAT.Entities.Database.CMK(CMK, new(), "Истории пока нет", new(), new());
			await db.AddAsync(cmk);
			await db.SaveChangesAsync();
		}
	}

	private async Task UpdateType(){
		await JSRuntime.InvokeVoidAsync("ShowForm", type);
	}
}

