<div style="--lesson-id: @ColorId;">
	<MoreInfoComponent State="active" OnChangeState="OnCloseMenu">
		<div class="more-info-body">
			<ZoneTitleComponent>@LessonName</ZoneTitleComponent>
			<div class="more-info-row">
				<IconizedListComponent>
					<IconizedListItemComponent Type="Тип" Value="@LessonType">
						<StateIconComponent ClassList="in-text"/>
					</IconizedListItemComponent>
					@if (!IsSubGroups)
					{
						<IconizedListItemComponent Type="Кабинет" Value="@LessonCabinet1">
							<PlaceIconComponent ClassList="in-text"/>
						</IconizedListItemComponent>
						@if (IsGroup)
						{
							<IconizedListItemComponent Type="Препод" Value="@LessonTeacher1"
							                           Href="@GetTeacherLink(LessonTeacher1)">
								<PersonIconComponent ClassList="in-text"/>
							</IconizedListItemComponent>
						}
						else
						{
							<IconizedListItemComponent Type="Группа" Value="@LessonTeacher1">
								<PersonIconComponent ClassList="in-text"/>
							</IconizedListItemComponent>
						}
					}

					@if (IsSubGroups && LessonCabinet1 is not null)
					{
						<IconizedListItemComponent Type="Кабинет 1пг" Value="@LessonCabinet1">
							<PlaceIconComponent ClassList="in-text"/>
						</IconizedListItemComponent>

						@if (IsGroup)
						{
							<IconizedListItemComponent Type="Препод 1пг" Value="@LessonTeacher1"
							                           Href="@GetTeacherLink(LessonTeacher1)">
								<PersonIconComponent ClassList="in-text"/>
							</IconizedListItemComponent>
						}
						else
						{
							<IconizedListItemComponent Type="Группа 1пг" Value="@LessonTeacher1">
								<PersonIconComponent ClassList="in-text"/>
							</IconizedListItemComponent>
						}
					}
					@if (IsSubGroups && LessonCabinet2 is not null)
					{
						<IconizedListItemComponent Type="Кабинет 2пг" Value="@LessonCabinet2">
							<PlaceIconComponent ClassList="in-text"/>
						</IconizedListItemComponent>

						@if (IsGroup)
						{
							<IconizedListItemComponent Type="Препод 2пг" Value="@LessonTeacher2"
							                           Href="@GetTeacherLink(LessonTeacher2)">
								<PersonIconComponent ClassList="in-text"/>
							</IconizedListItemComponent>
						}
						else
						{
							<IconizedListItemComponent Type="Группа 2пг" Value="@LessonTeacher2">
								<PersonIconComponent ClassList="in-text"/>
							</IconizedListItemComponent>
						}
					}
				</IconizedListComponent>
				<p>
					<b>Время:</b> @LessonTime
				</p>
			</div>
			<div class="more-info-row consultations">
				<p>
					<b>КОНСУЛЬТАЦИИ:</b>
				</p>
				<p>
					Первая неделя:
				</p>
				<ul class="customized">
					<li>
						Информации пока нет
					</li>
					<li>
						Информации пока нет
					</li>
				</ul>
				<p>
					Вторая неделя:
				</p>
				<ul class="customized">
					<li>
						Информации пока нет
					</li>
					<li>
						Информации пока нет
					</li>
				</ul>
			</div>
		</div>

		@if (LessonLength != 0 || LessonFinished != 0)
		{
			<LessonProgressComponent LessonFinished="LessonFinished"
			                         LessonLength="LessonLength"
			                         Orientation="vertical"/>
		}
	</MoreInfoComponent>
</div>

@code {
	[Parameter] public string LessonName { get; set; } = "Технические средства информатизации"; // полное наименование предмета
	[Parameter] public string LessonType { get; set; } = "лекция";
	[Parameter] public string? LessonCabinet1 { get; set; }
	[Parameter] public string? LessonTeacher1 { get; set; }
	[Parameter] public string? LessonCabinet2 { get; set; }
	[Parameter] public string? LessonTeacher2 { get; set; }
	[Parameter] public string LessonTime { get; set; } = "10:00";
	[Parameter] public int? LessonFinished { get; set; } = 17;
	[Parameter] public int? LessonLength { get; set; } = 25;
	[Parameter] public bool IsGroup { get; set; } = true;
	[Parameter] public bool IsSubGroups { get; set; }
	[Parameter] public int ColorId { get; set; }
	[Parameter] public EventCallback<bool> OnCloseMenu { get; set; }

	private string GetTeacherLink(string? fullName)
	{
		return $"https://www.oat.ru/organizationInformation/worker/{fullName}";
	}

}