@page
@model MapModel
@{
    ViewData["Title"] = "Карта колледжа";
}


<div class="container content-page">
    <section class="content">
        <a id="plane" class="plane" href="#sidebar"></a>
        <h2 class="section-title">
            Карта колледжа
        </h2>

    </section>


    <aside id="sidebar" class="sidebar">
        <h3 class="sidebar-title">
            Обратная связь
        </h3>
        <nav class="sidebar-body">
            <ul class="sidebar-links">
                <li class="sidebar-link sidebar-link-selected">
                    <a href='@Url.Page("Location")'>
                        Как добраться
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("Contacts")'>
                        Контактная информация
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("Map")'>
                        Схема расположения колледжа
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("QuestionAnswer")'>
                        Вопрос-ответ
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("Pay")'>
                        Электронные платежи
                    </a>
                </li>
            </ul>
        </nav>
    </aside>
</div>