@page
@model EiSRModel
@{
	ViewData["Title"] = "Отделение экономики и социальной работы";
}

<div class="container content-page">
	<section class="content">
		<a id="plane" class="plane" href="#sidebar"></a>
		<h2 class="section-title">
			Отделение экономики и социальной работы
		</h2>
		
		<ul class="page-navigation">
			<li>
				<a href="#people">
					Ответственные лица
				</a>
			</li>
			<li>
				<a href="#history">
					История отделения
				</a>
			</li>
			<li>
				<a href="#specialities">
					Специальности
				</a>
			</li>
			<li>
				<a href="#tasks">
					Задачи
				</a>
			</li>
			<li>
				<a href="#audience">
					Учебные аудитории
				</a>
			</li>
			<li>
				<a href="#cmk">
					ЦМК
				</a>
			</li>
			<li>
				<a href="#feedback">
					Связаться с нами
				</a>
			</li>
		</ul>


		<h3 id="people" class="section-subtitle">
			Ответственные лица
		</h3>
		<ul class="people-list">
			<li class="people-item">
				<a class="people-item-img-container" href=''>
					<img src="~/images/basic/unnamed.jpg" alt="">
				</a>
				<div class="people-item-body more-info">
					<div class="people-item-body-fio">
						Сорокина Анастасия Викторовна
					</div>
					<div class="people-item-body-job">
						Заведующий отделением
					</div>
				</div>
			</li>
			<li class="people-item">
				<a class="people-item-img-container" href=''>
					<img src="~/images/basic/unnamed.jpg" alt="">
				</a>
				<div class="people-item-body more-info">
					<div class="people-item-body-fio">
						Моренко Оксана Романовна
					</div>
					<div class="people-item-body-job">
						социальный педагог отделения
					</div>
				</div>
			</li>
			<li class="people-item">
				<a class="people-item-img-container" href=''>
					<img src="~/images/basic/unnamed.jpg" alt="">
				</a>
				<div class="people-item-body more-info">
					<div class="people-item-body-fio">
						Петенева Ирина Руслановна
					</div>
					<div class="people-item-body-job">
						секретарь отделения
					</div>
				</div>
			</li>
			<li class="people-item">
				<a class="people-item-img-container" href=''>
					<img src="~/images/basic/unnamed.jpg" alt="">
				</a>
				<div class="people-item-body more-info">
					<div class="people-item-body-fio">
						Богачева Дарья Андреевна
					</div>
					<div class="people-item-body-job">
						психолог отделения
					</div>
				</div>
			</li>
		</ul>
		<p>
			<b>
				В работе отделению помогают:
			</b>
		</p>
		<ul class="customized">
			<li>
				заведующий учебной частью Шарипова Надежда Александровна
			</li>
			<li>
				секретарь учебной части   Новикова Татьяна  Михайловна
			</li>
			<li>
				методист Тегжанова Амина Шамельевна
			</li>
			<li>
				методист Басова Ольга Юрьевна
			</li>
			<li>
				библиотекарь   Головочева Любовь Николаевна
			</li>
			<li>
				заведующий хозяйственной частью Очеретова Татьяна Борисовна
			</li>
			<li>
				лаборант Брензевич Светлана Сергеевна
			</li>
			<li>
				медицинский работник – Гайнулина Виктория Александровна
			</li>
		</ul>

		<h3 id="history" class="section-subtitle">
			Историческая справка
		</h3>
		<p>
			В 1996 году по инициативе директора В.М. Белянина был создан Центр дополнительного образования (ЦДО), в котором наряду с дополнительным образованием осуществлялось обучение на внебюджетной основе по программе основного образования. Набор групп осуществлялся по специальностям: «Программное обеспечение вычислительной техники и автоматизированных систем», «Экономика, бухгалтерский учёт и контроль», «Менеджмент (по отраслям)». Администратором ЦДО был <b>В.Я. Чернявский.</b> В 2000 году группы, обучающиеся по программам основного образования, были выделены из состава ЦДО в самостоятельное учебное отделение очного обучения с сохранением такого же названия ЦДО. Заведующим отделением был назначен <b>А.В. Курдюков.</b> В 2008 году отделение переименовано в отделение Информационных технологий и экономики (ИТЭК).  В 2009 году на отделение переведены группы бюджетного финансирования по трем специальностям, кроме того, появились группы повышенного уровня подготовки по специальностям «230105 Программное обеспечение вычислительной техники и автоматизированных систем» и «080110 Экономика и бухгалтерский учёт (в сфере производства)». С 2009 по 2013 год отделением заведовала <b>Т.Г. Арефьева.</b> Отделение ИТЭК возглавил Каштанов Николай Николаевич. Отделение продолжило подготовку по 5 специальностям:  38.02.01 Экономика и бухгалтерский учёт (по отраслям)», «38.02.03 Операционная деятельность в логистике», «09.02.03 Программирование в компьютерных системах», «10.02.03 Информационная безопасность автоматизированных систем», «09.02.02 Компьютерные сети». В соответствии с Распоряжением Правительства Омской области от 27 января 2021 г. № 1-рп бюджетное профессиональное образовательное учреждение Омской области «Омский техникум высоких технологий машиностроения» с 22.05.2021 г. реорганизовано в форме присоединения его к бюджетному профессиональному образовательному учреждению Омской области «Омский авиационный колледж имени Н.Е. Жуковского», поэтому отделение ИТЭК было разделено на две управленческие структуры: на отделение «Информационных технологий» (ИТ) и Отделение экономики и социальной работы (ЭиСР).  Отделение ЭиСР под руководством Сорокиной Анастасии Викторовны стало осуществлять образовательный процесс в корпусе по адресу  ул. Волховстроя, 5, где реализуется подготовка по следующим специальностям:
		</p>


		<h3 id="specialities" class="section-subtitle">
			Специальности
		</h3>
		<ul class="customized">
			<li>
				38.02.03 Операционная деятельность в логистике
			</li>
			<li>
				39.02.01 Социальная работа
			</li>
			<li>
				38.02.01 Экономика и бухгалтерский учёт (по отраслям)
			</li>
		</ul>


		<h3 id="tasks" class="section-subtitle">
			Задачи
		</h3>
		<ul class="customized">
			<li>
				организация информационной системы выпуска обучающихся
			</li>
			<li>
				организация годового цикла подготовки обучающихся
			</li>
			<li>
				создание условий для подготовки к государственной (итоговой аттестации)
			</li>
			<li>
				контроль выпуска обучающихся по качественным и количественным показателям (плану выпуска)
			</li>
			<li>
				контроль реализации ОПОП СПО колледжа
			</li>
			<li>
				реализация внеучебной и воспитательной работы с обучающимися
			</li>
			<li>
				реализация профориентационной работы
			</li>
			<li>
				реализация промежуточной (семестровой аттестации)
			</li>
		</ul>
		<p>
			ОТДЕЛЕНИЕ ЭиСР АКТИВНО ПРИНИМАЕТ УЧАСТИЕ В Федеральном Проекте Министерства просвещения Российской Федерации «ПРОФЕССИОНАЛИТЕТ». Организовано взаимодействие между студентами отделения ЭиСР и партнерами колледжа, такими как: ООО «Лента», ООО «Дез – Гарант», ПАО «Магнит», ООО ТЭК «ПЭК», Межрайонная ИФНС России по Омской области, БУ ОО Комплексный центр социального обслуживания населения «Рябинушка» ЦАО.
		</p>


		<h3 id="audience" class="section-subtitle">
			Учебные аудитории
		</h3>
		<ul class="customized">
			<li>
				104 кабинет – это кабинет, где проходят подготовку будущие социальные работники
			</li>
			<li>
				21,22 кабинеты – это кабинеты для занятий русского языка и литературы
			</li>
			<li>
				24 кабинет – кабинет для занятий иностранного языка
			</li>
			<li>
				27 кабинет – это кабинет, где проходят занятия для будущих экономистов  по  таким дисциплинам, как аудит, компьютерное обеспечение бухгалтерского учета, бухгалтерская технология проведения и оформления инвентаризации, практические основы бухгалтерского учета источники формирования активов организации, основы бухгалтерского учета
			</li>
			<li>
				28 кабинет – это кабинет для проведения информатики
			</li>
			<li>
				30 кабинет – это кабинет для подготовки будущих логистов по таким дисциплинам, как управление логистическими процессами, оптимизация процессов транспортировки и проведения оценки стоимости затрат на хранение товарных запасов, экономика и организация производства
			</li>
			<li>
				31, 32 кабинеты – это кабинеты математики
			</li>
			<li>
				33 кабинет – это кабинет для изучения таких дисциплин, как экономика, основы философии, основы экономической теории
			</li>
			<li>
				35, 44 кабинеты -  это кабинеты для занятий истории и обществознания
			</li>
			<li>
				36 кабинет – это кабинет, где проходят занятия для будущих бухгалтеров, оснащённый профессиональным интерактивным плоским дисплеем, современный компьютерным оборудованием и программой автоматизации бухгалтерского учёта
			</li>
			<li>
				41 кабинет – это кабинет, оснащённый мобильным компьютерным классом для проведения таких дисциплин как экономика организации, основы предпринимательской деятельности, маркетинг, экономика и организация производства, ведение предпринимательской деятельности
			</li>
			<li>
				Центр логистики - это кабинет, оснащённый современными компьютерными средствами обучения для подготовки будущих логистов по таким дисциплинам, как оптимизация ресурсов организаций (подразделений), оценка инвестиционных проектов в логистической системе, основы логистики, документальное обеспечение управления.
			</li>
		</ul>


		<h3 id="cmk" class="section-subtitle">
			ЦМК
		</h3>
		<ul class="customized">
			<li>
				ЦМК  Экономика и управление (ЭКУП), председатель  Никодимова Наталья Дмитриевна
			</li>
			<li>
				ЦМК Социально – гуманитарных дисциплин (СГД), председатель Арефьева Татьяна Геннадьевна
			</li>
		</ul>


		<h3 id="feedback" class="section-subtitle">
			Связаться с нами
		</h3>
		<p class="place">
			г. Омск, ул. Волховстроя, 5. Каб.102, 108
		</p>
		<p class="phone">
			(3812)-23-63-56
		</p>
		<p class="time">
			ПН-ПТ 08:00-17:00
		</p>

	</section>
	<aside id="sidebar" class="sidebar">
		<h3 class="sidebar-title">
			Отделения
		</h3>
		<nav class="sidebar-body">
			<ul class="sidebar-links">
				<li class="sidebar-link">
					<a href='@Url.Page("IT")'>
						Отделение информационных технологий
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("OTM")'>
						Отделение технологии машиностроения
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("PPKRS")'>
						Отделение программ подготовки квалифицированных рабочих служащих
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("RTS")'>
						Отделение радиотехники и технологии сварки
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("TAKPiE")'>
						Отделение технологии аэрокосмического производства и электротехники
					</a>
				</li>
				<li class="sidebar-link sidebar-link-selected">
					<a href='@Url.Page("EiSR")'>
						Отделение экономики и социальной работы
					</a>
				</li>
			</ul>
		</nav>
	</aside>
</div>
