@page
@model ITModel
@{
	ViewData["Title"] = "Отделение информационных технологий";
}

<div class="container content-page">
	<section class="content">
		<a id="plane" class="plane" href="#sidebar"></a>
		<h2 class="section-title">
			Отделение информационных технологий
		</h2>
		
		<ul class="page-navigation">
			<li>
				<a href="#people">
					Ответственные лица
				</a>
			</li>
			<li>
				<a href="#history">
					История отделения
				</a>
			</li>
			<li>
				<a href="#specialities">
					Специальности
				</a>
			</li>
			<li>
				<a href="#tasks">
					Задачи
				</a>
			</li>
			<li>
				<a href="#audience">
					Учебные аудитории
				</a>
			</li>
			<li>
				<a href="#cmk">
					ЦМК
				</a>
			</li>
			<li>
				<a href="#feedback">
					Связаться с нами
				</a>
			</li>
		</ul>


		<h3 id="people" class="section-subtitle">
			Ответственные лица
		</h3>
		<ul class="people-list">
			<li class="people-item">
				<a class="people-item-img-container" href=''>
					<img src="~/images/basic/unnamed.jpg" alt="">
				</a>
				<div class="people-item-body more-info">
					<div class="people-item-body-fio">
						Каштанов Николай Николаевич
					</div>
					<div class="people-item-body-job">
						Заведующий отделением
					</div>
				</div>
			</li>
			<li class="people-item">
				<a class="people-item-img-container" href=''>
					<img src="~/images/basic/unnamed.jpg" alt="">
				</a>
				<div class="people-item-body more-info">
					<div class="people-item-body-fio">
						Чекунова Маргарита Юрьевна
					</div>
					<div class="people-item-body-job">
						Заместитель заведущего
					</div>
				</div>
			</li>
			<li class="people-item">
				<a class="people-item-img-container" href=''>
					<img src="~/images/basic/unnamed.jpg" alt="">
				</a>
				<div class="people-item-body more-info">
					<div class="people-item-body-fio">
						Рубцова Елена Михайловна
					</div>
					<div class="people-item-body-job">
						Социальный педагог
					</div>
				</div>
			</li>
			<!-- Секретарь скоро сменится. Увольнение написал -->
			<!--
			<li class="people-item">
				<a class="people-item-img-container" href=''>
					<img src="~/images/basic/unnamed.jpg" alt="">
				</a>
				<div class="people-item-body more-info">
					<div class="people-item-body-fio">
						Поендаева Анна Владимировна
					</div>
					<div class="people-item-body-job">
						Секретарь отделения
					</div>
				</div>
			</li>
			-->
		</ul>


		<h3 id="history" class="section-subtitle">
			Историческая справка
		</h3>
		<p>
			В 1996 году по инициативе директора колледжа <b>Белянина В.М.</b>  создан Центр дополнительного образования (ЦДО), в котором наряду с дополнительным образованием осуществлялось обучение на внебюджетной основе по программам основного образования. Набор таких групп осуществлялся по трём специальностям: "Программное обеспечение вычислительной техники и автоматизированных систем", "Экономика, бухгалтерский учет и контроль", "Менеджмент (по отраслям)". Администратором ЦДО был В.Я.Чернявский. В 2000 году группы, обучающиеся по программам основного образования, были выделены из состава ЦДО в самостоятельное учебное отделение очного обучения с сохранением такого же наименования (ЦДО). Заведующим отделением был назначен А.В.Курдюков. В 2008 году отделение переименовано в отделение информационных технологий и экономики. В 2009 году на отделение переведены группы бюджетного финансирования по всем трем специальностям, в том числе группы повышенного уровня по специальности "230105 Программное обеспечение вычислительной техники и автоматизированных систем" и по специальности "080110 Экономика и бухгалтерский учет (в сфере производства)". С 2009 года по 2013 год отделением заведовала Т.Г. Арефьева.
		</p>
		<p>
			Отделение ИТЭК осуществляло подготовку по 5 специальностям.   38.02.01 «Экономика и бухгалтерский учет (по отраслям)», 38.02.03 «Операционная деятельность в логистике», 09.02.03 «Программирование в компьютерных системах», 10.02.03 «Информационная безопасность автоматизированных систем», 09.02.02 «Компьютерные сети». Возглавляет отделение <b>Каштанов Николай Николаевич.</b>
		</p>
		<p>
			В 2021 году учебное отделение было разделено на две управленческие структуры, отделение Информационных технологий и отделение Экономики и социальной работы. Отделением информационных технологий продолжил руководить Каштанов Николай Николаевич. Отделение Экономики и социальной работы под руководством Сорокиной Анастасии Викторовны переехало в другой корпус Омского авиационного колледжа по адресу ул.Волховстроя д.5., к.1.
		</p>


		<h3 id="specialities" class="section-subtitle">
			Специальности
		</h3>
		<ul class="customized">
			<li>
				09.02.07 «Информационные системы и программирование»
			</li>
			<li>
				09.02.02 «Компьютерные сети»
			</li>
			<li>
				09.02.06 «Сетевое и системное администрирование»
			</li>
			<li>
				10.02.05 «Обеспечение информационной безопасности автоматизированных систем»
			</li>
			<li>
				54.01.20 «Графический дизайнер»
			</li>
		</ul>


		<h3 id="tasks" class="section-subtitle">
			Задачи
		</h3>
		<ul class="customized">
			<li>
				Организация информационной системы выпуска обучающихся
			</li>
			<li>
				Организация годового цикла подготовки обучающихся;
			</li>
			<li>
				Создание условий для подготовки к государственной (итоговой) аттестации
			</li>
			<li>
				Контроль выпуска обучающихся по качественным и количественным показателям (плану выпуска)
			</li>
			<li>
				Организация информационной системы реализации ОПОП СПО колледжа
			</li>
			<li>
				Реализация внеучебной и воспитательной работы с обучающимися
			</li>
			<li>
				Реализация профориентационной работы
			</li>
			<li>
				Реализация промежуточной (семестровой) аттестации обучающихся
			</li>
			<li>
				Контроль реализации ОПОП СПО колледжа
			</li>
		</ul>


		<h3 id="audience" class="section-subtitle">
			Учебные аудитории
		</h3>
		<p>
			Кабинеты 116, 117, 118, 121, 210, 212, 220, 312, 315, 316, 318, 319, 320, 509, 510 - это кабинеты, в которых проходят подготовку будущие программисты, специалисты по компьютерным сетям и информационной безопасности. Кабинеты оснащены высокопроизводительным вычислительным и телекоммуникационным оборудованием, современным программным обеспечением.
		</p>
		<p>
			Кабинеты 335, 507, 209 – кабинеты ЦМК математики.
		</p>
		<p>
			Кабинеты 111, 120, 120 «а», 225, 332 – кабинеты ЦМК русского языка и литературы.
		</p>
		<p>
			Кабинеты 204, 226, 301, 310, 403 – кабинеты ЦМК иностранных языков.
		</p>
		<p>
			В 2019 году БПОУ «Омский авиационный колледж имени Н.Е. Жуковского» стал победителем конкурсного отбора на предоставление из федерального бюджета гранта в форме субсидий юридическим лицам в рамках реализации мероприятия «Государственная поддержка профессиональных образовательных организаций в целях обеспечения соответствия их материально-технической базы современным требованиям» федерального проекта «Профессионалы» (Повышение конкурентоспособности профессионального образования) национального проекта «Образование» государственной программы РФ «Развитие образования» по направлению «Информационные и коммуникационные технологии».
		</p>
		<p>
			25 сентября 2020г в Омском авиационном колледже состоялось торжественное открытие новых мастерских «Информационные и коммуникационные технологии» по компетенциям «Кибер-безопасность», «Корпоративная защита от внутренних угроз информационной безопасности», «Разработка мобильных приложений», «Разработка виртуальной и дополненной реальности», «Машинное обучение и большие данные».
		</p>
		<p>
			Мастерские оснащены интерактивными и программными комплексами, современным компьютерным оборудованием и средствами обучения для подготовки специалистов соответствующего уровня и профиля, конкурентоспособными на рынке труда. Это позволят не только обучать студентов авиационного колледжа, но и через механизм сетевого взаимодействия охватить современной подготовкой студентов профессиональных образовательных организаций Омской области, активно вовлекать в профессию Омских школьников и людей всех возрастов. В дальнейшем мастерские станут площадками для проведения чемпионатов «Профессионалы» (WorldSkills Russia) по выбранным компетенциям.
		</p>
		<ul class="customized">
			<li>
				Кабинет 312 – мастерская «Кибер-безопасность»
			</li>
			<li>
				Кабинет 315 – мастерская «Корпоративная защита от внутренних угроз информационной безопасности
			</li>
			<li>
				Кабинет 316 – мастерская «Разработка мобильных приложений»
			</li>
			<li>
				Кабинет 318 – мастерская «Машинное обучение и большие данные»
			</li>
			<li>
				Кабинет 319 – мастерская «Разработка виртуальной и дополнительной реальности»
			</li>
		</ul>


		<h3 id="cmk" class="section-subtitle">
			ЦМК
		</h3>
		<ul class="customized">
			<li>
				ЦМК Компьютерных технологий защиты и сетей
			</li>
			<li>
				ЦМК Графического дизайна
			</li>
			<li>
				ЦМК Программного обеспечения информационных технологий
			</li>
		</ul>


		<h3 id="feedback" class="section-subtitle">
			Связаться с нами
		</h3>
		<p class="place">
			г. Омск, ул. Ленина, 24. Каб 340
		</p>
		<p class="phone">
			(3812) 36-18-66 (доб. 340)
		</p>
		<p class="time">
			ПН-ПТ 08:00-17:00
		</p>
	</section>
	<aside id="sidebar" class="sidebar">
		<h3 class="sidebar-title">
			Отделения
		</h3>
		<nav class="sidebar-body">
			<ul class="sidebar-links">
				<li class="sidebar-link sidebar-link-selected">
					<a href='@Url.Page("IT")'>
						Отделение информационных технологий
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("OTM")'>
						Отделение технологии машиностроения
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("PPKRS")'>
						Отделение программ подготовки квалифицированных рабочих служащих
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("RTS")'>
						Отделение радиотехники и технологии сварки
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("TAKPiE")'>
						Отделение технологии аэрокосмического производства и электротехники
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("EiSR")'>
						Отделение экономики и социальной работы
					</a>
				</li>
			</ul>
		</nav>
	</aside>
</div>
