@page
@model OTMModel
@{
	ViewData["Title"] = "Отделение технологии машиностроения";
}

<div class="container content-page">
	<section class="content">
		<a id="plane" class="plane" href="#sidebar"></a>
		<h2 class="section-title">
			Отделение технологии машиностроения
		</h2>
		
		<ul class="page-navigation">
			<li>
				<a href="#people">
					Ответственные лица
				</a>
			</li>
			<li>
				<a href="#history">
					История отделения
				</a>
			</li>
			<li>
				<a href="#specialities">
					Специальности
				</a>
			</li>
			<li>
				<a href="#tasks">
					Задачи
				</a>
			</li>
			<li>
				<a href="#cmk">
					ЦМК
				</a>
			</li>
			<li>
				<a href="#feedback">
					Связаться с нами
				</a>
			</li>
		</ul>


		<h3 id="people" class="section-subtitle">
			Ответственные лица
		</h3>
		<ul class="people-list">
			<li class="people-item">
				<a class="people-item-img-container" href=''>
					<img src="~/images/people/Сковородина Наталья Александровна.jpg" alt="">
				</a>
				<div class="people-item-body more-info">
					<div class="people-item-body-fio">
						Сковородина Наталья Александровна
					</div>
					<div class="people-item-body-job">
						Заведующий отделением
					</div>
				</div>
			</li>
			<li class="people-item">
				<a class="people-item-img-container" href=''>
					<img src="~/images/people/Богачева Дарья Андреевна.jpeg" alt="">
				</a>
				<div class="people-item-body more-info">
					<div class="people-item-body-fio">
						Богачева Дарья Андреевна
					</div>
					<div class="people-item-body-job">
						Социальный педагог отделения
					</div>
				</div>
			</li>
			<li class="people-item">
				<a class="people-item-img-container" href=''>
					<img src="~/images/basic/unnamed.jpg" alt="">
				</a>
				<div class="people-item-body more-info">
					<div class="people-item-body-fio">
						Копочева Анастасия Евгеньевна
					</div>
					<div class="people-item-body-job">
						Секретарь отделения
					</div>
				</div>
			</li>
		</ul>


		<h3 id="history" class="section-subtitle">
			Историческая справка
		</h3>
		<p>
			В феврале 2000 г. к Профессиональному училищу № 58 было при соединено Профессиональное училище № 1. В 2008 г. директором объединенного ПУ № 58 назначен <b>Сергей Петрович Володин.</b> В этот период учебное заведение перешло на подготовку рабочих кадров, владеющих знаниями и навыками для работы на оборудовании ведущих мировых производителей станкостроения.
		</p>
		<p>
			27 мая 2009 г.	 в ПУ № 58 состоялось открытие первого в Омской области ресурсного центра по металлообработке. В торжественной церемонии приняли участие губернатор Омской области Л.К. Полежаев и генеральный директор компании «НААS-Европа» Питер Дерих Холл.
		</p>
		<p>
			В 2010 г. должность директора в БОУ НПО «ПУ № 58» занял <b>Вадим Григорьевич Вакулов.</b>
		</p>
		<p>
			В 2011 г. в связи с успешной работой ресурсного центра в ПУ № 58  произошли новые изменения. По  распоряжению правительства Омской области параллельно с подготовкой рабочих по основной профессии «станочник металлообработки» была введена подготовка специалистов среднего звена по специальности «технология машиностроения».	 Этому способствовала лучшее на тот период в системе ПТО  Омской области техническое обеспечение образовательного учреждения. Токарная, фрезерная, слесарная, сварочная мастерские, участок станков с ЧПУ общей площадью более 2 тыс. кв. м. позволили проводить учебно-профессиональную практику в полном объеме.
		</p>
		<p>
			В связи с введением среднего профессионального образования в том же 2011 г. БОУ НПО «ПУ № 58» было переименовано в «Омский техникум высоких технологий машиностроения». С изменением статуса появилась возможность открытия новых специальностей СПО «сварочное производство», «операционная деятельность в логистике», «социальная работа», «технология металлообрабатывающего производства». Одновременно велась подготовка по профессиям «станочник (металлообработка)», «слесарь по ремонту строительных машин».
		</p>
		<p>
			Крупнейшими социальными партнёрами ОТВТМ, а ныне после его присоединения к ОМАВИАТ являются АО «Высокие Технологии», АО ОмПО «Радиозавод им. А.С. Попова» (РЕЛЕРО), АО «Омсктрансмаш», АО «НТК «Криогенная техника», АО «ОМКБ», АО «ЦКБА», АО «Сибирские приборы и системы», филиал АО «ОДК «ОМО им. П.И. Баранова», АО «ОНИИП», ПАО «Сатурн», «Филиал ПАО «ОДК-Сатурн» - ОМКБ», ООО «НХПТ». Согласно договорам  эти предприятия по графику принимают обучающихся и студентов на производственную практику с возможностью трудоустройства после  окончания учебного учреждения. 
		</p>
		<p>
			В 2021 г. в результате реорганизации «Омский техникум высоких технологий машиностроения» был  реорганизован путём присоединения к БПОУ «Омский авиационный колледж им. Н.Е. Жуковского».
		</p>
		<p>
			В настоящее время отделение реализует программы подготовки специалистов среднего звена по очной форме обучения, создаются условия, необходимые для подготовки конкурентоспособных специалистов.
		</p>


		<h3 id="specialities" class="section-subtitle">
			Специальности
		</h3>
		<ul class="customized">
			<li>
				15.02.08 Технология машиностроения
			</li>
			<li>
				15.02.15 Технология металлообрабатывающего производства
			</li>
			<li>
				15.02.16 Технология машиностроения
			</li>
			<li>
				27.02.01 Метрология
			</li>
		</ul>


		<h3 id="tasks" class="section-subtitle">
			Задачи
		</h3>
		<ol class="customized">
			<li>
				Создание и реализация эффективной системы управления качеством обучения и воспитания студентов, выявление и устранение недостатков в организации учебного процесса;
			</li>
			<li>
				 Организация работы по сохранности контингента студентов на отделении
			</li>
			<li>
				 Организация внеучебного процесса по специальностям отделения (участие в профессиональных конкурсах, олимпиадах, конференциях)
			</li>
			<li>
				 Создание условий для повышения роли студенческого самоуправления в организации общественной жизни в колледже, в формировании социальных компетенций, необходимых для становления конкурентоспособного специалиста
			</li>
			<li>
				 Продолжение работы по профессиональной ориентации студентов и содействие их трудоустройству, осуществление связи с выпускниками отделения
			</li>
		</ol>


		<h3 id="cmk" class="section-subtitle">
			ЦМК
		</h3>
		<p>
            ЦМК Технологии машиностроения. Председатель ЦМК Цопа Елена Николаевна
		</p>


		<h3 id="feedback" class="section-subtitle">
			Связаться с нами
		</h3>
		<p class="place">
			г. Омск, ул. Волховстроя, д.5, корп.4
		</p>
		<p class="phone">
			(3812) 21-10-17
		</p>
		<p class="time">
			ПН-ПТ 08:00-17:00, обеденный перерыв 12:00-13:00
		</p>
	</section>
	<aside id="sidebar" class="sidebar">
		<h3 class="sidebar-title">
			Отделения
		</h3>
		<nav class="sidebar-body">
			<ul class="sidebar-links">
				<li class="sidebar-link">
					<a href='@Url.Page("IT")'>
						Отделение информационных технологий
					</a>
				</li>
				<li class="sidebar-link sidebar-link-selected">
					<a href='@Url.Page("OTM")'>
						Отделение технологии машиностроения
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("PPKRS")'>
						Отделение программ подготовки квалифицированных рабочих служащих
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("RTS")'>
						Отделение радиотехники и технологии сварки
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("TAKPiE")'>
						Отделение технологии аэрокосмического производства и электротехники
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("EiSR")'>
						Отделение экономики и социальной работы
					</a>
				</li>
			</ul>
		</nav>
	</aside>
</div>
