@page
@model PPKRSModel
@{
    ViewData["Title"] = "Отделение «Программ подготовки квалифицированных рабочих служащих»";
}

<div class="container content-page">
    <section class="content">
        <a id="plane" class="plane" href="#sidebar"></a>
        <h2 class="section-title">
            Отделение «Программ подготовки квалифицированных рабочих служащих»
        </h2>
        
        <ul class="page-navigation">
            <li>
                <a href="#people">
                    Ответственные лица
                </a>
            </li>
            <li>
                <a href="#history">
                    История отделения
                </a>
            </li>
            <li>
                <a href="#professions">
                    Профессии
                </a>
            </li>
            <li>
                <a href="#tasks">
                    Задачи
                </a>
            </li>
            <li>
                <a href="#audience">
                    Учебные аудитории
                </a>
            </li>
        </ul>


        <h3 id="people" class="section-subtitle">
            Ответственные лица
        </h3>
        <ul class="people-list">
            <li class="people-item">
                <a class="people-item-img-container" href=''>
                    <img src="~/images/basic/unnamed.jpg" alt="">
                </a>
                <div class="people-item-body more-info">
                    <div class="people-item-body-fio">
                        Троцкий Дмитрий Леонидович
                    </div>
                    <div class="people-item-body-job">
                        Заведующий отделением
                    </div>
                </div>
            </li>
            <li class="people-item">
                <a class="people-item-img-container" href=''>
                    <img src="~/images/basic/unnamed.jpg" alt="">
                </a>
                <div class="people-item-body more-info">
                    <div class="people-item-body-fio">
                        Космачева Виктория Владимировна
                    </div>
                    <div class="people-item-body-job">
                        Секретарь отделения
                    </div>
                </div>
            </li>
            <li class="people-item">
                <a class="people-item-img-container" href=''>
                    <img src="~/images/basic/unnamed.jpg" alt="">
                </a>
                <div class="people-item-body more-info">
                    <div class="people-item-body-fio">
                        Богун Елена Геннадьевна
                    </div>
                    <div class="people-item-body-job">
                        Заведующий учебной частью ППКРС
                    </div>
                </div>
            </li>
            <li class="people-item">
                <a class="people-item-img-container" href=''>
                    <img src="~/images/basic/unnamed.jpg" alt="">
                </a>
                <div class="people-item-body more-info">
                    <div class="people-item-body-fio">
                        Кислова Ирина Владимировна
                    </div>
                    <div class="people-item-body-job">
                        Секретарь учебной части
                    </div>
                </div>
            </li>
            <li class="people-item">
                <a class="people-item-img-container" href=''>
                    <img src="~/images/basic/unnamed.jpg" alt="">
                </a>
                <div class="people-item-body more-info">
                    <div class="people-item-body-fio">
                        Жеганина Светлана Александровна
                    </div>
                    <div class="people-item-body-job">
                        Начальник воспитательного отдела
                    </div>
                </div>
            </li>
            <li class="people-item">
                <a class="people-item-img-container" href=''>
                    <img src="~/images/basic/unnamed.jpg" alt="">
                </a>
                <div class="people-item-body more-info">
                    <div class="people-item-body-fio">
                        Ткачева Татьяна Николаевна
                    </div>
                    <div class="people-item-body-job">
                        Социальный педагог отделения
                    </div>
                </div>
            </li>
            <li class="people-item">
                <a class="people-item-img-container" href=''>
                    <img src="~/images/basic/unnamed.jpg" alt="">
                </a>
                <div class="people-item-body more-info">
                    <div class="people-item-body-fio">
                        Стукановская София Андреевна
                    </div>
                    <div class="people-item-body-job">
                        Психолог отделения
                    </div>
                </div>
            </li>
            <li class="people-item">
                <a class="people-item-img-container" href=''>
                    <img src="~/images/basic/unnamed.jpg" alt="">
                </a>
                <div class="people-item-body more-info">
                    <div class="people-item-body-fio">
                        Шарая Татьяна Борисовна
                    </div>
                    <div class="people-item-body-job">
                        Заведующая хозяйственной частью
                    </div>
                </div>
            </li>
        </ul>


        <h3 id="history" class="section-subtitle">
            Историческая справка
        </h3>
        <p>
            Омское бюджетное образовательное учреждение начального профессионального образования «Профессиональное училище № 21» по праву считается одним из училищ транспортной отрасли в Сибири, появление которого было связано с целой эпохой в развитии страны. Дальнейшая история училища неразрывно связана сначала с жизнью производственного объединения «Полет», в которое после войны преобразовался авиазавод № 166, а ныне - с филиалом аэрокосмического объединения ФГУП ГКНГГЦ имени М.В. Хруничева. С 1984 года статус учебного заведения повысился, здесь, кроме рабочей профессии, обучающиеся могли приобрести и общее среднее образование. ПО «Полет», находившееся на пике своего развития, создавшее производство особо мощных двигателей к РН «Зенит» и «Энергия», выпускавшее разнообразные ракетно-космические изделия, стремилось поднять уровень своего училища. Именно тогда в нем появился первый компьютерный класс и современные станки. Отделение ППКРС в Омском авиационном колледже организовано в конце 2014 года после присоединения профессиональных училищ № 21 и № 22.
        </p>


        <h3 id="professions" class="section-subtitle">
            Профессии
        </h3>
        <ul class="customized">
            <li>
                11.01.01 Монтажник радиоэлектронной аппаратуры и приборов
            </li>
            <li>
                13.01.10 Электромонтер по ремонту и обслуживанию электрооборудования
            </li>
            <li>
                15.01.05 Сварщик (ручной и частично механизированной сварки (наплавки)
            </li>
            <li>
                15.01.25 Станочник (металлообработка)
            </li>
            <li>
                15.01.29 Контролер станочных и слесарных работ
            </li>
            <li>
                15.01.32 Оператор станков с программным управлением
            </li>
            <li>
                23.01.08 Слесарь по ремонту строительных машин
            </li>
            <li>
                43.01.09 Повар, кондитер
            </li>
        </ul>


        <h3 id="tasks" class="section-subtitle">
            Задачи
        </h3>
        <ul class="customized">
            <li>
                Организация годового цикла подготовки обучающихся
            </li>
            <li>
                Создание условий для подготовки к государственной (итоговой аттестации)
            </li>
            <li>
                Создание условий для подготовки квалифицированных рабочих, служащих
            </li>
            <li>
                Контроль выпуска обучающихся по качественным и количественным показателям
            </li>
            <li>
                Реализация внеучебной и воспитательной работы с обучающимися
            </li>
            <li>
                Реализация профориентационной работы
            </li>
        </ul>


        <h3 id="audience" class="section-subtitle">
            Учебные аудитории
        </h3>
        <p>
            Учебные кабинеты общеобразовательных дисциплин
        </p>
        <p>
            Учебные кабинеты специальных дисциплин
        </p>
        <p>
            Мастерские для проведения практических занятий по профессиям отделения
        </p>
        <p>
            Спортивный зал, актовый зал, библиотека, медицинский пункт, буфет
        </p>

    </section>
    <aside id="sidebar" class="sidebar">
        <h3 class="sidebar-title">
            Отделения
        </h3>
        <nav class="sidebar-body">
            <ul class="sidebar-links">
                <li class="sidebar-link">
                    <a href='@Url.Page("IT")'>
                        Отделение информационных технологий
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("OTM")'>
                        Отделение Технология Машиностроения
                    </a>
                </li>
                <li class="sidebar-link sidebar-link-selected">
                    <a href='@Url.Page("PPKRS")'>
                        Отделение «Программ подготовки квалифицированных рабочих служащих»
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("RTS")'>
                        Отделение радиотехники и технологии сварки
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("TAKPiE")'>
                        Отделение технологии аэрокосмического производства и электротехники
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("EiSR")'>
                        Отделение «Экономика и социальная работа»
                    </a>
                </li>
            </ul>
        </nav>
    </aside>
</div>
