@page
@model RTSModel
@{
    ViewData["Title"] = "Отделение радиотехники и технологии сварки";
}

<div class="container content-page">
    <section class="content">
        <a id="plane" class="plane" href="#sidebar"></a>
        <h2 class="section-title">
            Отделение радиотехники и технологии сварки
        </h2>
        
        <ul class="page-navigation">
            <li>
                <a href="#people">
                    Ответственные лица
                </a>
            </li>
            <li>
                <a href="#history">
                    История отделения
                </a>
            </li>
            <li>
                <a href="#specialities-and-professions">
                    Специальности и профессии
                </a>
            </li>
            <li>
                <a href="#tasks">
                    Задачи
                </a>
            </li>
            <li>
                <a href="#audience">
                    Учебные аудитории
                </a>
            </li>
            <li>
                <a href="#cmk">
                    ЦМК
                </a>
            </li>
            <li>
                <a href="#feedback">
                    Связаться с нами
                </a>
            </li>
        </ul>


        <h3 id="people" class="section-subtitle">
            Ответственные лица
        </h3>
        <ul class="people-list">
            <li class="people-item">
                <a class="people-item-img-container" href=''>
                    <img src="~/images/basic/unnamed.jpg" alt="">
                </a>
                <div class="people-item-body more-info">
                    <div class="people-item-body-fio">
                        Домнич Александр Юрьевич
                    </div>
                    <div class="people-item-body-job">
                        Заведующий отделением РТС
                    </div>
                </div>
            </li>
            <li class="people-item">
                <a class="people-item-img-container" href=''>
                    <img src="~/images/basic/unnamed.jpg" alt="">
                </a>
                <div class="people-item-body more-info">
                    <div class="people-item-body-fio">
                        Цыганкова Светлана Валерьевна
                    </div>
                    <div class="people-item-body-job">
                        Социальный педагог
                    </div>
                </div>
            </li>
            <li class="people-item">
                <a class="people-item-img-container" href=''>
                    <img src="~/images/basic/unnamed.jpg" alt="">
                </a>
                <div class="people-item-body more-info">
                    <div class="people-item-body-fio">
                        ФИО
                    </div>
                    <div class="people-item-body-job">
                        Секретарь отделения
                    </div>
                </div>
            </li>
        </ul>


        <h3 id="history" class="section-subtitle">
            Историческая справка
        </h3>
        <p>
            Отделение «Приборостроение» (с 2019 года отделение «Радиотехники и технологии сварки») организовано в Омском авиационном техникуме имени К.Е. Ворошилова в 1950 году, когда из групп специальностей «Самолетостроение» (С) и «Моторостроение» (М) была сформирована одна группа специальности «Монтаж и испытание радиооборудования на самолетах» (СМ). В 1952 году состоялся первый выпуск техников-радистов. В 1962 году техникуму было присвоено имя Н.Е. Жуковского. Первым заведующим отделения стал <b>ИВАНОВ Алексей Иванович,</b> окончивший в 1941 году Омский государственный педагогический институт имени А. М. Горького. Иванов А. И. руководил отделением с 1951 по 1985 годы. Сегодня отделение возглавляет Домнич А. Ю.
        </p>


        <h3 id="specialities-and-professions" class="section-subtitle">
            Специальности и профессии
        </h3>
        <ul class="customized">
            <li>
                12.02.03. Радиоэлектронные приборные устройства
            </li>
            <li>
                22.02.06. Сварочное производство
            </li>
            <li>
                15.02.10. Мехатроника и мобильная робототехника
            </li>
        </ul>


        <h3 id="tasks" class="section-subtitle">
            Задачи
        </h3>
        <ol class="customized">
            <li>
                Подготовка конкурентоспособных специалистов в различных отраслях знаний с учетом потребностей личности, общества, государства в качественном образовании 21-го века.
            </li>
            <li>
                Достижение значимых отраслевых результатов в разработках по специальностям отделения
            </li>
            <li>
                Формирование креативной конкурентоспособной личности
            </li>
            <li>
                Включение отделения в информационный мир и информационное обеспечение общества
            </li>
            <li>
                Кадровая политика отделения
            </li>
        </ol>


        <h3 id="audience" class="section-subtitle">
            Учебные аудитории
        </h3>
        <p>
            Все учебные аудитории оснащены посадочными местами по количеству учащихся, рабочим местом преподавателя, классной доской (как для мела, так и для маркеров), наглядными плакатами либо стендами, дополнительным освещением. В некоторых аудиториях хранятся учебно-наглядные пособия и учебники, применяемые во время занятий. Лаборатории (помимо специализированного лабораторного оборудования) оснащены комплектами учебно-методических пособий для выполнения лабораторных работ, макетами и моделями соответствующей тематики, а также компьютерной техникой.
        </p>
        <p>
            В каждой аудитории имеются элементы украшения интерьера, модели и экспонаты.
        </p>
        <ul class="customized">
            <li>
                Радиомонтажная мастерская (ауд. 104) оснащена шестнадцатью рабочими местами для подготовки студентов по рабочей профессии радиомонтажника, оборудованных современным паяльным оборудованием. Также в мастерской имеется оборудование для проведения учебной электромонтажной практики с необходимыми комплектующими для организации электрической сети в квартире.
            </li>
            <li>
                Лаборатория электротехники (ауд. 115), лаборатория электротехники и источников питания (ауд. 216) оборудованы: персональным компьютером в базовой комплектации, универсальными стендами для проведения лабораторных работ по теоретическим основам электротехники, электронике, источниками питания, трансформаторами, мостами, лабораторными измерительными приборами.
            </li>
            <li>
                Лаборатория вычислительной техники, архитектуры персонального компьютера и периферийных устройств; электронной техники, схемотехники и информационных технологий (ауд. 214) оборудована: лабораторным оборудованием по вычислительной технике, комплексными лабораторными стендами с измерительной аппаратурой, компьютером с выходом на телевизор, компьютерными станциями по изучению основ программирования на низком уровне.
            </li>
            <li>
                Кабинет конструкторского и технологического модуля (ауд. 217) оборудован мультимедийной аппаратурой, плакатами, учебной литературой и справочниками.
            </li>
            <li>
                Комплексная лаборатория радиоэлектронных приборных устройств и систем (ауд. 219) оборудована: лабораторными измерительными приборами, осциллографами, приборами, стендами собственного изготовления, плакатами, комплектами методических указаний.
            </li>
            <li>
                Мастерская «Электроника» (ауд. 303) оснащена специализированным радиомонтажным оснащением, цифровым измерительным оборудованием, инструментами, предназначенными для проведения демонстрационных экзаменов, а также учебных занятий студентов специальности 12.02.03. В мастерской имеются также 8 компьютерных рабочих мест, с необходимым набором программ САПР, как специализированных для специальностей колледжа. Каждое рабочее место имеет выход в интернет и доступ в локальную сеть колледжа.
            </li>
            <li>
                Мастерская «Мехатроника» (ауд. 306) оснащена 5 рабочими местами для обучения студентов соответствующей специальности, а также для проведения демонстрационного экзамена. Помимо слесарных верстаков, ноутбуков, рабочие места содержат учебные промышленных роботов-манипуляторов.
            </li>
            <li>
                Лаборатория электрических машин, аппаратов и электрического привода (ауд. 308) оборудована: измерительным комплектом для автоматического измерения и обработки информации в цифровом коде, лабораторными измерительными приборами и установками, специальным макетным оборудованием собственного изготовления, плакатами, учебной и технической литературой.
            </li>
            <li>
                Комплекс лабораторий (032, 033, 034, 036, 037) - "Сварочное производство" оборудованы: источниками питания, выпрямителями, сварочными автоматами и полуавтоматами, газорезательной машиной, гильотинными ножницами, пистолетом для приварки шпилек, сварочными головками, установками дуговой сварки, газовыми металлизаторами, рентгеновским аппаратом, дефектоскопами, установкой плазменной сварки, установкой плазменной резки, машинами (точечными, шовными, газорезательными, испытательными), машиной для сварки пластиковых труб, сварочным роботом, точильно-шлифовальным станком, настольно-сверлильным станком.
            </li>
            <li>
                Кабинет (031) - "кабинет расчета и проектирования сварных соединений" оборудован: машиной для резки металлов, промышленным роботом, ультрозвуковым облучателем, сварочными редукторами, стендами, плакатами, альбомами, учебно-наглядными пособиями, учебной и технической литературой.
            </li>
        </ul>


        <h3 id="cmk" class="section-subtitle">
            ЦМК
        </h3>
        <ul class="customized">
            <li>
                ЦМК технологии радиотехники электроники и мехатроники
            </li>
            <li>
                ЦМК технологии сварки
            </li>
        </ul>


        <h3 id="feedback" class="section-subtitle">
            Связаться с нами
        </h3>
        <p>
            <b>
                Обед с 12.00 до 13.00.
            </b>
        </p>
        <h4 class="section-subtitle-small">
            Домнич Александр Юрьевич
        </h4>
        <p class="place">
            Кабинет 305
        </p>
        <p class="phone">
            (3812) 36-18-66
        </p>
        <p class="time">
            ПН-ПТ 08:00-17:00, дежурство по графику.
        </p>
        <h4 class="section-subtitle-small">
            Социальный педагог
        </h4>
        <p class="time">
            ПН-ПТ 08:00-16:20
        </p>
        <h4 class="section-subtitle-small">
            Секретарь
        </h4>
        <p class="time">
            ПН-ПТ 08:00-17:00
        </p>


    </section>
    <aside id="sidebar" class="sidebar">
        <h3 class="sidebar-title">
            Отделения
        </h3>
        <nav class="sidebar-body">
            <ul class="sidebar-links">
                <li class="sidebar-link">
                    <a href='@Url.Page("IT")'>
                        Отделение информационных технологий
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("OTM")'>
                        Отделение Технология Машиностроения
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("PPKRS")'>
                        Отделение «Программ подготовки квалифицированных рабочих служащих»
                    </a>
                </li>
                <li class="sidebar-link sidebar-link-selected">
                    <a href='@Url.Page("RTS")'>
                        Отделение радиотехники и технологии сварки
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("TAKPiE")'>
                        Отделение технологии аэрокосмического производства и электротехники
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("EiSR")'>
                        Отделение «Экономика и социальная работа»
                    </a>
                </li>
            </ul>
        </nav>
    </aside>
</div>
