@page
@model CareerGuidanceEventsModel
@{
    ViewData["Title"] = "Профориентационные мероприятия";
}

<div class="container content-page">
    <section class="content">
        <h2 class="section-title">
            Профориентационные мероприятия
        </h2>
        <img class="customized" src="~/images/applicant/careerGuidanceEvents/denOtrkitixDverei.jpg" alt="день открытых дверей 12 мая">
        <img class="customized" src="~/images/applicant/careerGuidanceEvents/plan1.jpg" alt="план мероприятий">
        <img class="customized" src="~/images/applicant/careerGuidanceEvents/plan2.jpg" alt="план мероприятий">
        <img class="customized" src="~/images/applicant/careerGuidanceEvents/plan3.jpg" alt="план мероприятий">
        <img class="customized" src="~/images/applicant/careerGuidanceEvents/plan4.jpg" alt="план мероприятий">
        
    </section>
    <aside id="sidebar" class="sidebar">
        <h3 class="sidebar-title">
            Абитуриентам
        </h3>
        <nav class="sidebar-body">
            <ul class="sidebar-links">
                <li class="sidebar-link">
                    <a href='@Url.Page("SelectionCommittee")'>
                        Приемная комиссия
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("SpecialtiesAndProfessions")'>
                        Специальности и профессии
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("TrainingCourses")'>
                        Подготовительные курсы
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("IndividualTraining")'>
                        Индивидуальное обучение
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("AdmissionRules")'>
                        Правила приема
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("QualificationIncrease")'>
                        Повышение квалификации
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("DLinkCisco")'>
                        Сертификация D-link, Cisco
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("SpecialtiesPartTimeEvening")'>
                        Специальности очно-заочного (вечернего) отделения
                    </a>
                </li>
                <li class="sidebar-link sidebar-link-selected">
                    <a href='@Url.Page("CareerGuidanceEvents")'>
                        Профориентационные мероприятия
                    </a>
                </li>
            </ul>
        </nav>
    </aside>
</div>