@page
@model DLinkCiscoModel
@{
    ViewData["Title"] = "Курс повышения квалификации по программе 'Объединенные сети'";
}

<div class="container content-page">
    <section class="content">
        <h2 class="section-title">
            Курс повышения квалификации по программе "Объединенные сети"
        </h2>
        <p>
            Обучение ведётся с использованием коммутационного оборудования фирм Cisco и D-Link
            Преподаватель - сертифицированный инструктор Cisco, преподаватель высшей категории, Адринский Илья Геннадьевич
        </p>
        <p>
            <b>Обучение</b> 4 раза в неделю, с 17.10, продолжительность курса – 192 часа.
            <br>
            <b>Стоимость</b> – 17 000 р.
            <br>
            <b>Оформление договора</b> – кабинет 141 с 8.00 до 18.00, т. 31-16-39, 31-73-55
        </p>
        <p>
            Современные компьютерные сети должны успешно передавать одновременно традиционные данные, видео и звук, а специалист настроить такую возможность. Такие сети и называют объединенными.
        </p>
        <p>
            Целью курса является освоение современного коммуникационного управляемого оборудования. Обучение проводится с использованием программно-аппаратного обеспечения и учебных материалов ведущих производителей в сфере компьютерных коммуникаций компаний D-Link и CISCO. Успешное окончание курса гарантирует получение сертификата D-Link, ваучера на промышленный сертификат CCNA.
        </p>
        <p>
            В курсе изучаются основные принципы и методы коммутации, основы статической и динамической маршрутизации IPv4 и IPv6, принципы работы протоколов RIP, OSPF, EIGRP, BGP, принципы работы протоколов STP и RSTP, устройство многоуровневых сетей c GRE, PPP, Frame Relay, особенности настройки DHCP, защиты с помощью ACL, принципы сетевой трансляции NAT, функционирования беспроводных устройств и IP-телефонии.
        </p>
        <p>
            Лабораторные и практические работы построены на основе решений заданий World Skills Russia. Предварительной подготовки не требуется.
        </p>
        <p>
            <b>
                При необходимости, обеспечиваем помощь в трудоустройстве после окончания курса в IT-компаниях Омской области.
            </b>
        </p>
        
        <h3 id="have-question" class="section-subtitle">
            По вопросам обращаться
        </h3>
        <div class="question-contact">
            <div class="question-contact-head">
                <a class="question-contact-head-img-container" href="">
                    <img src="~/images/people/Адринский Илья Геннадьевич.jpg">
                </a>
                <p class="question-contact-head-fio">Адринский Илья Геннадьевич</p>
                <p class="question-contact-head-post">
                    Преподаватель высшей категории
                </p>
            </div>
            <div class="question-contact-body">
                <p class="question-contact-body-phone">+7 (0000) 00-00-00</p>
            </div>
        </div>
    </section>
    <aside id="sidebar" class="sidebar">
        <h3 class="sidebar-title">
            Абитуриентам
        </h3>
        <nav class="sidebar-body">
            <ul class="sidebar-links">
                <li class="sidebar-link">
                    <a href='@Url.Page("SelectionCommittee")'>
                        Приемная комиссия
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("SpecialtiesAndProfessions")'>
                        Специальности и профессии
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("TrainingCourses")'>
                        Подготовительные курсы
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("IndividualTraining")'>
                        Индивидуальное обучение
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("AdmissionRules")'>
                        Правила приема
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("QualificationIncrease")'>
                        Повышение квалификации
                    </a>
                </li>
                <li class="sidebar-link sidebar-link-selected">
                    <a href='@Url.Page("DLinkCisco")'>
                        Сертификация D-link, Cisco
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("SpecialtiesPartTimeEvening")'>
                        Специальности очно-заочного (вечернего) отделения
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("CareerGuidanceEvents")'>
                        Профориентационные мероприятия
                    </a>
                </li>
            </ul>
        </nav>
    </aside>
</div>