@page
@model QualificationIncreaseModel
@{
	ViewData["Title"] = "Повышение квалификации";
}

<div class="container content-page">
	<section class="content">
		<a id="plane" class="plane" href="#sidebar"></a>
		<h2 class="section-title">
			Повышение квалификации
		</h2>

		<ul class="page-navigation">
			<li>
				<a href="#info">
					О повышении квалификации
				</a>
			</li>
			<li>
				<a href="#programs">
                    Программы профессионального обучения
				</a>
			</li>
			<li>
				<a href="#contract">
					Порядок зачисления на курсы
				</a>
			</li>
			<li>
				<a href="#have-question">
					Обратиться за помощью
				</a>
			</li>
		</ul>


		<h3 id="info" class="section-subtitle">
			О повышении квалификации
		</h3>
		<p>
			<b>Повышение квалификации</b> - один из видов дополнительного профессионального образования. Его целью является обновление теоретических и практических навыков специалистов в связи с повышением требований к уровню профессиональных знаний и необходимостью освоения современных методов решения производственных задач. Нашими партнёрами являются наши базовые предприятия, службы занятости г. Омска и Омской области, Центр профессиональной ориентации и психологической поддержки населения, Региональное Объединение Работодателей Омской области, Министерство труда и социального развития Омской области.
		</p>
		<p>
			Профессиональная подготовка, переподготовка и повышение квалификации осуществляется в случае, если ( ст. 23 п.1 Закона "О занятости населения в РФ"):
		</p>
		<ol class="customized">
			<li>
				гражданин не имеет профессии (специальности)
			</li>
			<li>
				невозможно подобрать подходящую работу из-за отсутствия у гражданина необходимой профессиональной квалификации
			</li>
			<li>
				необходимо изменить профессию (специальность, род занятий) в связи с отсутствием работы, отвечающей имеющимся у гражданина профессиональным навыкам
			</li>
			<li>
				гражданином утрачена способность к выполнению работы по прежней профессии (специальности)
			</li>
		</ol>

		
		<h3 id="programs" class="section-subtitle">
            Наименование программ профессионального обучения и дополнительного профессионального образования
		</h3>
        <table class="customized">
            <thead>
                <tr>
                    <th>
                        № п/п
                    </th>
                    <th>
                        Программы профессионального обучения и дополнительного образования
                    </th>
                    <th>
                        Стоимость обучения, руб.
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        1
                    </td>
                    <td>
                        Оператор наземных средств управления беспилотным летательным аппаратом
                        (144 час, очно)
                    </td>
                    <td>
                        30 000 – 70 000*
                    </td>
                </tr>
                <tr>
                    <td>
                        2
                    </td>
                    <td>
                        Слесарь механосборочных работ (78 час. очно, очно с применением дистанционных   образовательных технологий и электронного обучения)
                    </td>
                    <td>
                        19 000
                    </td>
                </tr>
                <tr>
                    <td>
                        3
                    </td>
                    <td>
                        Монтажник радиоэлектронной аппаратуры и приборов (72 час., очно)
                    </td>
                    <td>
                        19 000
                    </td>
                </tr>
                <tr>
                    <td>
                        4
                    </td>
                    <td>
                        Слесарь по ремонту авиадвигателей
                        (42 час., очно)
                    </td>
                    <td>
                        19 000
                    </td>
                </tr>
                <tr>
                    <td>
                        5
                    </td>
                    <td>
                        Слесарь-сборщик летательных аппаратов (72 час., очно)
                    </td>
                    <td>
                        19 000
                    </td>
                </tr>
                <tr>
                    <td>
                        6
                    </td>
                    <td>
                        Оператор станков с программным управлением (144 час., очно)
                    </td>
                    <td>
                        25 000
                    </td>
                </tr>
                <tr>
                    <td>
                        7
                    </td>
                    <td>
                        Электросварщик (144 час., очно)
                    </td>
                    <td>
                        19 000
                    </td>
                </tr>
                <tr>
                    <td>
                        8
                    </td>
                    <td>
                        Станочник широкого профиля (144 час., очно)
                    </td>
                    <td>
                        19 000
                    </td>
                </tr>
                <tr>
                    <td>
                        9
                    </td>
                    <td>
                        Электромонтер по ремонту и обслуживанию электрооборудования (144 час., очно)
                    </td>
                    <td>
                        19 000
                    </td>
                </tr>
                <tr>
                    <td>
                        10
                    </td>
                    <td>
                        Программирование на языке С# (36 час., очно)
                    </td>
                    <td>
                        19 000
                    </td>
                </tr>
                <tr>
                    <td>
                        11
                    </td>
                    <td>
                        Компьютерный дизайн (36 час., очно)
                    </td>
                    <td>
                        19 000
                    </td>
                </tr>
                <tr>
                    <td>
                        12
                    </td>
                    <td>
                        Системное администрирование (36 час., очно)
                    </td>
                    <td>
                        19 000
                    </td>
                </tr>
                <tr>
                    <td>
                        13
                    </td>
                    <td>
                        Объединенные сети (192 час., очно)
                    </td>
                    <td>
                        19 000
                    </td>
                </tr>
            </tbody>
        </table>
        <p>
            * с 01.09.2024 года
        </p>


		<h3 id="contract" class="section-subtitle">
			Порядок зачисления на курсы
		</h3>
		<ol class="customized">
			<li>
				Обратиться в кабинет 141, предоставить документ о предыдущем образовании, написать заявление на зачисление
			</li>
			<li>
				Произвести оплату за образовательные услуги по направлению, полученному в к.141 в одном из филиалов банка Плюс Банк, в направлении указаны адреса филиалов
			</li>
			<li>
				С квитанцией об оплате подойти в к. 141 и завершить оформление договора
			</li>
			<li>
				Получить в к. 141 информацию о своей учебной группе, узнать свой учебный план и график учебной работы, возможности информирования на сайте колледжа
			</li>
		</ol>


		<h3 id="have-question" class="section-subtitle">
			По вопросам обращаться
		</h3>
		<div class="question-contact">
			<div class="question-contact-head">
				<a class="question-contact-head-img-container" href="">
					<img src="~/images/people/Савин Антон Викторович.png">
				</a>
				<p class="question-contact-head-fio">Савин<br>Антон Викторович</p>
				<p class="question-contact-head-post">
					Заместитель директора, курирующий приемную кампанию
				</p>
			</div>
			<div class="question-contact-body">
				<p class="question-contact-body-address">г. Омск, ул. Ленина, 24. Каб. 227</p>
				<p class="question-contact-body-phone">(3812) 31-73-55</p>
				<p class="question-contact-body-time">ПН-ПТ 9:00-18:00</p>
			</div>
		</div>
	</section>
	<aside id="sidebar" class="sidebar">
		<h3 class="sidebar-title">
			Абитуриентам
		</h3>
		<nav class="sidebar-body">
			<ul class="sidebar-links">
				<li class="sidebar-link">
					<a href='@Url.Page("SelectionCommittee")'>
						Приемная комиссия
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("SpecialtiesAndProfessions")'>
						Специальности и профессии
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("TrainingCourses")'>
						Подготовительные курсы
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("IndividualTraining")'>
						Индивидуальное обучение
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("AdmissionRules")'>
						Правила приема
					</a>
				</li>
				<li class="sidebar-link sidebar-link-selected">
					<a href='@Url.Page("QualificationIncrease")'>
						Повышение квалификации
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("DLinkCisco")'>
						Сертификация D-link, Cisco
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("SpecialtiesPartTimeEvening")'>
						Специальности очно-заочного (вечернего) отделения
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("CareerGuidanceEvents")'>
						Профориентационные мероприятия
					</a>
				</li>
			</ul>
		</nav>
	</aside>
</div>