@page
@model QualificationIncreaseModel
@{
	ViewData["Title"] = "Повышение квалификации";
}

<div class="container content-page">
	<section class="content">
		<a id="plane" class="plane" href="#sidebar"></a>
		<h2 class="section-title">
			Повышение квалификации
		</h2>

		<ul class="page-navigation">
			<li>
				<a href="#info">
					О повышении квалицикации
				</a>
			</li>
			<li>
				<a href="#programs">
					Программы повышения квалификации
				</a>
			</li>
			<li>
				<a href="#specialities">
					Специальности
				</a>
			</li>
			<li>
				<a href="#contract">
					Порядок зачисления на курсы
				</a>
			</li>
			<li>
				<a href="#have-question">
					Обратиться за помощью
				</a>
			</li>
		</ul>


		<h3 id="info" class="section-subtitle">
			О повышении квалицикации
		</h3>
		<p>
			<b>Повышение квалификации</b> - один из видов дополнительного профессионального образования. Его целью является обновление теоретических и практических навыков специалистов в связи с повышением требований к уровню профессиональных знаний и необходимостью освоения современных методов решения производственных задач. Нашими партнёрами являются наши базовые предприятия, службы занятости г. Омска и Омской области, Центр профессиональной ориентации и психологической поддержки населения, Региональное Объединение Работодателей Омской области, Министерство труда и социального развития Омской области.
		</p>
		<p>
			Профессиональная подготовка, переподготовка и повышение квалификации осуществляется в случае, если ( ст. 23 п.1 Закона "О занятости населения в РФ"):
		</p>
		<ol class="customized">
			<li>
				гражданин не имеет профессии (специальности)
			</li>
			<li>
				невозможно подобрать подходящую работу из-за отсутствия у гражданина необходимой профессиональной квалификации
			</li>
			<li>
				необходимо изменить профессию (специальность, род занятий) в связи с отсутствием работы, отвечающей имеющимся у гражданина профессиональным навыкам
			</li>
			<li>
				гражданином утрачена способность к выполнению работы по прежней профессии (специальности)
			</li>
		</ol>

		
		<h3 id="programs" class="section-subtitle">
			Программы повышения квалификации
		</h3>
		
		

		<h3 id="specialities" class="section-subtitle">
			Специальности, по которым осуществляется повышение квалификации
		</h3>
		<p>
			В зависимости от потребностей работодателя, объема новых знаний и сроков обучения повышение квалификации может быть организовано по-разному
		</p>
		<ul class="customized">
			<li>
				<b>краткосрочное (не менее 72 часов) тематическое обучение</b> по вопросам конкретного производства. Осуществляется по месту основной работы специалистов и заканчивается сдачей соответствующего экзамена, зачета или защитой реферата
			</li>
			<li>
				<b>тематические и проблемные семинары (от 72 до 100 часов)</b> по научно-техническим, технологическим, социально-экономическим и другим проблемам, возникающим на уровне отрасли, региона, предприятия (объединения), организации или учреждения;
			</li>
			<li>
				<b>длительное (свыше 100 часов) обучение специалистов</b> в образовательном учреждении повышения квалификации для углубленного изучения актуальных проблем науки, техники, технологии, социально-экономических и других проблем по профилю профессиональной деятельности.
			</li>
		</ul>
		<p>
			При этом все дополнительные профессиональные образовательные программы разрабатываются с учетом потребностей и особых пожеланий заказчика курсов повышения квалификации, а также требований государственных образовательных стандартов к уровню подготовки специалистов по соответствующему направлению (специальности).
		</p>
		<p>
			В зависимости от количества учебных часов работнику, прошедшему повышение квалификации, выдаются следующие документы государственного образца:
		</p>
		<ul class="customized">
			<li>
				<b>удостоверение о краткосрочном повышении квалификации</b> - для лиц, прошедших обучение по программе в объеме от 72 до 100 часов
			</li>
			<li>
				<b>свидетельство о повышении квалификации</b> - для лиц, прошедших обучение по программе в объеме свыше 100 часов;
			</li>
			<li>
				<b>диплом о профессиональной переподготовке</b> - для лиц, прошедших обучение по программе в объеме свыше 500 часов.
			</li>
		</ul>
		<p>
			Продолжительность обучения варьируется от 2 недель до 9 месяцев, в зависимости от выбранного направления и программы. Обучение производится с акцентом на практическую составляющую, дифференцированно, в свободное от основной деятельности время (преимущественно в вечернее время с 17.20 до 20.30). Обучение проводится очно, часть материалов для теоретической подготовки предоставляется в электронном виде.
		</p>
		<p>
			Программы могут дорабатываться в соответствии с личными пожеланиями учащихся, но в рамках государственных стандартов.
		</p>


		<h3 id="contract" class="section-subtitle">
			Порядок зачисления на курсы
		</h3>
		<ol class="customized">
			<li>
				Обратиться в кабинет 141, предоставить документ о предыдущем образовании, написать заявление на зачисление
			</li>
			<li>
				Произвести оплату за образовательные услуги по направлению, полученному в к.141 в одном из филиалов банка Плюс Банк, в направлении указаны адреса филиалов
			</li>
			<li>
				С квитанцией об оплате подойти в к. 141 и завершить оформление договора
			</li>
			<li>
				Получить в к. 141 информацию о своей учебной группе, узнать свой учебный план и график учебной работы, возможности информирования на сайте колледжа
			</li>
		</ol>


		<h3 id="have-question" class="section-subtitle">
			По вопросам обращаться
		</h3>
		<div class="question-contact">
			<div class="question-contact-head">
				<a class="question-contact-head-img-container" href="">
					<img src="~/images/people/Савин Антон Викторович.png">
				</a>
				<p class="question-contact-head-fio">Савин<br>Антон Викторович</p>
				<p class="question-contact-head-post">
					Заместитель директора, курирующий приемную кампанию
				</p>
			</div>
			<div class="question-contact-body">
				<p class="question-contact-body-address">г. Омск, ул. Ленина, 24. Каб. 227</p>
				<p class="question-contact-body-phone">+7(3812)31-73-55</p>
				<p class="question-contact-body-time">ПН-ПТ 9:00-18:00</p>
			</div>
		</div>
	</section>
	<aside id="sidebar" class="sidebar">
		<h3 class="sidebar-title">
			Абитуриентам
		</h3>
		<nav class="sidebar-body">
			<ul class="sidebar-links">
				<li class="sidebar-link">
					<a href='@Url.Page("SelectionCommittee")'>
						Приемная комиссия
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("SpecialtiesAndProfessions")'>
						Специальности и профессии
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("TrainingCourses")'>
						Подготовительные курсы
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("IndividualTraining")'>
						Индивидуальное обучение
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("AdmissionRules")'>
						Правила приема
					</a>
				</li>
				<li class="sidebar-link sidebar-link-selected">
					<a href='@Url.Page("QualificationIncrease")'>
						Повышение квалификации
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("DLinkCisco")'>
						Сертификация D-link, Cisco
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("SpecialtiesPartTimeEvening")'>
						Специальности очно-заочного (вечернего) отделения
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("CareerGuidanceEvents")'>
						Профориентационные мероприятия
					</a>
				</li>
			</ul>
		</nav>
	</aside>
</div>