@page
@model SpecialtiesPartTimeEveningModel
@{
	ViewData["Title"] = "Специальности очно-заочного (вечернего) отделения";
}

<div class="container content-page">
	<section class="content">
		<a id="plane" class="plane" href="#sidebar"></a>
		<h2 class="section-title">
			Специальности очно-заочного (вечернего) отделения
		</h2>

		<ul class="page-navigation">
			<li>
				<a href="#specialities">
					Перечень специальностей
				</a>
			</li>
			<li>
				<a href="#study">
					Обучение
				</a>
			</li>
			<li>
				<a href="#work">
					Дальнейшая работа
				</a>
			</li>
			<li>
				<a href="#have-question">
					Обратиться за помощью
				</a>
			</li>
		</ul>


		<h3 id="specialities" class="section-subtitle">
			Перечень специальностей
		</h3>
		<p>
			Сегодня очно-заочное (вечернее) отделение колледжа готовит специалистов среднего профессионального образования по двум специальностям:
		</p>
		<ul class="customized">
			<li>
				15.02.08 (151901) "Технология машиностроения"
			</li>
			<li>
				15.02.08 (151901) Технология машиностроения (техник)
			</li>
		</ul>

		
		<h3 id="study" class="section-subtitle">
			Обучение
		</h3>
		<p>
			Отделение ведет прием без экзамнов на основе положения о сроках приема на очно-заочное отделение (обращаться в приемную комиссию). Обучение проводится по вечерней и заочной формам обучения. Если работа студента связана с командировками и нет возможности посещать занятия, Вам предложат обучения по заочной форме. Для этого на сайте колледжа размещены методические материалы - рабочие программы, календарно-тематические планы, материалы базового контроля знаний по дисциплинам, изучаемым в соответствии с требованиями ФГОС. Данные вопросы решаются с заведующей очно-заочного (вечернего) отделения - Зяблицевой Еленой Игоревной. По окончании обучения Государственной квалификационной комиссией присваивается квалификация:  техник, с выдачей диплома установленного образца.
		</p>
		<p>
			<b>Образовательная база приема</b> - На базе среднего общего образования
			<br>
			<b>Наименование квалификации базовой подготовки</b> - техник
			<br>
			<b>Нормативный срок обучения</b> - 3 года 10 месяцев
		</p>
		<p>
			При успешном приобретении производственного опыта, совершенствовании знаний и умений, обязателен карьерный рост и повышение социального статуса.
		</p>
		<p>
			Изучают процесс изготовления деталей от проектирования до их практической реализации. Специалисты  востребованы  в качестве технологов механической обработки на станках с ЧПУ, станочников универсального оборудования, конструкторов, программистов по проектированию управляющих программ для станков с ЧПУ, наладчиков станков с ЧПУ, обрабатывающих центров, контролеров и мастеров производственных участков, а так же на  должностях среднего руководящего звена. Студенты данной специальности осваивают процесс изготовления деталей от проектирования до их практической реализации, используя при этом современные компьютерные технологии и технологическое оборудование. После  прохождения образовательной программы, специалист способен успешно выполнять профессиональные задачи и осуществлять основные виды профессиональной деятельности.
		</p>
	 

		<h3 id="work" class="section-subtitle">
			Дальнейшая работа
		</h3>
		<p>
			Квалификация выпускника позволяет работать в качестве:
		</p>
		<ul class="customized">
			<li>
				Техника-технолога
			</li>
			<li>
				Техника-конструктора
			</li>
			<li>
				Механика участка, цеха
			</li>
			<li>
				Мастера
			</li>
			<li>
				Контрольного мастера
			</li>
			<li>
				Оператора станков с программным управлением
			</li>
			<li>
				Токаря
			</li>
			<li>
				Фрезеровщика
			</li>
			<li>
				Шлифовщика
			</li>
			<li>
				Контролёра
			</li>
			<li>
				Наладчика технологического оборудования
			</li>
			<li>
				Наладчика автоматических линий
			</li>
			<li>
				Слесаря по ремонту технологического оборудования
			</li>
		</ul>


		<h3 id="have-question" class="section-subtitle">
			По вопросам обращаться
		</h3>
		<div class="question-contact">
			<div class="question-contact-head">
				<a class="question-contact-head-img-container" href="">
					<img src="~/images/basic/unnamed.jpg">
				</a>
				<p class="question-contact-head-fio">Пономарёв<br>Сергей Викторович</p>
				<p class="question-contact-head-post">
					Заведующий очно-заочного (вечернего) отделения
				</p>
			</div>
			<div class="question-contact-body">
				<p class="question-contact-body-phone">+7 908 105-64-22</p>
			</div>
		</div>
		
	</section>
	<aside id="sidebar" class="sidebar">
		<h3 class="sidebar-title">
			Абитуриентам
		</h3>
		<nav class="sidebar-body">
			<ul class="sidebar-links">
				<li class="sidebar-link">
					<a href='@Url.Page("SelectionCommittee")'>
						Приемная комиссия
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("SpecialtiesAndProfessions")'>
						Специальности и профессии
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("TrainingCourses")'>
						Подготовительные курсы
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("IndividualTraining")'>
						Индивидуальное обучение
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("AdmissionRules")'>
						Правила приема
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("QualificationIncrease")'>
						Повышение квалификации
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("DLinkCisco")'>
						Сертификация D-link, Cisco
					</a>
				</li>
				<li class="sidebar-link sidebar-link-selected">
					<a href='@Url.Page("SpecialtiesPartTimeEvening")'>
						Специальности очно-заочного (вечернего) отделения
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("CareerGuidanceEvents")'>
						Профориентационные мероприятия
					</a>
				</li>
			</ul>
		</nav>
	</aside>
</div>