@page
@model SpecialtiesAndProfessionsModel
@{
	ViewData["Title"] = "Специальности и профессии";
}

<link rel="stylesheet" href="~/css/applicant/specialtiesAndProfessions.css" asp-append-version="true">

<div class="container content-page">
	<section class="content">
		<a id="plane" class="plane" href="#sidebar"></a>
		<h2 class="section-title">
			Специальности и профессии
		</h2>

		<ul class="page-navigation">
			<li>
				<a href="#it">
					ИТ
				</a>
			</li>
			<li>
				<a href="#economic">
					Экономика
				</a>
			</li>
			<li>
				<a href="#mechanic">
					Механика и работа с техникой
				</a>
			</li>
			<li>
				<a href="#aviation">
					Авиация
				</a>
			</li>
			<li>
				<a href="#another">
					Остальные направления
				</a>
			</li>
		</ul>


		<h3 id="it" class="section-subtitle">
			ИТ
		</h3>
		<ul class="specialities-list">
			<li class="specialities-item">
				<a href="~/documents/applicant/specialtiesAndProfessions/09.02.07.pdf">
					<img src="~/images/applicant/specialtiesAndProfessions/09.02.07IR.jpg" alt="">
					<div class="specialities-item-text">
						<span class="specialities-item-text-code">
							09.02.07
						</span>
						<span class="specialities-item-text-name">
							Информационные системы и программирование
						</span>
					</div>
				</a>
			</li>
			<li class="specialities-item">
				<a href="~/documents/applicant/specialtiesAndProfessions/09.02.06.pdf">
					<img src="~/images/applicant/specialtiesAndProfessions/09.02.06.jpg" alt="">
					<div class="specialities-item-text">
						<span class="specialities-item-text-code">
							09.02.06
						</span>
						<span class="specialities-item-text-name">
							Сетевое и системное администрирование
						</span>
					</div>
				</a>
			</li>
			<li class="specialities-item">
				<a href="~/documents/applicant/specialtiesAndProfessions/10.02.05.pdf">
					<img src="~/images/applicant/specialtiesAndProfessions/10.02.05.jpg" alt="">
					<div class="specialities-item-text">
						<span class="specialities-item-text-code">
							10.02.05
						</span>
						<span class="specialities-item-text-name">
							Обеспечение информационной безопасности автоматизированных систем
						</span>
					</div>
				</a>
			</li>
			<li class="specialities-item">
				<a href="~/documents/applicant/specialtiesAndProfessions/15.02.10.pdf">
					<img src="~/images/applicant/specialtiesAndProfessions/15.02.10.jpg" alt="">
					<div class="specialities-item-text">
						<span class="specialities-item-text-code">
							15.02.10
						</span>
						<span class="specialities-item-text-name">
							Мехатроника и мобильная робототехника
						</span>
					</div>
				</a>
			</li>
			<li class="specialities-item">
				<a href="~/documents/applicant/specialtiesAndProfessions/54.01.20.pdf">
					<img src="~/images/applicant/specialtiesAndProfessions/54.01.20.jpg" alt="">
					<div class="specialities-item-text">
						<span class="specialities-item-text-code">
							54.01.20
						</span>
						<span class="specialities-item-text-name">
							Графический дизайнер
						</span>
					</div>
				</a>
			</li>
		</ul>


		<h3 id="economic" class="section-subtitle">
			Экономика
		</h3>
		<ul class="specialities-list">
			<li class="specialities-item">
				<a href="~/documents/applicant/specialtiesAndProfessions/38.02.01.pdf">
					<img src="~/images/applicant/specialtiesAndProfessions/38.02.01.jpg" alt="">
					<div class="specialities-item-text">
						<span class="specialities-item-text-code">
							38.02.01
						</span>
						<span class="specialities-item-text-name">
							Экономика и бухгалтерский учет (по отраслям)
						</span>
					</div>
				</a>
			</li>
			<li class="specialities-item">
				<a href="~/documents/applicant/specialtiesAndProfessions/38.02.03.pdf">
					<img src="~/images/applicant/specialtiesAndProfessions/38.02.03.jpg" alt="">
					<div class="specialities-item-text">
						<span class="specialities-item-text-code">
							38.02.03
						</span>
						<span class="specialities-item-text-name">
							Операционная деятельность в логистике
						</span>
					</div>
				</a>
			</li>
		</ul>


		<h3 id="mechanic" class="section-subtitle">
			Механика и работа с техникой
		</h3>
		<ul class="specialities-list">
			<li class="specialities-item">
				<a href="~/documents/applicant/specialtiesAndProfessions/15.02.16.pdf">
					<img src="~/images/applicant/specialtiesAndProfessions/15.02.16.jpg" alt="">
					<div class="specialities-item-text">
						<span class="specialities-item-text-code">
							15.02.16
						</span>
						<span class="specialities-item-text-name">
							Технология машиностроения
						</span>
					</div>
				</a>
			</li>
			<li class="specialities-item">
				<a href="~/documents/applicant/specialtiesAndProfessions/13.02.11.pdf">
					<img src="~/images/applicant/specialtiesAndProfessions/13.02.11.jpg" alt="">
					<div class="specialities-item-text">
						<span class="specialities-item-text-code">
							13.02.11
						</span>
						<span class="specialities-item-text-name">
							Техническая эксплуатация и обслуживание электрического и электромеханического оборудования
						</span>
					</div>
				</a>
			</li>
			<li class="specialities-item">
				<a href="~/documents/applicant/specialtiesAndProfessions/12.02.03.pdf">
					<img src="~/images/applicant/specialtiesAndProfessions/12.02.03.jpg" alt="">
					<div class="specialities-item-text">
						<span class="specialities-item-text-code">
							12.02.03
						</span>
						<span class="specialities-item-text-name">
							 Радиоэлектронные приборные устройства
						</span>
					</div>
				</a>
			</li>
			<li class="specialities-item">
				<a href="~/documents/applicant/specialtiesAndProfessions/22.02.06.pdf">
					<img src="~/images/applicant/specialtiesAndProfessions/22.02.06.jpg" alt="">
					<div class="specialities-item-text">
						<span class="specialities-item-text-code">
							22.02.06
						</span>
						<span class="specialities-item-text-name">
							Сварочное производство
						</span>
					</div>
				</a>
			</li>
			<li class="specialities-item">
				<a href="~/documents/applicant/specialtiesAndProfessions/15.01.29.pdf">
					<img src="~/images/applicant/specialtiesAndProfessions/15.01.29.jpg" alt="">
					<div class="specialities-item-text">
						<span class="specialities-item-text-code">
							15.01.29
						</span>
						<span class="specialities-item-text-name">
							Контролёр станочных и слесарных работ
						</span>
					</div>
				</a>
			</li>
			<li class="specialities-item">
				<a href="~/documents/applicant/specialtiesAndProfessions/15.01.32.pdf">
					<img src="~/images/applicant/specialtiesAndProfessions/15.01.32.jpg" alt="">
					<div class="specialities-item-text">
						<span class="specialities-item-text-code">
							15.01.32
						</span>
						<span class="specialities-item-text-name">
							Оператор станков с программным управлением
						</span>
					</div>
				</a>
			</li>
			<li class="specialities-item">
				<a href="~/documents/applicant/specialtiesAndProfessions/23.01.08.pdf">
					<img src="~/images/applicant/specialtiesAndProfessions/23.01.08.jpg" alt="">
					<div class="specialities-item-text">
						<span class="specialities-item-text-code">
							23.01.08
						</span>
						<span class="specialities-item-text-name">
							Слесарь по ремонту строительных машин
						</span>
					</div>
				</a>
			</li>
			<li class="specialities-item">
				<a href="~/documents/applicant/specialtiesAndProfessions/11.01.01.pdf">
					<img src="~/images/applicant/specialtiesAndProfessions/11.01.01.jpg" alt="">
					<div class="specialities-item-text">
						<span class="specialities-item-text-code">
							11.01.01
						</span>
						<span class="specialities-item-text-name">
							Монтажник радиоэлектронной аппаратуры и приборов
						</span>
					</div>
				</a>
			</li>
			<li class="specialities-item">
				<a href="~/documents/applicant/specialtiesAndProfessions/13.01.10.pdf">
					<img src="~/images/applicant/specialtiesAndProfessions/13.01.10.jpg" alt="">
					<div class="specialities-item-text">
						<span class="specialities-item-text-code">
							13.01.10
						</span>
						<span class="specialities-item-text-name">
							Электромонтер по ремонту и обслуживанию электрооборудования
						</span>
					</div>
				</a>
			</li>
			<li class="specialities-item">
				<a href="~/documents/applicant/specialtiesAndProfessions/15.01.05.pdf">
					<img src="~/images/applicant/specialtiesAndProfessions/15.01.05.jpg" alt="">
					<div class="specialities-item-text">
						<span class="specialities-item-text-code">
							15.01.05
						</span>
						<span class="specialities-item-text-name">
							Сварщик (ручной и частично механизированной сварки наплавки)
						</span>
					</div>
				</a>
			</li>
		</ul>


		<h3 id="aviation" class="section-subtitle">
			Авиация
		</h3>
		<ul class="specialities-list">
			<li class="specialities-item">
				<a href="~/documents/applicant/specialtiesAndProfessions/25.02.08.pdf">
					<img src="~/images/applicant/specialtiesAndProfessions/25.02.08.jpg" alt="">
					<div class="specialities-item-text">
						<span class="specialities-item-text-code">
							25.02.08
						</span>
						<span class="specialities-item-text-name">
							Эксплуатация беспилотных авиационных систем
						</span>
					</div>
				</a>
			</li>
			<li class="specialities-item">
				<a href="~/documents/applicant/specialtiesAndProfessions/24.02.02.pdf">
					<img src="~/images/applicant/specialtiesAndProfessions/24.02.02.jpg" alt="">
					<div class="specialities-item-text">
						<span class="specialities-item-text-code">
							24.02.02
						</span>
						<span class="specialities-item-text-name">
							Производство авиационных двигателей
						</span>
					</div>
				</a>
			</li>
			<li class="specialities-item">
				<a href="~/documents/applicant/specialtiesAndProfessions/25.02.07.pdf">
					<img src="~/images/applicant/specialtiesAndProfessions/25.02.07.jpg" alt="">
					<div class="specialities-item-text">
						<span class="specialities-item-text-code">
							25.02.07
						</span>
						<span class="specialities-item-text-name">
							Техническое обслуживание авиационных двигателей
						</span>
					</div>
				</a>
			</li>
			<li class="specialities-item">
				<a href="~/documents/applicant/specialtiesAndProfessions/24.02.01.pdf">
					<img src="~/images/applicant/specialtiesAndProfessions/24.02.01.jpg" alt="">
					<div class="specialities-item-text">
						<span class="specialities-item-text-code">
							24.02.01
						</span>
						<span class="specialities-item-text-name">
							Производство летательных аппаратов
						</span>
					</div>
				</a>
			</li>
		</ul>


		<h3 id="another" class="section-subtitle">
			Остальные направления
		</h3>
		<ul class="specialities-list">
			<li class="specialities-item">
				<a href="~/documents/applicant/specialtiesAndProfessions/39.02.01.pdf">
					<img src="~/images/applicant/specialtiesAndProfessions/39.02.01.jpg" alt="">
					<div class="specialities-item-text">
						<span class="specialities-item-text-code">
							39.02.01
						</span>
						<span class="specialities-item-text-name">
							Социальная работа
						</span>
					</div>
				</a>
			</li>
			<li class="specialities-item">
				<a href="~/documents/applicant/specialtiesAndProfessions/43.01.09.pdf">
					<img src="~/images/applicant/specialtiesAndProfessions/43.01.09.jpg" alt="">
					<div class="specialities-item-text">
						<span class="specialities-item-text-code">
							43.01.09
						</span>
						<span class="specialities-item-text-name">
							Повар, кондитер
						</span>
					</div>
				</a>
			</li>
		</ul>
	</section>
	<aside id="sidebar" class="sidebar">
		<h3 class="sidebar-title">
			Абитуриентам
		</h3>
		<nav class="sidebar-body">
			<ul class="sidebar-links">
				<li class="sidebar-link">
					<a href='@Url.Page("SelectionCommittee")'>
						Приемная комиссия
					</a>
				</li>
				<li class="sidebar-link sidebar-link-selected">
					<a href='@Url.Page("SpecialtiesAndProfessions")'>
						Специальности и профессии
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("TrainingCourses")'>
						Подготовительные курсы
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("IndividualTraining")'>
						Индивидуальное обучение
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("AdmissionRules")'>
						Правила приема
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("QualificationIncrease")'>
						Повышение квалификации
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("DLinkCisco")'>
						Сертификация D-link, Cisco
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("SpecialtiesPartTimeEvening")'>
						Специальности очно-заочного (вечернего) отделения
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("CareerGuidanceEvents")'>
						Профориентационные мероприятия
					</a>
				</li>
			</ul>
		</nav>
	</aside>
</div>