@page
@model AboutModel
@{
    ViewData["Title"] = "О профессионалитете";
}

<div class="container content-page">
    <section class="content">
        <h2 class="section-title">
            О профессионалитете
        </h2>

        <ul class="page-navigation">
            <li>
                <a href="#info">
                    Что такое профессионалитет?
                </a>
            </li>
            <li>
                <a href="#for-student">
                    Профессионалитет для студента
                </a>
            </li>
            <li>
                <a href="#mechanical-engineering">
                    Кластер «Машиностроение»
                </a>
            </li>
            <li>
                <a href="#interesting">
                    Профессионалитет - это интересно!
                </a>
            </li>
        </ul>


        <h3 id="info" class="section-subtitle">
            «Профессионалитет» – ты в хорошей компании!
        </h3>
        <p>
            Профессионалитет — это образовательная программа в колледжах, которая позволит тебе стать высококвалифицированным специалистом на ведущем предприятии твоего региона, страны!
        </p>
        <p>
            Не упустите свой шанс быть в хорошей компании!
        </p>
        <div style="display: flex; flex-wrap: wrap; gap: 25px;">
            <img class="customized" style="max-width: min(100%, 300px);" src="~/images/projectsAndEvents/list/professionalitet.png" alt="">
            <iframe style="display: block; min-width: min(100%, 600px); height: 320px; margin: 10px auto; border-radius: 10px;" src="https://www.youtube.com/embed/t307IXk_PaY?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
        </div>


        <h3 id="for-student" class="section-subtitle">
            «Профессионалитет» для студента – это…
        </h3>
        <ul class="customized">
            <li>
                Актуальная рабочая профессия – в короткий срок
            </li>
            <li>
                Учеба по-новому – с упором на практику и IT
            </li>
            <li>
                Современные мастерские и высокотехнологическое оборудование, соответствующее будущему рабочему месту
            </li>
            <li>
                Стажировки и трудоустройство в ведущие компании региона, страны
            </li>
            <li>
                Компетентные преподаватели с практическим опытом
            </li>
            <li>
                Программы обучения, разработанные совместно с работодателями
            </li>
        </ul>
        <p>
            Профессионалитет меняет не только программы обучения студентов колледжей, но и привлекает работодателей к образовательному процессу. Министерство просвещения РФ дает предприятиям возможность формировать программы под свои запросы, быть соучредителем процесса образования и, таким образом, самим участвовать в подготовке кадров.
        </p>


        <h3 id="mechanical-engineering" class="section-subtitle">
            Кластер «Машиностроение»
        </h3>
        <p>
            1 января 2023 года в Омской области создан образовательно-производственный центр «На Космическом» по отрасли «Машиностроение» на базе БПОУ «Омский авиационный колледж им. Н.Е. Жуковского», который является региональным координатором Федерального проекта «Профессионалитет».
        </p>
        <p>
            Большое внимание в Омской области уделяется популяризации федерального проекта «Профессионалитет». В течение года реализуется комплекс профориентационных мероприятий во всех профессиональных образовательных организациях кластера «Машиностроение».
        </p>
        <p>
            Инициатор создания кластера «Машиностроение» - Правительство Омской области.
        </p>
        <iframe style="display: block; min-width: min(100%, 600px); height: 320px; margin: 10px auto; border-radius: 10px;" src="https://www.youtube.com/embed/HkT29j6oubc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
        <h4 class="section-subtitle-small">
            Участники кластера
        </h4>
        <ul class="customized">
            <li>
                АО «Омский научно-исследовательский институт приборостроения»
            </li>
            <li>
                АО «ГКНПЦ им. М.В. Хруничева»
            </li>
            <li>
                АО «Центральное конструкторское бюро автоматики»
            </li>
            <li>
                АО «Омский электромеханический завод»
            </li>
            <li>
                АО «Омсктрансмаш»
            </li>
            <li>
                БПОУ «Омский многопрофильный техникум»
            </li>
            <li>
                БПОУ «Омский государственный колледж управления и профессиональных технологий»
            </li>
            <li>
                БПОУ «Сибирский профессиональный колледж»
            </li>
            <li>
                БПОУ «Омский техникум строительства и лесного хозяйства»
            </li>
            <li>
                БПОУ «Омский промышленно-экономический колледж»
            </li>
            <li>
                БПОУ «Омский монтажный техникум»
            </li>
            <li>
                БПОУ «Тарский индустриально-педагогический колледж»
            </li>
        </ul>
        <h4 class="section-subtitle-small">
            Программы подготовки специалистов среднего звена в Омавиат
        </h4>
        <table class="customized">
            <thead>
                <tr>
                    <th rowspan="2">
                        Код, специальность
                    </th>
                    <th rowspan="2">
                        Квалификация
                    </th>
                    <th rowspan="2">
                        Нормативный срок обучения на базе основного общего образования (9кл)
                    </th>
                    <th colspan="2">
                        Набор на
                    </th>
                </tr>
                <tr>
                    <th>
                        бюджет (чел.)
                    </th>
                    <th>
                        внебюджет (чел.)
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        09.02.07
                        <br>
                        Информационные системы и программирование
                    </td>
                    <td>
                        Программист
                    </td>
                    <td>
                        3г 7мес (9кл)
                    </td>
                    <td>
                        50
                    </td>
                    <td>
                        -
                    </td>
                </tr>
                <tr>
                    <td>
                        10.02.05
                        <br>
                        Обеспечение информационной безопасности автоматизированных систем
                    </td>
                    <td>
                        Техник по защите информации
                    </td>
                    <td>
                        3г 6мес
                    </td>
                    <td>
                        25
                    </td>
                    <td>
                        25
                    </td>
                </tr>
                <tr>
                    <td>
                        15.02.16
                        <br>
                        Технология машиностроения
                    </td>
                    <td>
                        Техник
                    </td>
                    <td>
                        3г 7мес
                    </td>
                    <td>
                        75
                    </td>
                    <td>
                        -
                    </td>
                </tr>
                <tr>
                    <td>
                        13.02.11
                        <br>
                        Техническая эксплуатация и обслуживание  электрического и электромеханического  оборудования (по отраслям)
                    </td>
                    <td>
                        Техник
                    </td>
                    <td>
                        3г 4мес
                    </td>
                    <td>
                        25
                    </td>
                    <td>
                        -
                    </td>
                </tr>
                <tr>
                    <td>
                        12.02.03
                        <br>
                        Радиоэлектронные  приборные устройства
                    </td>
                    <td>
                        Техник
                    </td>
                    <td>
                        3г 7мес
                    </td>
                    <td>
                        50
                    </td>
                    <td>
                        -
                    </td>
                </tr>
                <tr>
                    <td>
                        22.02.06
                        <br>
                        Сварочное производство
                    </td>
                    <td>
                        Техник
                    </td>
                    <td>
                        3г 6мес
                    </td>
                    <td>
                        50
                    </td>
                    <td>
                        -
                    </td>
                </tr>
            </tbody>
        </table>
        <h4 class="section-subtitle-small">
            Программы подготовки квалифицированных рабочих и служащих
        </h4>
        <table class="customized">
            <thead>
                <tr>
                    <th rowspan="2">
                        Код, профессия
                    </th>
                    <th rowspan="2">
                        Квалификация
                    </th>
                    <th rowspan="2">
                        Нормативный срок обучения на базе 9 кл /11 кл
                    </th>
                    <th colspan="2">
                        Набор на
                    </th>
                </tr>
                <tr>
                    <th>
                        бюджет (чел.)
                    </th>
                    <th>
                        внебюджет (чел.)
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        15.01.29
                        <br>
                        Контролёр станочных и слесарных работ
                    </td>
                    <td>
                        Контролер станочных и слесарных работ
                    </td>
                    <td>
                        2г 10мес
                    </td>
                    <td>
                        25
                    </td>
                    <td>
                        -
                    </td>
                </tr>
                <tr>
                    <td>
                        15.01.32
                        <br>
                        Оператор станков с программным управлением
                    </td>
                    <td>
                        Оператор станков с программным управлением – Станочник широкого профиля
                    </td>
                    <td>
                        2г 10мес
                    </td>
                    <td>
                        25
                    </td>
                    <td>
                        -
                    </td>
                </tr>
                <tr>
                    <td>
                        11.01.01
                        <br>
                        Монтажник радиоэлектронной аппаратуры и приборов
                    </td>
                    <td>
                        Монтажник радиоэлектронной аппаратуры и приборов
                    </td>
                    <td>
                        2г 10мес
                    </td>
                    <td>
                        25
                    </td>
                    <td>
                        -
                    </td>
                </tr>
                <tr>
                    <td>
                        13.01.10
                        <br>
                        Электромонтер по ремонту и обслуживанию электрооборудования (по отраслям)
                    </td>
                    <td>
                        Электромонтер по ремонту и обслуживанию электрооборудования
                    </td>
                    <td>
                        2г 10мес
                    </td>
                    <td>
                        25
                    </td>
                    <td>
                        -
                    </td>
                </tr>
                <tr>
                    <td>
                        15.01.05
                        <br>
                        Сварщик (ручной и частично механизированной сварки наплавки)
                    </td>
                    <td>
                        Сварщик ручной дуговой сварки плавящимся покрытым электродом –Газосварщик
                    </td>
                    <td>
                        2г 10мес
                    </td>
                    <td>
                        25
                    </td>
                    <td>
                        -
                    </td>
                </tr>
            </tbody>
        </table>


        <h3 id="interesting" class="section-subtitle">
            «Профессионалитет» - это интересно!
        </h3>
        <ul class="customized">
            <li>
                Мастер-классы
            </li>
            <li>
                Экскурсии на предприятия
            </li>
            <li>
                Родительские собрания
            </li>
            <li>
                Классные часы
            </li>
            <li>
                Профессиональные пробы
            </li>
            <li>
                Дни открытых дверей
            </li>
        </ul>
        <strong>
            «Профессионалитет» учит думать своими руками!
        </strong>
    </section>
    <aside id="sidebar" class="sidebar">
        <h3 class="sidebar-title">
            Профессионалитет
        </h3>
        <nav class="sidebar-body">
            <ul class="sidebar-links">
                <li class="sidebar-link sidebar-link-selected">
                    <a href='@Url.Page("About")'>
                        О профессионалитете
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("Specialities")'>
                        Перечень специальностей
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("Partners")'>
                        Партнеры проекта
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("ManagementCompany")'>
                        Управляющая компания
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href=''>
                        Полезные ссылки
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("RepairProgress")'>
                        Ход ремонтных работ
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href=''>
                        Правила приема
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href=''>
                        Новости проекта
                    </a>
                </li>
            </ul>
        </nav>
    </aside>
</div>