@page
@model ManagementCompanyModel
@{
    ViewData["Title"] = "Управляющая компания";
}


<div class="container content-page">
    <section class="content">
        <h2 class="section-title">
            Управляющая компания
        </h2>

        <ul class="documents-list">
            <li class="document-item">
                <div class="document-item-head">
                    <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/programaDeitelnostiCentra.pdf">
                    </a>
                </div>
                <div class="document-item-body">
                    Программа деятельности центра
                </div>
            </li>
            <li class="document-item">
                <div class="document-item-head">
                    <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/soglashenie.pdf">
                    </a>
                </div>
                <div class="document-item-body">
                    Соглашение
                </div>
            </li>
            <li class="document-item">
                <div class="document-item-head">
                    <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/pologeniePoUK.pdf">
                    </a>
                </div>
                <div class="document-item-body">
                    Положение по УК
                </div>
            </li>
            <li class="document-item">
                <div class="document-item-head">
                    <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/planiRabotUK.pdf">
                    </a>
                </div>
                <div class="document-item-body">
                    План работы УК
                </div>
            </li>
        </ul>

        <h4 class="section-subtitle-small">
            Председатель Управляющей компании
        </h4>
        <p>
            Кольцов Александр Германович, директор БПОУ "Омский авиационный колледж имени Н.Е. Жуковского"
        </p>
        <h4 class="section-subtitle-small">
            Секретарь Управляющей компании
        </h4>
        <p>
            Навальный Михаил Евгеньевич, помощник директора БПОУ "Омский авиационный колледж имени Н.Е. Жуковского"
        </p>
        <h4 class="section-subtitle-small">
            Заместители председателя Управляющей компании
        </h4>
        <ul class="customized">
            <li>
                Лукьянов Игорь Вячеславович, первый заместитель Министра промышленности и научно-технического развития Омской области
            </li>
        </ul>
        <h4 class="section-subtitle-small">
            Члены управляющей компании
        </h4>
        <ul class="customized">
            <li>
                Варочко Алексей Григорьевич, генеральный директор АО "ГКНПЦ им. М.В. Хруничева"
            </li>
            <li>
                Григорьева Алена Валентиновна, генеральный директор АО "Омский ЭМЗ"
            </li>
            <li>
                Березовский Владимир Александрович, генеральный директор АО "ОНИИП"
            </li>
            <li>
                Беляев Александр Николаевич, генеральный директор ООО "НПО "Мир"
            </li>
            <li>
                Ивашкин Андрей Николаевич, генеральный директор АО "ЦКБА"
            </li>
            <li>
                Ковалев Василий Александрович, генеральный директор АО "Омсктрансмаш"
            </li>
            <li>
                Сафина Ольга Валерьевна, директор БПОУ "Омский многопрофильный техникум"
            </li>
            <li>
                Доржу Лариса Анатольевна, директор БПОУ "Омский государственный колледж управления и профессиональных технологий"
            </li>
            <li>
                Берестовский Александр Михайлович, директор БПОУ "Тарский индустриально-педагогический колледж"
            </li>
            <li>
                Шевченко Наталья Алексеевна ИО директора БПОу "Сибирский профессиональный колледж"
            </li>
            <li>
                Коровин Сергей Викторович, директор БПОУ "Омский промышленно-экономический колледж"
            </li>
            <li>
                Заверуха Павел Николаевич, директор БПОУ "Омский монтажный техникум"
            </li>
            <li>
                Романенко Александр Викторович, директор БПОУ "Омский техникум строительства и лесного хозяйства"
            </li>
        </ul>


    </section>
    <aside id="sidebar" class="sidebar">
        <h3 class="sidebar-title">
            Профессионалитет
        </h3>
        <nav class="sidebar-body">
            <ul class="sidebar-links">
                <li class="sidebar-link">
                    <a href='@Url.Page("About")'>
                        О профессионалитете
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("Specialities")'>
                        Специальности
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("OPOPP")'>
                        ОПОП-П
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("Partners")'>
                        Партнеры
                    </a>
                </li>
                <li class="sidebar-link sidebar-link-selected">
                    <a href='@Url.Page("ManagementCompany")'>
                        Управляющая компания
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("RepairProgress")'>
                        Ход ремонтных работ
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("/applicant/AdmissionRules")'>
                        Правила приема
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("ProjectNews")'>
                        Новости проекта
                    </a>
                </li>
            </ul>
        </nav>
    </aside>
</div>