@page
@model OPOPPModel
@{
	ViewData["Title"] = "Основные профессиональные образовательные программы «Профессионалитет»";
}

<div class="container content-page">
	<section class="content">
		<a id="plane" class="plane" href="#sidebar"></a>
		<h2 class="section-title">
			Основные профессиональные образовательные программы «Профессионалитет»
		</h2>


		<div class="accordions-list">
			<div class="accordion">
				<div class="accordion-head">
					09.02.07 Информационные системы и программирование
				</div>
				<div class="accordion-body">
                    <h4 class="accordion-title">
                        2024 год
                    </h4>
                    <ul class="documents-list">
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2024/">
                                </a>
                            </div>
                            <div class="document-item-body">
                                ОПОП-П
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2024/">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Приложение 1
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2024/">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Приложение 2
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2024/">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Приложение 3
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2024/">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Приложение 4
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2024/">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Приложение 5
                            </div>
                        </li>
                    </ul>
                    <h4 class="accordion-title">
                        2023 год
                    </h4>
                    <ul class="documents-list">
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2023/09.02.07/50_09.02.07_ОПОП-П.pdf">
								</a>
							</div>
							<div class="document-item-body">
								ОПОП-П
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2023/09.02.07/Приложение 1_09.02.07_Программист.docx">
								</a>
							</div>
							<div class="document-item-body">
								Приложение 1
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2023/09.02.07/50_Приложение 2_09.02.07.docx">
								</a>
							</div>
							<div class="document-item-body">
								Приложение 2
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2023/09.02.07//50_Приложение 3_09.02.07.docx">
								</a>
							</div>
							<div class="document-item-body">
								Приложение 3
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="">
								</a>
							</div>
							<div class="document-item-body">
								Приложение 4
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2023/09.02.07/Приложение 5_09.02.07.docx">
								</a>
							</div>
							<div class="document-item-body">
								Приложение 5
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2023/09.02.07/Приложение 6_09.02.07.docx">
								</a>
							</div>
							<div class="document-item-body">
								Приложение 6
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="accordion">
				<div class="accordion-head">
					10.02.05 Обеспечение информационной безопасности автоматизированных систем
				</div>
				<div class="accordion-body">
                    <h4 class="accordion-title">
                        2024 год
                    </h4>
                    <ul class="documents-list">
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2024/">
                                </a>
                            </div>
                            <div class="document-item-body">
                                ОПОП-П
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2024/">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Приложение 1
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2024/">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Приложение 2
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2024/">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Приложение 3
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2024/">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Приложение 4
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2024/">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Приложение 5
                            </div>
                        </li>
                    </ul>
                    <h4 class="accordion-title">
                        2023 год
                    </h4>
					<ul class="documents-list">
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2023/10.02.05/50_10.02.05_ОПОП-П.pdf">
								</a>
							</div>
							<div class="document-item-body">
								ОПОП-П
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2023/10.02.05/Приложение 1_10.02.05.doc">
								</a>
							</div>
							<div class="document-item-body">
								Приложение 1
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2023/10.02.05/50_Приложение 2_10.02.05.docx">
								</a>
							</div>
							<div class="document-item-body">
								Приложение 2
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2023/10.02.05//50_Приложение 3_10.02.05.docx">
								</a>
							</div>
							<div class="document-item-body">
								Приложение 3
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="">
								</a>
							</div>
							<div class="document-item-body">
								Приложение 4
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2023/10.02.05/Приложение 5_10.02.05.docx">
								</a>
							</div>
							<div class="document-item-body">
								Приложение 5
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2023/10.02.05/Приложение 6_10.02.05.docx">
								</a>
							</div>
							<div class="document-item-body">
								Приложение 6
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="accordion">
				<div class="accordion-head">
					11.01.01 Монтажник радиоэлектронной аппаратуры и приборов
				</div>
				<div class="accordion-body">
                    <h4 class="accordion-title">
                        2024 год
                    </h4>
                    <ul class="documents-list">
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2024/">
                                </a>
                            </div>
                            <div class="document-item-body">
                                ОПОП-П
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2024/">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Приложение 1
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2024/">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Приложение 2
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2024/">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Приложение 3
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2024/">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Приложение 4
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2024/">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Приложение 5
                            </div>
                        </li>
                    </ul>
                    <h4 class="accordion-title">
                        2023 год
                    </h4>
					<ul class="documents-list">
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2023/11.01.01/50_11.01.01_ОПОП-П.pdf">
								</a>
							</div>
							<div class="document-item-body">
								ОПОП-П
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2023/11.01.01/Приложение_1_11.01.01.docx">
								</a>
							</div>
							<div class="document-item-body">
								Приложение 1
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2023/11.01.01/50_Приложение 2_11.01.01.docx">
								</a>
							</div>
							<div class="document-item-body">
								Приложение 2
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2023/11.01.01//50_Приложение 3_11.01.01.docx">
								</a>
							</div>
							<div class="document-item-body">
								Приложение 3
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="">
								</a>
							</div>
							<div class="document-item-body">
								Приложение 4
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2023/11.01.01/Приложение_5_11.01.01.docx">
								</a>
							</div>
							<div class="document-item-body">
								Приложение 5
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2023/11.01.01/Приложение_6_11.01.01.docx">
								</a>
							</div>
							<div class="document-item-body">
								Приложение 6
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="accordion">
				<div class="accordion-head">
					12.02.03 Радиоэлектронные приборы и устройства
				</div>
				<div class="accordion-body">
                    <h4 class="accordion-title">
                        2024 год
                    </h4>
                    <ul class="documents-list">
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2024/">
                                </a>
                            </div>
                            <div class="document-item-body">
                                ОПОП-П
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2024/">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Приложение 1
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2024/">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Приложение 2
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2024/">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Приложение 3
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2024/">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Приложение 4
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2024/">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Приложение 5
                            </div>
                        </li>
                    </ul>
                    <h4 class="accordion-title">
                        2023 год
                    </h4>
					<ul class="documents-list">
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2023/12.02.03/50_12.02.03_ОПОП-П.pdf">
								</a>
							</div>
							<div class="document-item-body">
								ОПОП-П
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2023/12.02.03/Приложение_1_12.02.03.docx">
								</a>
							</div>
							<div class="document-item-body">
								Приложение 1
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2023/12.02.03/50_Приложение 2_12.02.03.docx">
								</a>
							</div>
							<div class="document-item-body">
								Приложение 2
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2023/12.02.03/50_Приложение 3_12.02.03.docx">
								</a>
							</div>
							<div class="document-item-body">
								Приложение 3
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="">
								</a>
							</div>
							<div class="document-item-body">
								Приложение 4
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="">
								</a>
							</div>
							<div class="document-item-body">
								Приложение 5
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2023/12.02.03/Приложение_6_12.02.03.docx">
								</a>
							</div>
							<div class="document-item-body">
								Приложение 6
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="accordion">
				<div class="accordion-head">
					13.01.10 Электромонтер по ремонту и обслуживанию электрооборудования (по отраслям)
				</div>
				<div class="accordion-body">
                    <h4 class="accordion-title">
                        2024 год
                    </h4>
                    <ul class="documents-list">
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2024/">
                                </a>
                            </div>
                            <div class="document-item-body">
                                ОПОП-П
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2024/">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Приложение 1
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2024/">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Приложение 2
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2024/">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Приложение 3
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2024/">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Приложение 4
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2024/">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Приложение 5
                            </div>
                        </li>
                    </ul>
                    <h4 class="accordion-title">
                        2023 год
                    </h4>
					<ul class="documents-list">
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2023/13.01.10/50_13.01.10_ОПОП-П.pdf">
								</a>
							</div>
							<div class="document-item-body">
								ОПОП-П
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2023/13.01.10/Приложение_1_13.01.10.doc">
								</a>
							</div>
							<div class="document-item-body">
								Приложение 1
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2023/13.01.10/50_Приложение 2_13.01.10.docx">
								</a>
							</div>
							<div class="document-item-body">
								Приложение 2
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2023/13.01.10/28_Приложение 3_13.01.10.docx">
								</a>
							</div>
							<div class="document-item-body">
								Приложение 3
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="">
								</a>
							</div>
							<div class="document-item-body">
								Приложение 4
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2023/13.01.10/Приложение_5_13.01.10.docx">
								</a>
							</div>
							<div class="document-item-body">
								Приложение 5
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2023/13.01.10/Приложение 6_13.01.10.docx">
								</a>
							</div>
							<div class="document-item-body">
								Приложение 6
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="accordion">
				<div class="accordion-head">
					13.02.11 Техническая эксплуатация и обслуживание электрического и электромеханического оборудования
				</div>
				<div class="accordion-body">
                    <h4 class="accordion-title">
                        2024 год
                    </h4>
                    <ul class="documents-list">
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2024/">
                                </a>
                            </div>
                            <div class="document-item-body">
                                ОПОП-П
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2024/">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Приложение 1
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2024/">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Приложение 2
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2024/">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Приложение 3
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2024/">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Приложение 4
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2024/">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Приложение 5
                            </div>
                        </li>
                    </ul>
                    <h4 class="accordion-title">
                        2023 год
                    </h4>
					<ul class="documents-list">
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2023/13.02.11/50_13.02.11_ОПОП-П.pdf">
								</a>
							</div>
							<div class="document-item-body">
								ОПОП-П
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2023/13.02.11/Приложение_1_13.02.11.docx">
								</a>
							</div>
							<div class="document-item-body">
								Приложение 1
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2023/13.02.11/50_Приложение 2_13.02.11.doc">
								</a>
							</div>
							<div class="document-item-body">
								Приложение 2
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2023/13.02.11/50_Приложение 3_13.02.11.docx">
								</a>
							</div>
							<div class="document-item-body">
								Приложение 3
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="">
								</a>
							</div>
							<div class="document-item-body">
								Приложение 4
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2023/13.02.11/Приложение_5_13.02.11.docx">
								</a>
							</div>
							<div class="document-item-body">
								Приложение 5
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2023/13.02.11/Приложение_6_13.02.11.docx">
								</a>
							</div>
							<div class="document-item-body">
								Приложение 6
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="accordion">
				<div class="accordion-head">
					15.01.05 Сварщик ручной и частично механизированной сварки (наплавки)
				</div>
				<div class="accordion-body">
                    <h4 class="accordion-title">
                        2024 год
                    </h4>
                    <ul class="documents-list">
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2024/">
                                </a>
                            </div>
                            <div class="document-item-body">
                                ОПОП-П
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2024/">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Приложение 1
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2024/">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Приложение 2
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2024/">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Приложение 3
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2024/">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Приложение 4
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2024/">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Приложение 5
                            </div>
                        </li>
                    </ul>
                    <h4 class="accordion-title">
                        2023 год
                    </h4>
					<ul class="documents-list">
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2023/15.01.05/50_15.01.05_ОПОП-П.pdf">
								</a>
							</div>
							<div class="document-item-body">
								ОПОП-П
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2023/15.01.05/Приложение 1_15.01.05.docx">
								</a>
							</div>
							<div class="document-item-body">
								Приложение 1
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2023/15.01.05/50_Приложение 2_15.01.05.docx">
								</a>
							</div>
							<div class="document-item-body">
								Приложение 2
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2023/15.01.05/50_Приложение 3_15.01.05.docx">
								</a>
							</div>
							<div class="document-item-body">
								Приложение 3
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="">
								</a>
							</div>
							<div class="document-item-body">
								Приложение 4
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2023/15.01.05/Приложение 5_15.01.05.docx">
								</a>
							</div>
							<div class="document-item-body">
								Приложение 5
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2023/15.01.05/Приложение 6_15.01.05.docx">
								</a>
							</div>
							<div class="document-item-body">
								Приложение 6
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="accordion">
				<div class="accordion-head">
					15.01.29 Контролер качества в машиностроении
				</div>
				<div class="accordion-body">
                    <h4 class="accordion-title">
                        2024 год
                    </h4>
                    <ul class="documents-list">
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2024/">
                                </a>
                            </div>
                            <div class="document-item-body">
                                ОПОП-П
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2024/">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Приложение 1
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2024/">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Приложение 2
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2024/">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Приложение 3
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2024/">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Приложение 4
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2024/">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Приложение 5
                            </div>
                        </li>
                    </ul>
                    <h4 class="accordion-title">
                        2023 год
                    </h4>
					<ul class="documents-list">
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2023/15.01.29/50_15.01.29_ОПОП-П.pdf">
								</a>
							</div>
							<div class="document-item-body">
								ОПОП-П
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2023/15.01.29/Приложение 1_15.01.29.doc">
								</a>
							</div>
							<div class="document-item-body">
								Приложение 1
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2023/15.01.29/50_Приложение 2_15.01.29.docx">
								</a>
							</div>
							<div class="document-item-body">
								Приложение 2
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2023/15.01.29/50_Приложение 3_15.01.29.docx">
								</a>
							</div>
							<div class="document-item-body">
								Приложение 3
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="">
								</a>
							</div>
							<div class="document-item-body">
								Приложение 4
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2023/15.01.29/Приложение 5_15.01.29.docx">
								</a>
							</div>
							<div class="document-item-body">
								Приложение 5
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2023/15.01.29/Приложение 6_15.01.29.docx">
								</a>
							</div>
							<div class="document-item-body">
								Приложение 6
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="accordion">
				<div class="accordion-head">
					15.01.32 Оператор станков с программным управлением
				</div>
				<div class="accordion-body">
                    <h4 class="accordion-title">
                        2024 год
                    </h4>
                    <ul class="documents-list">
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2024/">
                                </a>
                            </div>
                            <div class="document-item-body">
                                ОПОП-П
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2024/">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Приложение 1
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2024/">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Приложение 2
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2024/">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Приложение 3
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2024/">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Приложение 4
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2024/">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Приложение 5
                            </div>
                        </li>
                    </ul>
                    <h4 class="accordion-title">
                        2023 год
                    </h4>
					<ul class="documents-list">
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2023/15.01.32/50_15.01.32_ОПОП-П.pdf">
								</a>
							</div>
							<div class="document-item-body">
								ОПОП-П
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2023/15.01.32/Приложение 1_15.01.32.doc">
								</a>
							</div>
							<div class="document-item-body">
								Приложение 1
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2023/15.01.32/50_Приложение 2_15.01.32.doc">
								</a>
							</div>
							<div class="document-item-body">
								Приложение 2
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2023/15.01.32/50_Приложение 3_15.01.32.docx">
								</a>
							</div>
							<div class="document-item-body">
								Приложение 3
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="">
								</a>
							</div>
							<div class="document-item-body">
								Приложение 4
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2023/15.01.32/Приложение 5_15.01.32.docx">
								</a>
							</div>
							<div class="document-item-body">
								Приложение 5
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2023/15.01.32/Приложение 6_15.01.32.docx">
								</a>
							</div>
							<div class="document-item-body">
								Приложение 6
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="accordion">
				<div class="accordion-head">
					15.02.16 Технология машиностроения
				</div>
				<div class="accordion-body">
                    <h4 class="accordion-title">
                        2024 год
                    </h4>
                    <ul class="documents-list">
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2024/">
                                </a>
                            </div>
                            <div class="document-item-body">
                                ОПОП-П
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2024/">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Приложение 1
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2024/">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Приложение 2
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2024/">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Приложение 3
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2024/">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Приложение 4
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2024/">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Приложение 5
                            </div>
                        </li>
                    </ul>
                    <h4 class="accordion-title">
                        2023 год
                    </h4>
					<ul class="documents-list">
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2023/15.02.16//50_15.02.16_ОПОП-П.pdf">
								</a>
							</div>
							<div class="document-item-body">
								ОПОП-П
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2023/15.02.16/Приложение 1_15.02.16.doc">
								</a>
							</div>
							<div class="document-item-body">
								Приложение 1
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2023/15.02.16/50_Приложение 2_15.02.16.doc">
								</a>
							</div>
							<div class="document-item-body">
								Приложение 2
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2023/15.02.16/50_Приложение 3_15.02.16.doc">
								</a>
							</div>
							<div class="document-item-body">
								Приложение 3
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="">
								</a>
							</div>
							<div class="document-item-body">
								Приложение 4
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2023/15.02.16/Приложение_5_15.02.16.docx">
								</a>
							</div>
							<div class="document-item-body">
								Приложение 5
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2023/15.02.16/Приложение 6_15.02.16.docx">
								</a>
							</div>
							<div class="document-item-body">
								Приложение 6
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="accordion">
				<div class="accordion-head">
					22.02.06 Сварочное производство
				</div>
				<div class="accordion-body">
                    <h4 class="accordion-title">
                        2024 год
                    </h4>
                    <ul class="documents-list">
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2024/">
                                </a>
                            </div>
                            <div class="document-item-body">
                                ОПОП-П
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2024/">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Приложение 1
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2024/">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Приложение 2
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2024/">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Приложение 3
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2024/">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Приложение 4
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2024/">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Приложение 5
                            </div>
                        </li>
                    </ul>
                    <h4 class="accordion-title">
                        2023 год
                    </h4>
					<ul class="documents-list">
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2023/22.02.06/50_22.02.06_ОПОП-П.pdf">
								</a>
							</div>
							<div class="document-item-body">
								ОПОП-П
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2023/22.02.06/Приложение 1_22.02.06.doc">
								</a>
							</div>
							<div class="document-item-body">
								Приложение 1
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2023/22.02.06/50_Приложение 2_22.02.06.docx">
								</a>
							</div>
							<div class="document-item-body">
								Приложение 2
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2023/22.02.06/50_Приложение 3_22.02.06.docx">
								</a>
							</div>
							<div class="document-item-body">
								Приложение 3
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="">
								</a>
							</div>
							<div class="document-item-body">
								Приложение 4
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="">
								</a>
							</div>
							<div class="document-item-body">
								Приложение 5
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2023/22.02.06/Приложение 6_22.02.06.docx">
								</a>
							</div>
							<div class="document-item-body">
								Приложение 6
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>


		<h3 class="section-subtitle">
			ОПОП сетевых образовательных организаций
		</h3>
		<div class="accordions-list">
			<div class="accordion">
				<div class="accordion-head">
					11.02.16 Монтаж, техническое обслуживание и ремонт электронных приборов и устройств
				</div>
				<div class="accordion-body">
                    <h4 class="accordion-title">
                        2024 год
                    </h4>
                    <ul class="documents-list">
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2024/">
                                </a>
                            </div>
                            <div class="document-item-body">
                                ОПОП-П
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2024/">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Приложение 1
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2024/">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Приложение 2
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2024/">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Приложение 3
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2024/">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Приложение 4
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2024/">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Приложение 5
                            </div>
                        </li>
                    </ul>
                    <h4 class="accordion-title">
                        2023 год
                    </h4>
					<ul class="documents-list">
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2023/11.02.16/50_11.02.16_ОПОП-П (1).pdf">
								</a>
							</div>
							<div class="document-item-body">
								ОПОП-П
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2023/11.02.16/Приложение_1_11.02.16.docx">
								</a>
							</div>
							<div class="document-item-body">
								Приложение 1
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2023/11.02.16/28_Приложение 2_11.02.16.docx">
								</a>
							</div>
							<div class="document-item-body">
								Приложение 2
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2023/11.02.16/Приложение 3_11.02.16.pdf">
								</a>
							</div>
							<div class="document-item-body">
								Приложение 3
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="">
								</a>
							</div>
							<div class="document-item-body">
								Приложение 4
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="">
								</a>
							</div>
							<div class="document-item-body">
								Приложение 5
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2023/11.02.16/+Приложение 6. 11.02.16.docx">
								</a>
							</div>
							<div class="document-item-body">
								Приложение 6
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="accordion">
				<div class="accordion-head">
					15.01.13 Монтажник технологического оборудования (по видам оборудования)
				</div>
				<div class="accordion-body">
                    <h4 class="accordion-title">
                        2024 год
                    </h4>
                    <ul class="documents-list">
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2024/">
                                </a>
                            </div>
                            <div class="document-item-body">
                                ОПОП-П
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2024/">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Приложение 1
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2024/">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Приложение 2
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2024/">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Приложение 3
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2024/">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Приложение 4
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2024/">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Приложение 5
                            </div>
                        </li>
                    </ul>
                    <h4 class="accordion-title">
                        2023 год
                    </h4>
					<ul class="documents-list">
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2023/15.01.13/50_15.01.13_ОПОП-П.pdf">
								</a>
							</div>
							<div class="document-item-body">
								ОПОП-П
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2023/15.01.13/Приложение_1_15.01.13.docx">
								</a>
							</div>
							<div class="document-item-body">
								Приложение 1
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2023/15.01.13/28_Приложение 2_15.01.13.docx">
								</a>
							</div>
							<div class="document-item-body">
								Приложение 2
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2023/15.01.13/50_Приложение 3_15.01.13.docx">
								</a>
							</div>
							<div class="document-item-body">
								Приложение 3
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="">
								</a>
							</div>
							<div class="document-item-body">
								Приложение 4
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="">
								</a>
							</div>
							<div class="document-item-body">
								Приложение 5
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2023/15.01.13/+Приложение 6_15.01.13.docx">
								</a>
							</div>
							<div class="document-item-body">
								Приложение 6
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="accordion">
				<div class="accordion-head">
					15.01.20 Слесарь по контрольно-измерительным приборам и автоматике
				</div>
				<div class="accordion-body">
                    <h4 class="accordion-title">
                        2024 год
                    </h4>
                    <ul class="documents-list">
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2024/">
                                </a>
                            </div>
                            <div class="document-item-body">
                                ОПОП-П
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2024/">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Приложение 1
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2024/">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Приложение 2
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2024/">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Приложение 3
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2024/">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Приложение 4
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2024/">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Приложение 5
                            </div>
                        </li>
                    </ul>
                    <h4 class="accordion-title">
                        2023 год
                    </h4>
					<ul class="documents-list">
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2023/15.01.20/50_15.01.20_ОПОП-П.pdf">
								</a>
							</div>
							<div class="document-item-body">
								ОПОП-П
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2023/15.01.20/Приложение 1_15.01.20.doc">
								</a>
							</div>
							<div class="document-item-body">
								Приложение 1
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2023/15.01.20/50_Приложение 2_15.01.20.doc">
								</a>
							</div>
							<div class="document-item-body">
								Приложение 2
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2023/15.01.20/50_Приложение 3_15.01.20.doc">
								</a>
							</div>
							<div class="document-item-body">
								Приложение 3
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="">
								</a>
							</div>
							<div class="document-item-body">
								Приложение 4
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="">
								</a>
							</div>
							<div class="document-item-body">
								Приложение 5
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="">
								</a>
							</div>
							<div class="document-item-body">
								Приложение 6
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="accordion">
				<div class="accordion-head">
					15.01.35 Мастер слесарных работ
				</div>
				<div class="accordion-body">
                    <h4 class="accordion-title">
                        2024 год
                    </h4>
                    <ul class="documents-list">
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2024/">
                                </a>
                            </div>
                            <div class="document-item-body">
                                ОПОП-П
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2024/">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Приложение 1
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2024/">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Приложение 2
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2024/">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Приложение 3
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2024/">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Приложение 4
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2024/">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Приложение 5
                            </div>
                        </li>
                    </ul>
                    <h4 class="accordion-title">
                        2023 год
                    </h4>
					<ul class="documents-list">
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2023/15.01.35/50_15.01.35_ОПОП-П.pdf">
								</a>
							</div>
							<div class="document-item-body">
								ОПОП-П
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2023/15.01.35/Приложение 1_15.01.35.doc">
								</a>
							</div>
							<div class="document-item-body">
								Приложение 1
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2023/15.01.35/50_Приложение 2_15.01.35.docx">
								</a>
							</div>
							<div class="document-item-body">
								Приложение 2
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2023/15.01.35/50_Приложение 3_15.01.35.docx">
								</a>
							</div>
							<div class="document-item-body">
								Приложение 3
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="">
								</a>
							</div>
							<div class="document-item-body">
								Приложение 4
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2023/15.01.35/Приложение 5_15.01.32.docx">
								</a>
							</div>
							<div class="document-item-body">
								Приложение 5
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/professionalitet/OPOPP/2023/15.01.35/+Приложение 6_15.01.35.docx">
								</a>
							</div>
							<div class="document-item-body">
								Приложение 6
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>

	</section>
	<aside id="sidebar" class="sidebar">
		<h3 class="sidebar-title">
			Профессионалитет
		</h3>
		<nav class="sidebar-body">
			<ul class="sidebar-links">
				<li class="sidebar-link">
					<a href='@Url.Page("About")'>
						О профессионалитете
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("Specialities")'>
						Специальности
					</a>
				</li>
				<li class="sidebar-link sidebar-link-selected">
					<a href='@Url.Page("OPOPP")'>
						ОПОП-П
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("Partners")'>
						Партнеры
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("ManagementCompany")'>
						Управляющая компания
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("/applicant/AdmissionRules")'>
						Правила приема
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("ProjectNews")'>
						Новости проекта
					</a>
				</li>
			</ul>
		</nav>
	</aside>
</div>