@page
@model PartnersModel
@{
    ViewData["Title"] = "Партнеры";
}

<link rel="stylesheet" href="~/css/projectsAndEvents/professionalitet/partners.css" asp-append-version="true">
<div class="container content-page">
    <section class="content">
        <h2 class="section-title">
            Партнеры
        </h2>

        <ul class="project-partners">
            <li class="project-partners-item">
                НПО "МИР"
                <img class="project-partners-item-img" src="~/images/projectsAndEvents/professionalitet/partners/npoMir.svg">
            </li>
            <li class="project-partners-item">
                Производственное объединение "Полёт"
                <img class="project-partners-item-img " src="~/images/projectsAndEvents/professionalitet/partners/polyot.svg">
            </li>
            <li class="project-partners-item">
                Акционерное общество «Центральное конструкторское бюро автоматики»
                <img class="project-partners-item-img " src="~/images/projectsAndEvents/professionalitet/partners/ckba.svg">
            </li>
            <li class="project-partners-item">
                Акционерное общество «Омский завод транспортного машиностроения»
                <img class="project-partners-item-img" src="~/images/projectsAndEvents/professionalitet/partners/transmash.png">
            </li>
            <li class="project-partners-item">
                Акционерное общество «Омский электромеханический завод»
                <img class="project-partners-item-img " src="~/images/projectsAndEvents/professionalitet/partners/oemz.svg">
            </li>
            <li class="project-partners-item">
                Акционерное общество «Омский научно-исследовательский институт приборостроения»
                <img class="project-partners-item-img " src="~/images/projectsAndEvents/professionalitet/partners/oniip.svg">
            </li>

            <!-- education partners -->
            <li class="project-partners-item">
                БПОУ «Омский многопрофильный техникум»
                <img class="project-partners-item-img " src="~/images/projectsAndEvents/professionalitet/partners/mnogoprofilniTechnikum.png">
            </li>
            <li class="project-partners-item">
                БПОУ «Омский государственный колледж управления и профессиональных технологий»
                <img class="project-partners-item-img " src="~/images/projectsAndEvents/professionalitet/partners/upravlenieProfTehnologii.png">
            </li>
            <li class="project-partners-item">
                БПОУ «Сибирский профессиональный колледж»
                <img class="project-partners-item-img " src="~/images/projectsAndEvents/professionalitet/partners/spk.png">
            </li>
            <li class="project-partners-item">
                БПОУ «Омский техникум строительства и лесного хозяйства»
                <img class="project-partners-item-img " src="~/images/projectsAndEvents/professionalitet/partners/otslx.png">
            </li>
            <li class="project-partners-item">
                БПОУ «Омский промышленно-экономический колледж»
                <img class="project-partners-item-img " src="~/images/projectsAndEvents/professionalitet/partners/promislennoEkonomiceskiColledge.jpg">
            </li>
            <li class="project-partners-item">
                БПОУ «Омский монтажный техникум»
                <img class="project-partners-item-img " src="~/images/projectsAndEvents/professionalitet/partners/montagniTehnikum.jpg">
            </li>
            <li class="project-partners-item">
                БПОУ «Тарский индустриально-педагогический колледж»
                <img class="project-partners-item-img " src="~/images/projectsAndEvents/professionalitet/partners/tipk.jpg">
            </li>
        </ul>

    </section>
    <aside id="sidebar" class="sidebar">
        <h3 class="sidebar-title">
            Профессионалитет
        </h3>
        <nav class="sidebar-body">
            <ul class="sidebar-links">
                <li class="sidebar-link">
                    <a href='@Url.Page("About")'>
                        О профессионалитете
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("Specialities")'>
                        Специальности
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("OPOPP")'>
                        ОПОП-П
                    </a>
                </li>
                <li class="sidebar-link sidebar-link-selected">
                    <a href='@Url.Page("Partners")'>
                        Партнеры
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("ManagementCompany")'>
                        Управляющая компания
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("RepairProgress")'>
                        Ход ремонтных работ
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("/applicant/AdmissionRules")'>
                        Правила приема
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("ProjectNews")'>
                        Новости проекта
                    </a>
                </li>
            </ul>
        </nav>
    </aside>
</div>