@page
@model RepairProgressModel
@{
    ViewData["Title"] = "Ход ремонтных работ";
}


<div class="container content-page">
    <section class="content">
        <h2 class="section-title">
            Ход ремонтных работ
        </h2>

        <div class="images-list-slider-container">
            <div class="images-list-slider">
                <img src="~/images/projectsAndEvents/professionalitet/repairProgress/slide1.jfif" alt="">
                <img src="~/images/projectsAndEvents/professionalitet/repairProgress/slide2.jfif" alt="">
                <img src="~/images/projectsAndEvents/professionalitet/repairProgress/slide3.jfif" alt="">
                <img src="~/images/projectsAndEvents/professionalitet/repairProgress/slide4.jfif" alt="">
                <img src="~/images/projectsAndEvents/professionalitet/repairProgress/slide5.jfif" alt="">
                <img src="~/images/projectsAndEvents/professionalitet/repairProgress/slide6.jfif" alt="">
                <img src="~/images/projectsAndEvents/professionalitet/repairProgress/slide7.jfif" alt="">
                <img src="~/images/projectsAndEvents/professionalitet/repairProgress/slide8.jfif" alt="">
                <img src="~/images/projectsAndEvents/professionalitet/repairProgress/slide9.jfif" alt="">
                <img src="~/images/projectsAndEvents/professionalitet/repairProgress/slide10.jfif" alt="">
                <img src="~/images/projectsAndEvents/professionalitet/repairProgress/slide11.jfif" alt="">
                <img src="~/images/projectsAndEvents/professionalitet/repairProgress/slide12.jfif" alt="">
                <img src="~/images/projectsAndEvents/professionalitet/repairProgress/slide13.jfif" alt="">
                <img src="~/images/projectsAndEvents/professionalitet/repairProgress/slide14.jfif" alt="">
                <img src="~/images/projectsAndEvents/professionalitet/repairProgress/slide15.jfif" alt="">
                <img src="~/images/projectsAndEvents/professionalitet/repairProgress/slide16.jfif" alt="">
                <img src="~/images/projectsAndEvents/professionalitet/repairProgress/slide17.jfif" alt="">
                <img src="~/images/projectsAndEvents/professionalitet/repairProgress/slide18.jfif" alt="">
                <img src="~/images/projectsAndEvents/professionalitet/repairProgress/slide19.jfif" alt="">
                <img src="~/images/projectsAndEvents/professionalitet/repairProgress/slide20.jfif" alt="">
                <img src="~/images/projectsAndEvents/professionalitet/repairProgress/slide21.jfif" alt="">
                <img src="~/images/projectsAndEvents/professionalitet/repairProgress/slide22.jfif" alt="">
                <img src="~/images/projectsAndEvents/professionalitet/repairProgress/slide23.jfif" alt="">
            </div>
        </div>

    </section>
    <aside id="sidebar" class="sidebar">
        <h3 class="sidebar-title">
            Профессионалитет
        </h3>
        <nav class="sidebar-body">
            <ul class="sidebar-links">
                <li class="sidebar-link">
                    <a href='@Url.Page("About")'>
                        О профессионалитете
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("Specialities")'>
                        Специальности
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("OPOPP")'>
                        ОПОП-П
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("Partners")'>
                        Партнеры
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("ManagementCompany")'>
                        Управляющая компания
                    </a>
                </li>
                <li class="sidebar-link sidebar-link-selected">
                    <a href='@Url.Page("RepairProgress")'>
                        Ход ремонтных работ
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("/applicant/AdmissionRules")'>
                        Правила приема
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("ProjectNews")'>
                        Новости проекта
                    </a>
                </li>
            </ul>
        </nav>
    </aside>
</div>