@page
@model RepairProgressModel
@{
    ViewData["Title"] = "Ход ремонтных работ";
}


<div class="container content-page">
    <section class="content">
        <h2 class="section-title">
            Ход ремонтных работ
        </h2>

        <div class="images-list-slider-container">
            <div class="images-list-slider">
                <img src="~/images/projectsAndEvents/professionalitet/repairProgress/5 осей готово.jpg" alt="">
                <img src="~/images/projectsAndEvents/professionalitet/repairProgress/5 осей стена готово.jpg" alt="">
                <img src="~/images/projectsAndEvents/professionalitet/repairProgress/вход готово.jpg" alt="">
                <img src="~/images/projectsAndEvents/professionalitet/repairProgress/коридор готово.jpg" alt="">
                <img src="~/images/projectsAndEvents/professionalitet/repairProgress/метрология готово.jpg" alt="">
                <img src="~/images/projectsAndEvents/professionalitet/repairProgress/РМ 2 готово.jpg" alt="">
                <img src="~/images/projectsAndEvents/professionalitet/repairProgress/РМ готово.jpg" alt="">
                <img src="~/images/projectsAndEvents/professionalitet/repairProgress/сварка готово.jpg" alt="">
                <img src="~/images/projectsAndEvents/professionalitet/repairProgress/связь готово.jpg" alt="">
                <img src="~/images/projectsAndEvents/professionalitet/repairProgress/токарка готовое_1.jpg" alt="">
                <img src="~/images/projectsAndEvents/professionalitet/repairProgress/токарка готовое_2.jpg" alt="">
                <img src="~/images/projectsAndEvents/professionalitet/repairProgress/фасад готово.jpg" alt="">
            </div>
        </div>


        <div class="accordions-list">
            <div class="accordion">
                <div class="accordion-head">
                    Документы
                </div>
                <div class="accordion-body">
                    <ul class="documents-list little">
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/repairProgress/09.02.07ФИНАЛ-min.pdf"></a>
                            </div>
                            <div class="document-item-body">
                                09.02.01
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/repairProgress/10.02.05ФИНАЛ-min.pdf"></a>
                            </div>
                            <div class="document-item-body">
                                10.02.05
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/repairProgress/11.01.01ФИНАЛ-min.pdf"></a>
                            </div>
                            <div class="document-item-body">
                                11.01.01
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/repairProgress/11.02.16ФИНАЛ-min.pdf"></a>
                            </div>
                            <div class="document-item-body">
                                11.02.16
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/repairProgress/12.02.03ФИНАЛ-min.pdf"></a>
                            </div>
                            <div class="document-item-body">
                                12.02.03
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/repairProgress/13.01.10ФИНАЛ-min.pdf"></a>
                            </div>
                            <div class="document-item-body">
                                13.01.10
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/repairProgress/13.02.11ФИНАЛ-min.pdf"></a>
                            </div>
                            <div class="document-item-body">
                                13.02.11
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/repairProgress/15.01.05ФИНАЛ-min.pdf"></a>
                            </div>
                            <div class="document-item-body">
                                15.01.05
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/repairProgress/15.01.13ФИНАЛ-min.pdf"></a>
                            </div>
                            <div class="document-item-body">
                                15.01.13
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/repairProgress/15.01.20ФИНАЛ-min.pdf"></a>
                            </div>
                            <div class="document-item-body">
                                15.01.20
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/repairProgress/15.01.29ФИНАЛ-min.pdf"></a>
                            </div>
                            <div class="document-item-body">
                                15.01.29
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/repairProgress/15.01.32ФИНАЛ-min.pdf"></a>
                            </div>
                            <div class="document-item-body">
                                15.01.32
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/repairProgress/15.01.35ФИНАЛ-min.pdf"></a>
                            </div>
                            <div class="document-item-body">
                                15.01.35
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/repairProgress/15.02.16ОЗФИНАЛ-min.pdf"></a>
                            </div>
                            <div class="document-item-body">
                                15.02.16 ОЗ
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/repairProgress/15.02.16ФИНАЛ-min.pdf"></a>
                            </div>
                            <div class="document-item-body">
                                15.02.16
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/professionalitet/repairProgress/22.02.06ФИНАЛ-min.pdf"></a>
                            </div>
                            <div class="document-item-body">
                                22.02.06
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </section>
    <aside id="sidebar" class="sidebar">
        <h3 class="sidebar-title">
            Профессионалитет
        </h3>
        <nav class="sidebar-body">
            <ul class="sidebar-links">
                <li class="sidebar-link">
                    <a href='@Url.Page("About")'>
                        О профессионалитете
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("Specialities")'>
                        Специальности
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("OPOPP")'>
                        ОПОП-П
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("Partners")'>
                        Партнеры
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("ManagementCompany")'>
                        Управляющая компания
                    </a>
                </li>
                <li class="sidebar-link sidebar-link-selected">
                    <a href='@Url.Page("RepairProgress")'>
                        Ход ремонтных работ
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("/applicant/AdmissionRules")'>
                        Правила приема
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("ProjectNews")'>
                        Новости проекта
                    </a>
                </li>
            </ul>
        </nav>
    </aside>
</div>