@page "{building?}/{cabinet_text?}"
@model OMAVIAT.RazorPages.timetable.CabinetScheduleModel
@{	
    ViewData["Title"] = $"Расписание кабинета {Model.cabinet_text}";

}
<link rel="stylesheet" href="~/css/timetable/timetable.css" asp-append-version="true">
<section class="timetable-container">
    @if (Model.cabinet is null || Model.corpus is null)
    {
        <h2 class="section-title title-centered">
            Такого кабинета нет
        </h2>
        return;
    }
    <h2 class="section-title title-centered">
        Расписание кабинета @Model.cabinet.name
    </h2>

    @for (var week_id = 1; week_id <= Model.cabinet.Weeks.Count; week_id++)
    {

        <table class="customized timetable" style="display: none;">
            <thead>
                <tr>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="customized timetable">
            <thead>
                <tr>
                    <th>
                        №
                    </th>
                    <th>
                        Время
                    </th>
                    <th>
                        Понедельник-@week_id
                    </th>
                    <th>
                        Вторник-@week_id
                    </th>
                    <th>
                        Среда-@week_id
                    </th>
                    <th>
                        Четверг-@week_id
                    </th>
                    <th>
                        Пятница-@week_id
                    </th>
                    <th>
                        Суббота-@week_id
                    </th>
                    <th>
                        Воскресенье-@week_id
                    </th>
                </tr>
            </thead>
            <tbody>
                @{
                    var week = Model.cabinet.Weeks.Where(e => e.Type == (week_id == 1 ? OMAVIAT.Entities.Enums.ScheduleWeekType.First : OMAVIAT.Entities.Enums.ScheduleWeekType.Second)).First();
                }

                @for (int lesson_id = Model.GetMinLessonsInDay(week); lesson_id <= Model.GetMaxLessonsInDay(week); lesson_id++)
                {
                    var days = Model.GetAllLessonsByNumber(lesson_id, week);
                    var ring = Model.corpus.bells.FirstOrDefault(e => e.Id == lesson_id);

                    <tr>

                        <td>
                            @lesson_id
                        </td>
                        <td>
                            @if (ring is not null)
                            {
                                @ring.start
                                <br />
                                @ring.end
                            }
                        </td>

                        @foreach (var lesson in days)
                        {
                            if (lesson is null)
                            {
                                <td></td>
                                continue;
                            }

                            <td>
                                <div class="subjectt">
                                    <div class="subjectt-name">
                                        @lesson.Name
                                    </div>
                                    <div class="subjectt-more">
                                        <div class="subjectt-more-item">
                                            @if (lesson.subGroupId != 0)
                                            {
                                                <div class="subject-teacher">
                                                    Подгруппа @lesson.subGroupId
                                                </div>
                                            }
                                            <div class="subject-teacher">
                                                @lesson.Group
                                            </div>
                                            <div class="subject-teacher">
                                                @lesson.Teacher
                                            </div>
                                            <div class="subjectt-teacher">
                                                @lesson.Cabinet
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>

                        }

                        @for (var i = 0; i < 7 - days.Count(); i++)
                        {
                            <td></td>

                        }
                    </tr>

                }

            </tbody>
        </table>
    }





</section>