@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using OMAVIAT.Services.Workers
@model Management

@{
}

<div class="container content-page">
	<section class="content">

		<h2 class="section-title">
			Руководство
		</h2>

		@if (WorkersReader.Administration.Count() is 3)
		{
			<h3 class="section-subtitle">
				Директор
			</h3>
			<ul class="people-list">
				@foreach (var person in WorkersReader.Administration[0])
				{
					<li class="people-item">
						<a class="people-item-img-container" href="/organizationInformation/worker/@person.FullName">
							<img src="/api/images/teachers/@person.FullName" loading="lazy" alt="">
						</a>
						<div class="people-item-body more-info">
							<div class="people-item-body-fio">
								@person.FullName
							</div>
							<div class="people-item-body-job">
								@person.Post
							</div>
						</div>
					</li>
				}
			</ul>

			<h3 class="section-subtitle">
				Заместители руководителя
			</h3>
			<ul class="people-list">
				@foreach (var person in WorkersReader.Administration[1])
				{
					<li class="people-item">
						<a class="people-item-img-container" href="/organizationInformation/worker/@person.FullName">
							<img src="/api/images/teachers/@person.FullName" alt="">
						</a>
						<div class="people-item-body more-info">
							<div class="people-item-body-fio">
								@person.FullName
							</div>
							<div class="people-item-body-job">
								@person.Post
							</div>
						</div>
					</li>
				}
			</ul>

			<h3 class="section-subtitle">
				Главный бухгалтер
			</h3>
			<ul class="people-list">
				@foreach (var person in WorkersReader.Administration[2])
				{
					<li class="people-item">
						<a class="people-item-img-container" href="/organizationInformation/worker/@person.FullName">
							<img src="/api/images/teachers/@person.FullName" alt="">
						</a>
						<div class="people-item-body more-info">
							<div class="people-item-body-fio">
								@person.FullName
							</div>
							<div class="people-item-body-job">
								@person.Post
							</div>
						</div>
					</li>
				}
			</ul>
		}

	</section>
	<aside id="sidebar" class="sidebar long">
		<h3 class="sidebar-title">
			Сведения об образовательной организации
		</h3>
		<nav class="sidebar-body">
			<ul class="sidebar-links">
				<li class="sidebar-link">
					<a asp-page="CommonIntelligence">
						Основные сведения
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Structure">
						Структура и органы управления образовательной организацией
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Documents">
						Документы
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Education">
						Образование
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="EducationalStandards">
						Образовательные стандарты и требования
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="EducationalProcess">
						Организация воспитательного процесса
					</a>
				</li>
				<li class="sidebar-link sidebar-link-selected">
					<a asp-page="Management">
						Руководство
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="ManagementPedagogicalStaff">
						Педагогический (научно-педагогический) состав
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="LogisticsAndAccessibleEnvironment">
						Материально-техническое обеспечение и оснащенность образовательного процесса. Доступная среда
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="PaidEducationalServices">
						Платные образовательные услуги
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="FinancialEconomicActivity">
						Финансово-хозяйственная деятельность
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="VacanciesForAdmission">
						Вакантные места для приема (перевода) обучающихся
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Vacancies">
						Вакансии
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="InternationalCooperation">
						Международное сотрудничество
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="StudentSupport">
						Стипендии и меры поддержки обучающихся
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Terrorism">
						Противодействие экстремизму и терроризму
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Corruption">
						Противодействие коррупции
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Library">
						Библиотека
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Food">
						Организация питания в образовательной организации
					</a>
				</li>
				<li class="sidebar-link">
					<a href="https://www.oat.ru/students/TargetedTraining">
						Целевое обучение
					</a>
				</li>
			</ul>
		</nav>
	</aside>
</div>