@page "{FullName?}"
@using OMAVIAT.Pages.organizationInformation;

@model WorkerModel
@{
	ViewData["Title"] = Model.worker is not null ? Model.worker.FullName : "Пользователь не найден";
}

<link rel="stylesheet" href="~/css/organizationInformation/worker.css" asp-append-version="true">

<div class="container content-page">
	<section class="content">
		@if (Model.worker is not null)
		{
			var worker = Model.worker;
			<h2 class="section-title">
				@worker.FullName
			</h2>
			<div class="staff-person-basic director">
				<div class="staff-person-basic-info">
					<div class="staff-person-basic-job">
						@Model.worker.Post
					</div>
					@*				  
					<div class="staff-person-basic-phone">
						30-52-98
					</div>
					<div class="staff-person-basic-email">
						koltsov@oat.ru
					</div>
					*@
				</div>
				<div class="staff-person-basic-photo">
					<img src="/api/images/teachers/@Model.worker.FullName" alt="">
				</div>
			</div>


			<h3 class="section-subtitle">
				Образование
			</h3>

			@if (worker.Education1_Type is not null)
			{
				<h4 class="section-subtitle-small">
					Уровень первого образования
				</h4>
				<p>
					@worker.Education1_Type
				</p>
				if (worker.Education1_EducationalInstitution is not null)
				{
					<h4 class="section-subtitle-small">
						Первое образование учебное заведение:
					</h4>
					<p>
						@worker.Education1_EducationalInstitution @(worker.Education1_issued is not null ? $"({worker.Education1_issued})" : "")
					</p>
				}
				if (worker.Education1_specialization is not null)
				{
					<h4 class="section-subtitle-small">
						Первое образование специальность:
					</h4>
					<p>
						@worker.Education1_specialization
					</p>
				}
			}

			@if (worker.Education2_Type is not null)
			{
				<h4 class="section-subtitle-small">
					Уровень второго образования
				</h4>
				<p>
					@worker.Education2_Type
				</p>
				if (worker.Education2_EducationalInstitution is not null)
				{
					<h4 class="section-subtitle-small">
						Второе образование учебное заведение:
					</h4>
					<p>
						@worker.Education2_EducationalInstitution @(worker.Education2_issued is not null ? $"({worker.Education2_issued})" : "")
					</p>
				}
				if (worker.Education2_specialization is not null)
				{
					<h4 class="section-subtitle-small">
						Второе образование специальность:
					</h4>
					<p>
						@worker.Education2_specialization
					</p>
				}
			}

			<h4 class="section-subtitle-small">
				Квалификация
			</h4>
			<ul class="customized">
				@if (worker.Qualification is not null)
					@foreach (var Qualification in worker.Qualification.Split("\n"))
					{
						<li>
							@Qualification
						</li>
					}
				
			</ul>
			@*		  
			<h4 class="section-subtitle-small">
				Наименование направления подготовки и (или) специальности
			</h4>
			<p>
				ФГАОУ ДПО "Государственный институт новых форм обучения" (18.02.2019 - 27.04.2019)
			</p>
			*@
			@if (worker.AcademicDegree is not null)
			{
				<h4 class="section-subtitle-small">
					Ученая степень 
				</h4>
				<p>
					@worker.AcademicDegree
				</p>
			}

			@*
			<h4 class="section-subtitle-small">
				Ученое звание (при наличии)
			</h4>
			<p>
				Информация не указана
			</p>
			*@
			@if (worker.ProfessionalDevelopment is not null)
			{
				var ProfessionalDevelopment = worker.ProfessionalDevelopment.Split("\n");
				@if (ProfessionalDevelopment.Count() is not 0)
				{
					<h4 class="section-subtitle-small">
						Повышение квалификации и (или) профессиональная переподготовка (при наличии)
					</h4>
					@foreach (var _element in ProfessionalDevelopment)
					{
						<p>
							@_element
						</p>
					}

				}
			}
			<h3 class="section-subtitle">
				Стаж работы
			</h3>
			@if (worker.AllExperience is not null)
			{
				<h4 class="section-subtitle-small">
					Общий
				</h4>
				<p>
					@worker.AllExperience
				</p>
			}

			@if (worker.ExperienceInOAT is not null)
			{
				<h4 class="section-subtitle-small">
					Стаж работы в образовательной организации:
				</h4>
				<p>
					@worker.ExperienceInOAT
				</p>
			}

			@if (worker.TeacherExperience is not null)
			{
				<h4 class="section-subtitle-small">
					Педагогический стаж:
				</h4>
				<p>
					@worker.TeacherExperience
				</p>
			}
			@*			 
			<h4 class="section-subtitle-small">
				Преподаваемые учебные предметы, курсы, дисциплины(модули)
			</h4>
			<p>
				Информация не указана
			</p>
			*@
		}
		else
		{
			<h2 class="section-title">
				Пользователь не найден
			</h2>
		}
	</section>
	
	<aside id="sidebar" class="sidebar long">
		<h3 class="sidebar-title">
			Сведения об образовательной организации
		</h3>
		<nav class="sidebar-body">
			<ul class="sidebar-links">
				<li class="sidebar-link">
					<a asp-page="CommonIntelligence">
						Основные сведения
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Structure">
						Структура и органы управления образовательной организацией
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Documents">
						Документы
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Education">
						Образование
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="EducationalStandards">
						Образовательные стандарты и требования
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="EducationalProcess">
						Организация воспитательного процесса
					</a>
				</li>
				<li class="sidebar-link sidebar-link-selected">
					<a asp-page="ManagementPedagogicalStaff">
						Руководство. Педагогический (научно-педагогический) состав
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="LogisticsAndAccessibleEnvironment">
						Материально-техническое обеспечение и оснащенность образовательного процесса. Доступная среда
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="PaidEducationalServices">
						Платные образовательные услуги
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="FinancialEconomicActivity">
						Финансово-хозяйственная деятельность
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Jobs">
						Вакантные места для приема (перевода) обучающихся
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Vacancies">
						Вакансии
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="InternationalCooperation">
						Международное сотрудничество
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="StudentSupport">
						Стипендии и меры поддержки обучающихся
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Terrorism">
						Противодействие экстремизму и терроризму
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Corruption">
						Противодействие коррупции
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Library">
						Библиотека
					</a>
				</li>
                <li class="sidebar-link">
                    <a asp-page="Food">
                        Организация питания в образовательной организации
                    </a>
                </li>
			</ul>
		</nav>
	</aside>
</div>